<div *ngIf="userJob && userJob.published && !userJob.cancelled && !userJob.approved">
  <br>
  <div class="alert alert-info">
    Obrigado por criar um job. Para mantermos a nossa qualidade, o mesmo será analisado pelo time
    e uma vez aprovado será publicado. <br>
    Time Ucasting
  </div>
</div>

<form [formGroup]="jobForm">
  <div class="form-section">
    <h3 class="title">
      <span class="desc" *ngIf="!jobId">Novo Perfil</span>
      <span class="desc" *ngIf="jobId && !formDisabled">Editando {{userJob.name}}</span>
      <span class="desc" *ngIf="jobId && formDisabled">Visualizando Perfil</span>
    </h3>
    <div class="row">
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'name'"
            [labelText]="'Nome do perfil'"
            [serverErrors]="serverErrors?.children?.name">
          <input id="name" type="text" formControlName="name" class="form-control">
        </uc-extended-input>
      </div>
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'jobType'"
            [labelText]="'Tipo de Job'"
            [serverErrors]="serverErrors?.children?.jobType">
          <select [attr.id]="'jobType'" formControlName="jobType" class="form-control">
            <option *ngFor="let option of entitiesService.jobTypeArray$|async" [value]="option.id">
              {{option.name}}
            </option>
          </select>
        </uc-extended-input>
      </div>
    </div>
    <h4 class="form-section-title">O que fazer?</h4>
    <div class="row">
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'description'"
            [labelText]="'Descrição objetiva da vaga'"
            [serverErrors]="serverErrors?.children?.description">
          <textarea id="description" type="text" formControlName="description" class="form-control"></textarea>
        </uc-extended-input>
      </div>
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'observations'"
            [labelText]="'Observações'"
            [serverErrors]="serverErrors?.children?.observations">
          <textarea id="observations" type="text" formControlName="observations" class="form-control"></textarea>
        </uc-extended-input>
      </div>
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'location'"
            [labelText]="'Local de trabalho'"
            [serverErrors]="serverErrors?.children?.location">
          <select id="location" type="text" formControlName="location" class="form-control">
            <option *ngFor="let location of locations" [value]="location.id">
              {{location.name}}
            </option>
          </select>
        </uc-extended-input>
      </div>
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'totalPositions'"
            [labelText]="'Número de vagas'"
            [serverErrors]="serverErrors?.children?.totalPositions">
          <input type="number" min="1" formControlName="totalPositions" class="form-control">
        </uc-extended-input>
      </div>
    </div>
    <h4 class="form-section-title">Quando?</h4>
    <div class="row">
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'start'"
            [labelText]="'Início'"
            [serverErrors]="serverErrors?.children?.start">
          <input id="start" type="text" formControlName="start" class="form-control" placeholder="dd/mm/aaaa">
        </uc-extended-input>
      </div>
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'end'"
            [labelText]="'Fim'"
            [serverErrors]="serverErrors?.children?.end">
          <input id="end" type="text" formControlName="end" class="form-control" placeholder="dd/mm/aaaa">
        </uc-extended-input>
      </div>
    </div>
    <h4 class="form-section-title">Jornada?</h4>
    <div class="row">
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'journeyStartTime'"
            [labelText]="'Início'"
            [serverErrors]="serverErrors?.children?.journeyStartTime">
          <input id="journeyStartTime" type="text" formControlName="journeyStartTime" class="form-control"
                 placeholder="hh:mm">
        </uc-extended-input>
      </div>
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'journeyEndTime'"
            [labelText]="'Fim'"
            [serverErrors]="serverErrors?.children?.journeyEndTime">
          <input id="journeyEndTime" type="text" formControlName="journeyEndTime" class="form-control"
                 placeholder="hh:mm">
        </uc-extended-input>
      </div>
    </div>
    <h4 class="form-section-title">Quanto?</h4>
    <div class="row">
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'remuneration'"
            [labelText]="'Valor (R$)'"
            [serverErrors]="serverErrors?.children?.remuneration">
          <input id="remuneration" type="number" formControlName="remuneration" class="form-control">
        </uc-extended-input>
      </div>
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'remunerationType'"
            [labelText]="'Por'"
            [serverErrors]="serverErrors?.children?.remunerationType">
          <select id="remunerationType" formControlName="remunerationType" class="form-control">
            <option *ngFor="let option of entitiesService.remunerationTypeArray$|async" [value]="option.id">
              {{option.name}}
            </option>
          </select>
        </uc-extended-input>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'daysToPayment'"
            [labelText]="'Dias para pagamento'"
            [serverErrors]="serverErrors?.children?.daysToPayment"
        >
          <select [attr.id]="'daysToPayment'" formControlName="daysToPayment" class="form-control">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
            <option value="60">60</option>
          </select>
        </uc-extended-input>
      </div>
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'benefits'"
            [labelText]="'Benefícios (Segure Ctrl para selecionar multiplos valores)'"
            [serverErrors]="serverErrors?.children?.benefits"
        >
          <select [attr.id]="'benefits'" formControlName="benefits" class="form-control"
                  multiple>
            <option *ngFor="let option of entitiesService.benefitArray$ | async" [value]="option.id">{{option.name}}
            </option>
          </select>
        </uc-extended-input>
      </div>
    </div>

  </div>
  <div class="form-section">
    <div class="info-box-content info-box-gray">
      <div [hidden]="visibleRequirements" (click)="addRequirements()"
           class="btn btn-block text-center form-section-title">
        Editar requisitos
      </div>
      <div [hidden]="!visibleRequirements">
        <div class="btn btn-warning btn-sm pull-xs-right" (click)="removeRequirements()">
          <i class="fa fa-minus "></i>
        </div>
        <h3 class="text-lg-center form-section-title">Requisitos</h3>
        <div class="form-section">
          <h4 class="form-section-title">Cursos</h4>
          <div class="row" [formGroup]="courseForm" *ngFor="let courseForm of coursesForm.controls; let i = index;">
              <div class="col-lg-6">
                <uc-extended-input
                    [id]="'course-name-' + i"
                    [labelText]="'Curso'"
                    [serverErrors]="serverErrors?.children?.courses?.children
                       && serverErrors.children.courses.children.length > i
                       && serverErrors.children.courses.children[i].children.name"
                >
                  <input type="text" [attr.id]="'course-name-' + i" formControlName="name"
                         class="form-control">
                </uc-extended-input>
              </div>
              <div class="col-lg-6">
                <uc-extended-input
                    [id]="'course-level-' + i"
                    [labelText]="'Nível'"
                    [serverErrors]="serverErrors?.children?.courses?.children
                       && serverErrors.children.courses.children.length > i
                       && serverErrors.children.courses.children[i].children.level"
                >
                  <select [attr.id]="'course-level-' + i" formControlName="level"
                          class="form-control">
                    <option *ngFor="let level of courseLevels"
                            [value]="level.id">
                      {{level.name}}
                    </option>
                  </select>
                </uc-extended-input>
              </div>
            <div *ngIf="!formDisabled" class="col-12 text-xs-right">
              <div class="btn btn-md btn-warning"
                   (click)="removeCourseForm(i)">Remover
              </div>
            </div>
          </div>
          <div class="text-xs-right" *ngIf="!formDisabled">
              <span class="btn form-section-title"
                    (click)="addCourseForm()">
                Adicionar curso
              </span>
          </div>
        </div>

        <div class="form-section">
          <h4 class="form-section-title">Idiomas</h4>
          <div class="row" [formGroup]="idiomForm" *ngFor="let idiomForm of idiomsForm.controls; let i = index;">
              <div class="col-lg-6">
                <uc-extended-input
                    [id]="'idiom-name-' + i"
                    [labelText]="'Idioma'"
                    [serverErrors]="serverErrors?.children?.idioms?.children
                       && serverErrors.children.idioms.children.length > i
                       && serverErrors.children.idioms.children[i].children.idiom"
                >
                  <select [attr.id]="'idiom-name-' + i" formControlName="idiom" class="form-control">
                    <option *ngFor="let idiom of idioms" [value]="idiom.id">
                      {{idiom.name}}
                    </option>
                  </select>
                </uc-extended-input>
              </div>
              <div class="col-lg-6">
                <uc-extended-input
                    [id]="'idiom-proficiency-' + i"
                    [labelText]="'Proficiência'"
                    [serverErrors]="serverErrors?.children?.idioms?.children
                       && serverErrors.children.idioms.children.length > i
                       && serverErrors.children.idioms.children[i].children.proficiency"
                >
                  <select [attr.id]="'idiom-proficiency-' + i" formControlName="proficiency"
                          class="form-control">
                    <option *ngFor="let proficiency of proficiencies"
                            [value]="proficiency.id">
                      {{proficiency.name}}
                    </option>
                  </select>
                </uc-extended-input>
              </div>
            <div class="col-12 text-xs-right" *ngIf="!formDisabled">
              <div class="btn btn-md btn-warning"
                   (click)="removeIdiomForm(i)">Remover
              </div>
            </div>
          </div>
          <div class="text-xs-right" *ngIf="!formDisabled">
              <span class="btn form-section-title"
                    (click)="addIdiomForm()">
                Adicionar idioma
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-section">
    <div class="info-box-content info-box-gray">
      <div [hidden]="visibleCharacteristics" (click)="addCharacteristics()"
           class="btn btn-block text-center form-section-title">
        Editar características físicas
      </div>
      <div [hidden]="!visibleCharacteristics">
        <div class="btn btn-warning btn-sm pull-xs-right" (click)="removeCharacteristics()">
          <i class="fa fa-minus "></i>
        </div>
        <h3 class="text-lg-center form-section-title">Características Físicas</h3>
        <h4 class="form-section-title">Quem</h4>
        <div class="row">
          <div class="col-lg-6">
            <uc-extended-input
                [id]="'genders'"
                [labelText]="'Gênero (Segure Ctrl para selecionar multiplos valores)'"
                [serverErrors]="serverErrors?.children?.genders"
            >
              <select [attr.id]="'genders'" formControlName="genders" class="form-control"
                      multiple>
                <option *ngFor="let option of entitiesService.genderArray$ | async" [value]="option.id">
                  {{option.name}}
                </option>
              </select>
            </uc-extended-input>
          </div>
          <div class="col-lg-3">
            <uc-extended-input [id]="'minAge'" [labelText]="'Idade minima'"
                               [serverErrors]="serverErrors?.children?.minAge">
              <input type="number" min="0" formControlName="minAge" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3">
            <uc-extended-input [id]="'maxAge'" [labelText]="'Idade máxima'"
                               [serverErrors]="serverErrors?.children?.maxAge">
              <input type="number" min="0" formControlName="maxAge" class="form-control">
            </uc-extended-input>
          </div>
        </div>
        <h4 class="form-section-title">Face</h4>
        <div class="row">
          <div class="col-lg-6">
            <uc-extended-input
                [id]="'eyeColors'"
                [labelText]="'Cor dos Olhos (Segure Ctrl para selecionar multiplos valores)'"
                [serverErrors]="serverErrors?.children?.eyeColors"
            >
              <select [attr.id]="'eyeColors'" formControlName="eyeColors" class="form-control"
                      multiple>
                <option *ngFor="let option of entitiesService.eyeColorArray$ | async" [value]="option.id">
                  {{option.name}}
                </option>
              </select>
            </uc-extended-input>
          </div>
          <div class="col-lg-6">
            <uc-extended-input
                [id]="'skins'"
                [labelText]="'Cor da Pele (Segure Ctrl para selecionar multiplos valores)'"
                [serverErrors]="serverErrors?.children?.skins"
            >
              <select [attr.id]="'skins'" formControlName="skins" class="form-control"
                      multiple>
                <option *ngFor="let option of entitiesService.skinArray$ | async" [value]="option.id">{{option.name}}
                </option>
              </select>
            </uc-extended-input>
          </div>
        </div>
        <h4 class="form-section-title">Cabelo</h4>
        <div class="row">
          <div class="col-lg-6">
            <uc-extended-input
                [id]="'hairColors'"
                [labelText]="'Cor do Cabelo (Segure Ctrl para selecionar multiplos valores)'"
                [serverErrors]="serverErrors?.children?.hairColors"
            >
              <select [attr.id]="'hairColors'" formControlName="hairColors" class="form-control"
                      multiple>
                <option *ngFor="let option of entitiesService.hairColorArray$ | async" [value]="option.id">
                  {{option.name}}
                </option>
              </select>
            </uc-extended-input>
          </div>
          <div class="col-lg-6">
            <uc-extended-input
                [id]="'hairLengths'"
                [labelText]="'Comprimento do Cabelo (Segure Ctrl para selecionar multiplos valores)'"
                [serverErrors]="serverErrors?.children?.hairLengths"
            >
              <select [attr.id]="'hairLengths'" formControlName="hairLengths" class="form-control"
                      multiple>
                <option *ngFor="let option of entitiesService.hairLengthArray$ | async" [value]="option.id">
                  {{option.name}}
                </option>
              </select>
            </uc-extended-input>
          </div>
          <div class="col-lg-6">
            <uc-extended-input
                [id]="'hairTypes'"
                [labelText]="'Tipo do Cabelo (Segure Ctrl para selecionar multiplos valores)'"
                [serverErrors]="serverErrors?.children?.hairTypes"
            >
              <select [attr.id]="'hairTypes'" formControlName="hairTypes" class="form-control"
                      multiple>
                <option *ngFor="let option of entitiesService.hairTypeArray$ | async" [value]="option.id">
                  {{option.name}}
                </option>
              </select>
            </uc-extended-input>
          </div>
          <div class="col-lg-12">
            <p>Aceita mudar o cabelo?</p>
            <div class="row">
              <div class="col-lg-4">
                <div class="checkbox">
                  <label for="hairAllowChangeColor" class="check-box">
                    <input id="hairAllowChangeColor" type="checkbox" formControlName="hairAllowChangeColor"
                           class="form-control">
                    Pintar
                  </label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="checkbox">
                  <label for="hairAllowCut" class="check-box">
                    <input id="hairAllowCut" type="checkbox" formControlName="hairAllowCut"
                           class="form-control">
                    Cortar
                  </label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="checkbox">
                  <label for="hairAllowStraighten" class="check-box">
                    <input id="hairAllowStraighten" type="checkbox" formControlName="hairAllowStraighten"
                           class="form-control">
                    Alisar
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4 class="form-section-title">Corpo</h4>
        <div class="row">
          <div class="col-lg-6">
            <uc-extended-input
                [id]="'physicalTraits'"
                [labelText]="'Traços Fisicos (Segure Ctrl para selecionar multiplos valores)'"
                [serverErrors]="serverErrors?.children?.physicalTraits"
            >
              <select [attr.id]="'physicalTraits'" formControlName="physicalTraits" class="form-control"
                      multiple>
                <option *ngFor="let option of entitiesService.physicalTraitArray$ | async" [value]="option.id">
                  {{option.name}}
                </option>
              </select>
            </uc-extended-input>
          </div>
          <div class="col-lg-6">
            <uc-extended-input
                [id]="'particularities'"
                [labelText]="'Particularidades (Segure Ctrl para selecionar multiplos valores)'"
                [serverErrors]="serverErrors?.children?.particularities"
            >
              <select [attr.id]="'particularities'" formControlName="particularities" class="form-control"
                      multiple>
                <option *ngFor="let option of entitiesService.particularityArray$ | async" [value]="option.id">
                  {{option.name}}
                </option>
              </select>
            </uc-extended-input>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'minHeight'" [labelText]="'Altura mínima(m)'"
                               [serverErrors]="serverErrors?.children?.minHeight">
              <input step="0.01" min="1" max="3" type="number" min="0" formControlName="minHeight"
                     class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'maxHeight'" [labelText]="'Altura máxima(m)'"
                               [serverErrors]="serverErrors?.children?.maxHeight">
              <input step="0.01" min="1" max="3" type="number" min="0" formControlName="maxHeight"
                     class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'minWeight'" [labelText]="'Peso mínimo(kg)'"
                               [serverErrors]="serverErrors?.children?.minWeight">
              <input type="number" min="0" formControlName="minWeight" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'maxWeight'" [labelText]="'Peso máximo(kg)'"
                               [serverErrors]="serverErrors?.children?.maxWeight">
              <input type="number" min="0" formControlName="maxWeight" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'minBust'" [labelText]="'Busto mínimo(cm)'"
                               [serverErrors]="serverErrors?.children?.minBust">
              <input type="number" min="0" formControlName="minBust" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'maxBust'" [labelText]="'Busto máximo(cm)'"
                               [serverErrors]="serverErrors?.children?.maxBust">
              <input type="number" min="0" formControlName="maxBust" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'minThorax'" [labelText]="'Tórax mínimo(cm)'"
                               [serverErrors]="serverErrors?.children?.minThorax">
              <input type="number" min="0" formControlName="minThorax" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'maxThorax'" [labelText]="'Tórax máximo(cm)'"
                               [serverErrors]="serverErrors?.children?.maxThorax">
              <input type="number" min="0" formControlName="maxThorax" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'minWaist'" [labelText]="'Cintura mínima(cm)'"
                               [serverErrors]="serverErrors?.children?.minWaist">
              <input type="number" min="0" formControlName="minWaist" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'maxWaist'" [labelText]="'Cintura máxima(cm)'"
                               [serverErrors]="serverErrors?.children?.maxWaist">
              <input type="number" min="0" formControlName="maxWaist" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'minHip'" [labelText]="'Quadril mínimo(cm)'"
                               [serverErrors]="serverErrors?.children?.minHip">
              <input type="number" min="0" formControlName="minHip" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'maxHip'" [labelText]="'Quadril máximo(cm)'"
                               [serverErrors]="serverErrors?.children?.maxHip">
              <input type="number" min="0" formControlName="maxHip" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'minManequim'" [labelText]="'Manequim mínimo'"
                               [serverErrors]="serverErrors?.children?.minManequim">
              <input type="number" min="0" formControlName="minManequim" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'maxManequim'" [labelText]="'Manequim máximo'"
                               [serverErrors]="serverErrors?.children?.maxManequim">
              <input type="number" min="0" formControlName="maxManequim" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'minShoulder'" [labelText]="'Ombro mínimo(cm)'"
                               [serverErrors]="serverErrors?.children?.minShoulder">
              <input type="number" min="0" formControlName="minShoulder" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'maxShoulder'" [labelText]="'Ombro máximo(cm)'"
                               [serverErrors]="serverErrors?.children?.maxShoulder">
              <input type="number" min="0" formControlName="maxShoulder" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'minShoesSize'" [labelText]="'Calçado mínimo'"
                               [serverErrors]="serverErrors?.children?.minShoesSize">
              <input type="number" min="0" formControlName="minShoesSize" class="form-control">
            </uc-extended-input>
          </div>
          <div class="col-lg-3 col-md-6">
            <uc-extended-input [id]="'maxShoesSize'" [labelText]="'Calçado máximo'"
                               [serverErrors]="serverErrors?.children?.maxShoesSize">
              <input type="number" min="0" formControlName="maxShoesSize" class="form-control">
            </uc-extended-input>
          </div>
        </div>
      </div>
    </div>

    <div class="info-box-content">
      <div class="btn btn-info" *ngIf="!userJob?.published && !userJob?.cancelled" (click)="saveJob()">
        Salvar
      </div>
      <div class="btn btn-primary" *ngIf="jobId && !userJob?.published && !userJob?.cancelled" (click)="publishJob()">
        Publicar
      </div>
      <div class="btn btn-danger" *ngIf="jobId && !userJob?.cancelled" (click)="cancelJob()">
        Cancelar Perfil
      </div>
    </div>
  </div>

</form>
<div *ngIf="userJob && userJob.published && !userJob.cancelled && !userJob.approved">
  <br>
  <div class="alert alert-info">
    Obrigado por criar um job. Para mantermos a nossa qualidade, o mesmo será analisado pelo time
    e uma vez aprovado será publicado. <br>
    Time Ucasting
  </div>
</div>