.notifications-container {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 250px;
    overflow: hidden;
    pointer-events: none;
    font-size: 0.8rem;
}

.notification-item {
    cursor: pointer;
}