<div class="notifications-container">
  <uc-notification-item class="notification-item" *ngFor="let notification of notifications$ | async"
                        [notification]="notification"
                        (remove)="notificationToRemove($event)">
  </uc-notification-item>
</div>

