<div class="uc-card">
  <div class="uc-card-header" [style.backgroundColor]="(userJob.jobType | entity: 'jobTypes').color">
    <div *ngIf="inSelection" class="uc-card-header-tag badge">Candidatado</div>
    <h3>
      {{userJob.name}}</h3>
    <div>{{(userJob.jobType | entity: 'jobTypes').name}}</div>
  </div>
  <div class="uc-card-content">
    <div *ngIf="!expanded">
      <div class="row">
        <div class="col-md-2">
          <p class="text-center">
            <i class="fa fa-map-marker fa-fw"></i>
          </p>
        </div>
        <div class="col-md-10">
          <p>
            <span *ngIf="location">
              {{location.city}} -
              {{location.state}}
            </span>
            <span *ngIf="!location">
              Local não definido.
            </span>

          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center" style="line-height: 28px;">
            <i class="fa fa-clock-o fa-fw"></i>
          </p>
        </div>
        <div class="col-md-10">
          <p>
            {{userJob.start|moment: 'DD/MM/YY'}} a {{userJob.end|moment: 'DD/MM/YY'}} <br>
            {{userJob.journeyStartTime|moment: 'HH:mm'}} a {{userJob.journeyEndTime|moment: 'HH:mm'}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center">
            <i class="fa fa-suitcase fa-fw"></i>
          </p>
        </div>
        <div class="col-md-10">
          <p>
            R${{userJob.liquidRemuneration | roundUp}}/{{(userJob.remunerationType|entity:
            'remunerationTypes')?.name}}<br>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center">
            <i class="fa fa-calendar fa-fw"></i>
          </p>
        </div>
        <div class="col-md-10">
          <p>
            <span *ngIf="userJob.daysToPayment">Pagamento em {{userJob.daysToPayment}} dias</span>
            <span *ngIf="!userJob.daysToPayment">Pagamento a combinar</span>
          </p>
        </div>
        <!--<div class="col-md-2">-->
        <!--<p class="text-center">-->
        <!--<i class="fa fa-users fa-fw"></i>-->
        <!--</p>-->
        <!--</div>-->
        <!--<div class="col-md-10">-->
        <!--<p>-->
        <!--{{userJob.totalPositions}} vagas<br>-->
        <!--</p>-->
        <!--</div>-->
      </div>
      <div class="divider-lg"></div>
      <div class="btn btn-block btn-primary" (click)="expand.emit(userJob)"><strong>Mais Detalhes</strong></div>
    </div>
    <div *ngIf="expanded">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center">
            <i class="fa fa-map-marker fa-fw"></i>
            <span *ngIf="location">
              {{location.name}}
            </span>
            <span *ngIf="!location">Local não definido.</span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="text-center" style="line-height: 28px;">
            <i class="fa fa-clock-o fa-fw"></i>
            {{userJob.start|moment: 'DD/MM/YY'}} a {{userJob.end|moment: 'DD/MM/YY'}} <br>
            {{userJob.journeyStartTime|moment: 'HH:mm'}} a {{userJob.journeyEndTime|moment: 'HH:mm'}}
          </p>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <i class="fa fa-suitcase fa-fw"></i>
            R${{userJob.liquidRemuneration | roundUp}}/{{(userJob.remunerationType|entity:
            'remunerationTypes')?.name}}<br>
          </p>
        </div>
        <!--<div class="col-md-3">-->
        <!--<p class="text-center">-->
        <!--<i class="fa fa-users fa-fw"></i>-->
        <!--{{userJob.totalPositions}} vagas<br>-->
        <!--</p>-->
        <!--</div>-->
      </div>
      <div class="divider-lg"></div>
      <h3 class="section-title">Descrição</h3>
      <p>
        {{userJob.description}}
      </p>
      <div class="row">
        <div class="col-lg-6">
          <h4 class="section-title">Local</h4>
          <p>
            <span *ngIf="location">
              {{location.name}}<br>
              {{location.address}},
              {{location.district}} -
              {{location.city}} -
              {{location.state}}
            </span>
            <span *ngIf="!location">
              Local não definido.
            </span>
          </p>
        </div>
        <div class="col-lg-6">
          <h4 class="section-title">Observações</h4>
          <p>
            {{userJob.observations}}
          </p>
        </div>
      </div>
      <h4 class="section-title" *ngIf="showBody">Características físicas</h4>
      <div *ngIf="userJob.minAge">
        <strong>Idade Mínima:</strong> {{userJob.minAge}}
      </div>
      <div *ngIf="userJob.maxAge">
        <strong>Idade Máxima:</strong> {{userJob.maxAge}}
      </div>
      <div *ngIf="userJob.minHeight">
        <strong>Altura Mínima:</strong> {{userJob.minHeight}}
      </div>
      <div *ngIf="userJob.maxHeight">
        <strong>Altura Máxima:</strong> {{userJob.maxHeight}}
      </div>
      <div *ngIf="userJob.minWeight">
        <strong>Peso Mínimo:</strong> {{userJob.minWeight}}
      </div>
      <div *ngIf="userJob.maxWeight">
        <strong>Peso Máximo:</strong> {{userJob.maxWeight}}
      </div>
      <div *ngIf="userJob.minManequim">
        <strong>Manequim mínimo:</strong> {{userJob.minManequim}}
      </div>
      <div *ngIf="userJob.maxManequim">
        <strong>Manequim máximo:</strong> {{userJob.maxManequim}}
      </div>
      <div *ngIf="userJob.minShoesSize">
        <strong>Calçado mínimo:</strong> {{userJob.minShoesSize}}
      </div>
      <div *ngIf="userJob.maxShoesSize">
        <strong>Calçado máximo:</strong> {{userJob.maxShoesSize}}
      </div>
      <div *ngIf="userJob.minWaist">
        <strong>Cintura mínima:</strong> {{userJob.minWaist}}
      </div>
      <div *ngIf="userJob.maxWaist">
        <strong>Cintura máxima:</strong> {{userJob.maxWaist}}
      </div>
      <div *ngIf="userJob.minBust">
        <strong>Busto mínimo:</strong> {{userJob.minBust}}
      </div>
      <div *ngIf="userJob.maxBust">
        <strong>Busto máximo:</strong> {{userJob.maxBust}}
      </div>
      <div *ngIf="userJob.minHip">
        <strong>Quadril mínimo:</strong> {{userJob.minHip}}
      </div>
      <div *ngIf="userJob.maxHip">
        <strong>Quadril máximo:</strong> {{userJob.maxHip}}
      </div>
      <div *ngIf="userJob.minHip">
        <strong>Quadril mínimo:</strong> {{userJob.minHip}}
      </div>
      <div *ngIf="userJob.maxHip">
        <strong>Quadril máximo:</strong> {{userJob.maxHip}}
      </div>
      <div *ngIf="userJob.genders.length > 0">
        <strong>Gêneros:</strong>
        {{userJob.genders | entities: 'genders' | entitiesNames}}
      </div>
      <div *ngIf="userJob.skins.length > 0">
        <strong>Tons de Pele:</strong>
        {{userJob.skins | entities: 'skins' | entitiesNames}}
      </div>
      <div *ngIf="userJob.physicalTraits.length > 0">
        <strong>Traços Físicos:</strong>
        {{userJob.physicalTraits | entities: 'physicalTraits' | entitiesNames}}
      </div>
      <div *ngIf="userJob.hairTypes.length > 0">
        <strong>Tipos de Cabelo:</strong>
        {{userJob.hairTypes | entities: 'hairTypes' | entitiesNames}}
      </div>
      <div *ngIf="userJob.hairColors.length > 0">
        <strong>Cores de Cabelo:</strong>
        {{userJob.hairColors | entities: 'hairColors' | entitiesNames}}
      </div>
      <div *ngIf="userJob.hairLengths.length > 0">
        <strong>Comprimentos de cabelo:</strong>
        {{userJob.hairLengths | entities: 'hairLengths' | entitiesNames}}
      </div>
      <div *ngIf="userJob.eyeColors.length > 0">
        <strong>Cor dos Olhos:</strong>
        {{userJob.eyeColors | entities: 'eyeColors' | entitiesNames}}
      </div>
      <div *ngIf="userJob.particularities.length > 0">
        <strong>Particularidades:</strong>
        {{userJob.particularities | entities: 'particularities' | entitiesNames}}
      </div>
      <h4 class="section-title" *ngIf="userJob.courses.length > 0 || userJob.idioms.length > 0">Requisitos</h4>
      <h5 *ngIf="userJob.courses.length > 0">Cursos</h5>
      <div *ngFor="let course of userJob.courses | entities: 'userJobCourses'">
        {{ course.name }} - {{ (course.level| entity: 'courseLevels').name}}
      </div>
      <h5 *ngIf="userJob.idioms.length > 0">Idiomas</h5>
      <div *ngFor="let idiom of userJob.idioms | entities: 'userJobIdioms'">
        {{ (idiom.idiom| entity: 'idioms').name}} -
        {{(idiom.proficiency | entity: 'proficiencies').name}}
      </div>
      <div class="text-xs-center text-lg-right">
        <button class="btn btn-info" (click)="shrink.emit(userJob)">Reduzir</button>
        <button class="btn btn-danger" *ngIf="inSelection" (click)="cancel.emit(userJob)" [disabled]="cancelling">
          <span *ngIf="!cancelling">
          Cancelar Candidatura
        </span>
          <span *ngIf="cancelling">
          Cancelando Candidatura... <md-spinner
                                                style="float: right; width: 22px; height: 22px; margin-left: 5px;"></md-spinner>
        </span>
        </button>
        <button *ngIf="!inSelection && applyVisible" [disabled]="applying" class="btn btn-primary"
                (click)="apply.emit(userJob)">
        <span *ngIf="!applying">
          Candidatar-se
        </span>
          <span *ngIf="applying">
          Candidatando-se... <md-spinner color="warn"
                                         style="float: right; width: 22px; height: 22px; margin-left: 5px;"></md-spinner>
        </span>
        </button>
      </div>
    </div>
  </div>
</div>