<div class="col-md-3 info-ico">
  <i class="ico-language"></i>
</div>
<div class="col-md-9 info-text">
  <h2 class="title">{{profileIdiom.idiom.name}}</h2>
  <span class="title-desc">{{profileIdiom.proficiency.name}}</span>
</div>