<div class="container-fluid">
  <section class="content-page">
    <div class="info-box">
      <div class="info-box-content">
        <div class="alert alert-info" *ngIf="userJobs.length === 0 && !userJobAlertClosed">
          <button type="button" class="close" (click)="userJobAlertClosed = true" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Estamos quase lá.</strong> Uma vez criado o job, é preciso associar perfis a ele. Entende-se por perfil todas as caraterísticas do usuário a ser contratado, assim como as datas e horário, o local de trabalho, o valor a ser pago por dia e a forma de pagamento.
        </div>
        <div class="row">
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-7">
                <h3>{{project.name}}<br><span class="small">{{project.clientName}}</span></h3>
                <p>{{project.description}}</p>
              </div>
              <div class="col-lg-5">
                <h5>Locais:</h5>
                <p *ngIf="project.locations.length === 0">Nenhum local cadastrado.</p>
                <div *ngFor="let location of project.locations | entities: 'projectLocations'">
                  <p>
                  <strong>{{location.name}}</strong>: {{location.district}} - {{location.city}}, {{location.state}}
                  <br>
                  {{location.address}} - {{location.zipcode}}
                  </p>
                  <hr>
                </div>
              </div>
            </div>
            <div>
              <a class="btn btn-info" [routerLink]="['edit']">Editar Trabalho</a>
            </div>
            <div *ngIf="userJobs.length === 0 || (openUserJobForm$ | async)">
              <uc-user-job-form [userJob]="userJobId$ | async | entity: 'userJobs'" [jobId]="userJobId$ | async" [locations]="locations" [serverErrors]="userJobServerErrors$ | async"
                                (save)="saveUserJob($event)"
                                (publish)="publishUserJob($event)"
                                (cancel)="cancelUserJob($event)">
              </uc-user-job-form>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="project-jobs-sidebar">
              <h3>Perfis</h3>
              <button class="btn btn-lg btn-block btn-primary" (click)="newUserJob()">
                Adicionar Perfil
              </button>
              <p class="project-stats">
                Em aberto: <br>
                <i class="fa fa-suitcase fa-fw"></i>
                <span class="tag"
                      [ngClass]="{
                      'tag-info': remainingBudget >= 0,
                      'tag-danger': remainingBudget < 0}">
                  R${{remainingBudget}}
                </span><br>
                <i class="fa fa-users fa-fw"></i>
                <span class="tag"
                      [ngClass]="{
                      'tag-info': remainingPositions >= 0,
                      'tag-danger': remainingPositions < 0}">
                  {{remainingPositions}}
                </span><br>
              </p>
              <div (click)="editUserJob(userJob)" class="job-tab" *ngFor="let userJob of userJobs" [ngClass]="{active: (userJobId$ | async) === userJob.id}">
                <p>
                  <strong>{{userJob?.name}}</strong>
                  <span class="badge badge-info" *ngIf="userJob.published && !userJob.cancelled && !userJob.approved">Publicado</span>
                  <span class="badge badge-default" *ngIf="!userJob.published && !userJob.cancelled">Rascunho</span>
                  <span class="badge badge-danger" *ngIf="userJob.cancelled">Cancelado</span>
                  <span class="badge badge-default" *ngIf="userJob.finished">Finalizado</span>
                  <span class="badge badge-success" *ngIf="userJob.approved">Aprovado</span>
                  <br>
                  <small>
                    <i class="fa fa-users fa-fw"></i>
                    {{userJob.totalPositions}}
                    <span *ngIf="userJob.totalPositions > 1">vagas</span>
                    <span *ngIf="userJob.totalPositions === 1">vaga</span>
                    - {{(userJob.jobType | entity: 'jobTypes').name}}
                    <br>
                    <i class="fa fa-map-marker fa-fw"></i>
                    {{(userJob.location|entity: 'projectLocations')?.name}}
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
