<div class="page-header">
  <div class="container-fluid">
    <md-spinner *ngIf="loadingProjects" style="margin: 0 auto; width: 60px; height: 60px;"></md-spinner>
    <div class="row" *ngIf="!loadingProjects">
      <div class="col-lg-6 page-header-tab">
        <div class="page-header-tab-title">Trabalho</div>
        <select (change)="projectChanged($event)" [ngModel]="state.selectedProjectId">
          <option [value]="null">Selecionar</option>
          <option *ngFor="let project of projects; trackBy: project?.id" [value]="project.id">
            {{project.name}}
          </option>
        </select>
      </div>
      <div class="col-lg-6 page-header-tab">
        <div class="page-header-tab-title">Perfil</div>
        <select (change)="userJobChanged($event)" [ngModel]="state.selectedUserJobId">
          <option value="">Selecionar</option>
          <option *ngFor="let userJob of userJobs; trackBy: userJob?.id" [value]="userJob.id">
            {{userJob.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="page-header" *ngIf="state.selectedUserJobId">
  <div class="brick brick-20 page-header-tab page-header-tab-clickable" (click)="changeTab(1)"
       [ngClass]="{ 'page-header-tab-clickable-active': currentTab === 1 }">
    <div class="page-header-tab-title">{{invitedCount}}</div>
    <div>Convidados</div>
  </div>
  <div class="brick brick-20 page-header-tab page-header-tab-clickable" (click)="changeTab(2)"
       [ngClass]="{ 'page-header-tab-clickable-active': currentTab === 2 }">
    <div class="page-header-tab-title">{{appliedCount}}</div>
    <div>Candidatos</div>
  </div>
  <div class="brick brick-20 page-header-tab page-header-tab-clickable" (click)="changeTab(4)"
       [ngClass]="{ 'page-header-tab-clickable-active': currentTab === 4 }">
    <div class="page-header-tab-title">{{selectedCount}}</div>
    <div>Selecionados</div>
  </div>
  <div class="brick brick-20 page-header-tab page-header-tab-clickable" (click)="changeTab(5)"
       [ngClass]="{ 'page-header-tab-clickable-active': currentTab === 5 }">
    <div class="page-header-tab-title">{{approvedCount}}</div>
    <div>Aprovados</div>
  </div>
  <div class="brick brick-20 page-header-tab page-header-tab-clickable" (click)="changeTab(3)"
       [ngClass]="{ 'page-header-tab-clickable-active': currentTab === 3 }">
    <div class="page-header-tab-title">{{rejectedCount}}</div>
    <div>Rejeitados</div>
  </div>
  <!--<div class="container-fluid" >-->
  <!--<div class="row">-->
  <!--<div class="col-lg-3 page-header-tab page-header-tab-clickable" (click)="changeTab(2)"-->
  <!--[ngClass]="{ 'page-header-tab-clickable-active': currentTab === 2 }">-->
  <!--<div class="page-header-tab-title">{{appliedCount}}</div>-->
  <!--<div>Candidatos</div>-->
  <!--</div>-->
  <!--<div class="col-lg-3 page-header-tab page-header-tab-clickable" (click)="changeTab(1)"-->
  <!--[ngClass]="{ 'page-header-tab-clickable-active': currentTab === 1 }">-->
  <!--<div class="page-header-tab-title">{{invitedCount}}</div>-->
  <!--<div>Convidados</div>-->
  <!--</div>-->
  <!--<div class="col-lg-3 page-header-tab page-header-tab-clickable" (click)="changeTab(4)"-->
  <!--[ngClass]="{ 'page-header-tab-clickable-active': currentTab === 4 }">-->
  <!--<div class="page-header-tab-title">{{selectedCount}}</div>-->
  <!--<div>Selecionados</div>-->
  <!--</div>-->
  <!--<div class="col-lg-3 page-header-tab page-header-tab-clickable" (click)="changeTab(5)"-->
  <!--[ngClass]="{ 'page-header-tab-clickable-active': currentTab === 5 }">-->
  <!--<div class="page-header-tab-title">{{approvedCount}}</div>-->
  <!--<div>Aprovados</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</div>
<masonry [options]="{percentPosition: true, transitionDuration: '0.4s', columnWidth: '.brick-sizer'}">
  <div class="brick-sizer brick brick-33"></div>
  <masonry-brick class="brick brick-33" *ngFor="let selection of currentSelections; trackBy: getSelectionId">
    <uc-user-job-selection-card
        [selection]="selection"
        (approveUser)="approveUser($event)"
        (rejectUser)="rejectUser($event)"
        (selectUser)="selectUser($event)"
    ></uc-user-job-selection-card>
  </masonry-brick>
</masonry>