<section class="row info person-specs">
  <div class="col-12 col-sm-6 col-md-4">
    <h2 class="title">Corpo</h2>
    <span class="person-desc">Altura:</span> <span class="person-value">{{profile.height}} m</span> <br>
    <span class="person-desc">Peso:</span> <span class="person-value">{{profile.weight}} kg</span> <br>
    <span class="person-desc">Quadril:</span> <span class="person-value">{{profile.hip}} cm</span> <br>
    <span class="person-desc">Cintura:</span> <span class="person-value">{{profile.waist}} cm</span> <br>
    <span class="person-desc">Busto:</span> <span class="person-value">{{profile.bust}} cm</span> <br>
    <span class="person-desc">Manequim:</span> <span class="person-value">{{profile.manequim}}</span> <br>
    <span class="person-desc">Pés:</span> <span class="person-value">{{profile.shoesSize}}</span> <br>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <h2 class="title">Face</h2>
    <span class="person-desc">Olhos:</span> <span class="person-value">{{profile.eyeColor?.name}}</span> <br>
    <span class="person-desc">Pele:</span> <span class="person-value">{{profile.skin?.name}}</span> <br>
    <br>
    <h2 class="title">Cabelos</h2>
    <span class="person-desc">Tipo:</span> <span class="person-value">{{profile.hairType?.name}}</span> <br>
    <span class="person-desc">Cor:</span> <span class="person-value">{{profile.hairColor?.name}}</span> <br>
    <span class="person-desc">Comprimento:</span> <span class="person-value">{{profile.hairLength?.name}}</span> <br>
  </div>
  <div class="col-12 col-sm-12 col-md-4">
    <div class="person-changes-available">
      <h2 class="title">Mudanças no cabelo</h2>
      <ul>
        <li *ngIf="profile.hairAllowCut">
          <i class="fa fa-check"></i> Cortar
        </li>
        <li *ngIf="profile.hairAllowChangeColor">
          <i class="fa fa-check"></i> Pintar
        </li>
        <li *ngIf="profile.hairAllowStraighten">
          <i class="fa fa-check"></i> Alisar
        </li>
      </ul>
      <br><br>
      <h2 class="title">Particularidades</h2>
      <uc-particularity-list [particularities]="profile.particularities"></uc-particularity-list>
    </div>
  </div>
</section>