<figure class="album" (click)="onAlbumClick($event)">
  <div class="album-image"
       [ngStyle]="{backgroundImage: 'url(' + album.medias[0]?.media?.formats?.medium +')'}">
  </div>
  <div class="album-panel">
    <div class="album-title">
      {{album.name}}
    </div>
  </div>
</figure>