<div class="uc-card">
  <div *ngIf="candidate.firstName">
    <div class="album-image" style="cursor: auto"
         [ngStyle]="{'background-image': 'url(' + images[currentImageIndex]?.formats?.medium + ')'}">
      <div class="card-arrow-container" *ngIf="images.length > 1">
        <div class="card-prev-arrow" (click)="prevImage()">
          <i class="fa fa-angle-left"></i>
        </div>
        <div class="card-next-arrow" (click)="nextImage()">
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
      <nav class="image-menu">
        <div class="row">
          <div class="col-12">
          <span class="image-menu-icon" (click)="viewProfile()">
            <i class="ico-video mini"></i>
          </span>
            <span class="image-menu-icon" (click)="viewPortfolio()">
            <i class="ico-cam mini"></i>
          </span>
          </div>
        </div>
      </nav>
    </div>

    <div class="item-card-info">
      <div class="item-card-main-info">
        <strong>{{candidate.firstName|firstWord}}<!--{{candidate.lastName}}--></strong><br>
        <div class="single-line">
          {{candidate.profile.age}} Anos /
          {{ candidate.profile.city }} - {{candidate.profile.state}}
        </div>
        <div class="single-line">{{candidate.occupation}}&nbsp;</div>
      </div>
      <div class="item-card-additional-info">
        <span>Peso: {{candidate.profile.weight}}kg</span>
        /
        <span>Altura: {{candidate.profile.height}}m</span><br>
      </div>
    </div>
    <!--<div class="card-rating">-->
      <!--<i class="ico-star mini"></i>-->
      <!--<i class="ico-star mini"></i>-->
      <!--<i class="ico-star mini"></i>-->
      <!--<i class="ico-star mini"></i>-->
      <!--<i class="ico-star mini"></i>-->
    <!--</div>-->
    <div class="action-box">
      <div class="action-option" *ngIf="showInvite" (click)="inviteUser.emit(candidate)">
        <i class="fa fa-envelope"></i>
        Convidar
      </div>
      <div class="action-option" *ngIf="showReject" (click)="rejectUser.emit(candidate)">
        <i class="fa fa-times"></i>
        Rejeitar
      </div>
      <div class="action-option" *ngIf="showSelect" (click)="selectUser.emit(candidate)">
        <i class="fa fa-sign-in"></i>
        Selecionar
      </div>
      <div class="action-option" *ngIf="showApprove" (click)="approveUser.emit(candidate)">
        <i class="fa fa-check"></i>
        Aprovar
      </div>
    </div>
  </div>
  <md-spinner *ngIf="!candidate.firstName" style="margin: 10px auto;" ></md-spinner>
</div>
