.security-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #222222;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #ffffff;
}

.login-box, .register-box {
  width: 360px;
  margin: 0 auto;
}
