<div class="security-wrapper">
  <div class="login-box">
    <header class="logo text-xs-center">
      <a href="/"><h1>UCasting</h1></a>
    </header>
    <br>
    <div class="login-box-body">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <uc-extended-input [id]="'input-username'" [labelText]="'Usuário'">
          <input id="input-username" class="form-control" formControlName="username" type="text" placeholder="Usuário ou email" >
        </uc-extended-input>
        <uc-extended-input [id]="'input-password'" [labelText]="'Senha'">
          <input id="input-password" class="form-control" formControlName="password" type="password" placeholder="Senha" >
        </uc-extended-input>
        <button class="uc-btn btn green btn-block">
          <span *ngIf="authChecking$ | async">Entrando...
            <md-spinner style="float: right; width: 22px; height: 22px; margin-left: 5px;"></md-spinner>
          </span>
          <span *ngIf="!(authChecking$ | async)">Entrar
          </span>
        </button>
      </form>
      <div><a href="/resetar-senha">Esqueci a senha</a></div><br>
      <div class="alert alert-danger" *ngIf="hasError$ | async">Usuário e/ou senha inválidos.</div>
    </div>
  </div>
</div>

