@font-face {
  font-family: 'din-regular-medium';
  src: url("../fonts/din-medium.eot");
  src: url("../fonts/din-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/din-medium.woff2") format("woff2"), url("../fonts/din-medium.woff") format("woff"), url("../fonts/din-medium.ttf") format("truetype"), url("../fonts/din-medium.svg#din_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'din-regular';
  src: url("../fonts/din-regular.eot");
  src: url("../fonts/din-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/din-regular.woff2") format("woff2"), url("../fonts/din-regular.woff") format("woff"), url("../fonts/din-regular.ttf") format("truetype"), url("../fonts/din-regular.svg#din_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.info-box .edit-form .forms .header .bg-profile .image, .info-box .edit-form .forms .header .profile-avatar .image, .profile .header .bg-profile .image {
  background-position: center;
}

.default-ico-properties, .ico-choose:after, .ico-congratulations:after, .ico-like:after, .ico-search:after, .ico-location:after, .ico-clock:after, .ico-money:after, .ico-add.big:after, .ico-cover:after, .ico-stretch:after, .ico-delete:after, .ico-edit:after, .ico-arrow-select:after, .ico-check:after, .submit-box .msg.auto-save .ico:after, .ico-check.big:after, .ico-advisor:after, .ico-warning:after, .submit-box .msg.warning .ico:after, .ico-menu-arrow:after, .ico-send-msg:after, .ico-profile:after, .ico-video:after, .ico-cam:after, .info-ico .ico-modeling:after, .info-ico .ico-event:after, .info-ico .ico-edu:after, .info-ico .ico-language:after, .default-star-classification, .ico-star:after {
  background-repeat: no-repeat;
}

.info-box .edit-form .forms .header .bg-profile .image, .profile .header .bg-profile .image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.forms .header, .forms .section.last, .form-section.last, .check-box.raw, .radio-box.raw, .portfolio .section, .portfolio .section header.header {
  border: none;
}

.menu.side-nav .profile-menu .items-box .items .item .active, .uc-btn.green:disabled:hover, .uc-btn.more-info:disabled:hover, .uc-btn.cancel:disabled:hover, .info-box-top.modular .module.info, .switch-menu .item.on {
  cursor: default;
}

.ico-add.big:after, .ico-cover:after, .ico-stretch:after, .ico-delete:after, .ico-edit:after, .ico-arrow-select:after, .ico-star.editable:hover:after, .menu.side-nav .profile-menu .items-box .items .item, .uc-btn.green:hover, .uc-btn.more-info:hover, .uc-btn.cancel:hover, .btn-send-message, .info-box .info .added-desc-box .edit-box i, .info-box .footer .load-more, .info-box-top.modular .module, .info-box-top .header .nav-page .active, .info-box-top .bottom-menu, .system.card.box .msg-selected .msg-box .text .action-refuse, .switch-menu .item, .album-image.add, .hirer .content.items .item .fa-ellipsis-h, .hirer .content.items .item .item-menu .pop-menu .pop-menu-items .pop-menu-item:hover, .info-box .edit-form .forms .header .change .active, .profile .see-portfolio .text {
  cursor: pointer;
}

.system.card.box.job.done .done-box .msg i, .album-image.add .add-box i {
  clear: both;
}

.default-star-classification, .ico-star:after, .menu.side-nav .profile-peek, .menu.side-nav .profile-peek .profile-avatar .avatar-box, .menu.side-nav .profile-peek .profile-avatar .profile-avatar-aux, .menu.side-nav .profile-menu .items-box .items .item, .forms .section, .form-group .element .ico-arrow-select, .default-form-boxes, .check-box, .radio-box, .default-form-element-boxes, .check-box input[type="checkbox"]:after, .radio-box input[type="radio"]:after, .main-page, .info-ico, .info-ico i, .info-ico i:after, .info-box-top .bottom-menu .items .item, .system.card.box.job.done .done-box, .system.card.box.job.done .done-box .msg i, .system.card.box.job.open .job-desc, .system.card.box .msg-selected .msg-box .text i, .system.card.box .msg-selected.on, .album-image.add .add-box i, .hirer .content.items .item .item-menu .fa-ellipsis-h:hover .pop-menu, .albums .album {
  display: block;
}

.ico-opt-mobile, .ico-menu-arrow, .menu.side-nav .close-box, .menu.side-nav .profile-menu .items-box .items .item .feature .ico-menu-arrow, .menu.side-nav .profile-menu .items-box .items .item .feature .notification, .system.card.box.job.open .action-box .more-info, .system.card.box.job .done-box, .system.card.box.job .header .register-checked .text, .system.card.box.job .about .job-desc, .system.card.box .msg-selected, .hirer .content.items .item .item-menu .pop-menu, .profile .info-box .info.person-portfolio {
  display: none;
}

.info-box .info .split-box.qualifications .rank-box .rank {
  display: flex;
  display: -webkit-flex;
}

.system.card-area, .system.card.box .msg-selected .msg-box .text .title, .system.card.box .msg-selected .msg-box .text .message, .system.card.box .msg-selected .msg-box .text .action-refuse, .system.card.box .model-data .data, .system.card.box .model-data .data .sub-data, .hirer .content.items .item h2.title, .hirer .content.items .item span.desc {
  display: table;
}

.default-ico-properties, .ico-choose:after, .ico-congratulations:after, .ico-like:after, .ico-search:after, .ico-location:after, .ico-clock:after, .ico-money:after, .ico-add.big:after, .ico-cover:after, .ico-stretch:after, .ico-delete:after, .ico-edit:after, .ico-arrow-select:after, .ico-check:after, .submit-box .msg.auto-save .ico:after, .ico-check.big:after, .ico-advisor:after, .ico-warning:after, .submit-box .msg.warning .ico:after, .ico-menu-arrow:after, .ico-send-msg:after, .ico-profile:after, .ico-video:after, .ico-cam:after, .info-ico .ico-modeling:after, .info-ico .ico-event:after, .info-ico .ico-edu:after, .info-ico .ico-language:after, .default-star-classification, .ico-star:after, .menu.side-nav .profile-menu .items-box .items .item .active .ico-menu-arrow, .menu.side-nav .profile-menu .items-box .items .item .feature .notification.on, .uc-btn, .submit-box .msg, .submit-box .msg.auto-save .ico, .default-logo-propertie, .logo h1, .logo h1.mini, h1.logo, h1.logo.mini, .info-box .info .steps .step .highlighter, .system.card.header .msg, .system.card.header i, .system.card.box.job.open .register-checked .text, .system.card.box.job.open .about .item i, .system.card.box.job.open .about .item .item-desc, .system.card.box.job .about .item i, .system.card.box.job .about .item .item-desc, .system.card.box .rating-box .rate-item .rate i, .system.card.box .model-data .data.rate i, .info-box .edit-form .forms .header .change .ico-cam {
  display: inline-block;
}

.ico-send-msg, .default-star-classification, .ico-star:after, .menu.side-nav .profile-peek .profile-avatar .avatar-box, .menu.side-nav .profile-peek .profile-avatar .profile-avatar-aux, .forms .section, .check-box.inbox, .radio-box.inbox, .submit-box, .logo h1.mini, h1.logo.mini, .info-box .info .added-desc-box, .info-text, .info-box-top .forms, .info-box-top.modular .module.info .section, .info-box-top.modular .module.info .section .right, .info-box-top.modular .module.info .section .left, .info-box-top .bottom-menu .items .item, .system.hashtags-box .hashtags .item, .system.hashtags-box .add-hashtag-box, .system.hashtags-box .add-hashtag-box .add-hashtag, .system.card.box.job, .system.card.box.job.open .job-desc, .system.card.box.job.open .job-desc ul, .system.card.box.job.open .about .item, .system.card.box.job.open .action-box .action-option, .system.card.box.job .about, .system.card.box.model, .system.card.box .rated-logo, .system.card.box .rated-image, .system.card.box .rating-box, .system.card.box .rating-box .rate-item .rate-desc, .system.card.box .rating-box .rate-item .rate, .system.card.box .model-data, .system.card.box .action-box, .system.card.box .action-box .action-option, .album-title, .hirer .content.items, .hirer .content.items .item, .albums .album .album-panel .album-title {
  float: left;
}

.ico-menu-arrow, .menu.side-nav .profile-menu .items-box .items .item .feature, .info-box .info .steps .step .ico-step, .albums .album .album-panel .edit-box, .profile .header .general-profile .system-grid .btn-send-message, .profile .header .general-profile .system-grid .classification .star .off, .profile .header .general-profile .system-grid .classification .star .on {
  float: right;
}

.system.card-area {
  float: none;
}

.info-box .edit-form .forms .header .change {
  font-family: 'din-regular-medium';
}

.important-text, .uc-btn, .form-group-title, .default-input-properties, select, textarea, input[type="text"], input[type="number"], input[type="password"], .info-box .info .steps .step .step-profile, .info-box .footer .load-more, .info-text .title, .info-box-top.modular .module h1.title, .info-box-top .bottom-menu .items .item, .system.card.box.job.done .done-box .msg, .system.card.box .model-data .data.important, .album-title, .album-image.add .add-box, .hirer .header h1.title, .portfolio .section header.header h1.title, .albums .album .album-panel .album-title, .info-box .switch-menu .item, .info-box .edit-form .forms .header .change, .profile .see-portfolio .text, .profile .header .general-profile .info-model, .profile .info.person-specs h2.title .person-value {
  font-weight: bold;
}

.form-group-description, .info-box .header h1.title, .info-box .header h2.title, .info-box-top.modular .module h2.subtitle, .info-box-top .header h2.subtitle, .system.card.box.job .header h2.subtitle, .system.card.box .model-data .data, .portfolio .section header.header h2.subtitle, .profile .info-box h1.title, .profile .info-box h2.title, .profile .info.person-specs h2.title .image {
  font-weight: normal;
}

.forms .section, .info-box .info .steps .step {
  height: auto;
}

.hirer .content.items .item .item-menu .pop-menu {
  overflow: auto;
}

.info-box-top.modular .module.info .section .right, .info-box-top.modular .module.info .section .left, .system.card.box {
  overflow: hidden;
}

.form-group .element .ico-arrow-select, .default-form-element-boxes, .check-box input[type="checkbox"]:after, .radio-box input[type="radio"]:after, .info-box .info .added-desc-box .edit-box, .info-ico i:after, .info-box-top.modular .module .option, .system.hashtags-box .add-hashtag-box i.fa-plus-circle:before, .system.card.box.job.done .done-box, .system.card.box.job.done .done-box .msg, .system.card.box.job .header .register-checked, .system.card.box .msg-selected, .system.card.box .msg-selected .msg-box .text, .album-image.add .add-box, .hirer .content.items .item .item-menu .pop-menu, .info-box .edit-form .forms .header .profile-avatar .image, .profile .header .general-profile .profile-avatar .image {
  position: absolute;
}

.menu.side-nav {
  position: fixed;
}

.menu.side-nav .close-box, .menu.side-nav .profile-peek, .menu.side-nav .profile-peek .profile-avatar .avatar-box, .menu.side-nav .profile-peek .profile-avatar .profile-avatar-aux, .menu.side-nav .profile-menu .items-box .items .item, .forms .section, .check-box.inbox, .radio-box.inbox, .default-form-boxes, .check-box, .radio-box, .main-page, .info-box .info .steps, .info-box .info .steps .step, .info-box .info .added-desc-box, .info-box .info .desc, .info-box .info .split-box, .info-box .info .split-box.qualifications .rank-box .rank, .info-box .info .split-box.qualifications .rank-box .rank .stars, .info-ico, .info-ico i, .info-box-top.modular .module.info .section .right, .info-box-top.modular .module.info .section .left, .info-box-top .bottom-menu .items .item, .system.hashtags-box .hashtags .item, .system.hashtags-box .add-hashtag-box, .system.hashtags-box .add-hashtag-box .add-hashtag, .system.card.box, .system.card.box.job .header, .system.card.box.job .about, .system.card.box .rated-logo, .system.card.box .rated-image, .system.card.box .rating-box, .system.card.box .rating-box .rate-item .rate-desc, .system.card.box .rating-box .rate-item .rate, .system.card.box .action-box, .hirer .content.items, .hirer .content.items .item, .albums, .albums .album, .albums .album .album-panel .edit-box, .info-box .edit-form .form-title {
  position: relative;
}

.info-box-top.modular .module.info .section .left, .system.card.header .msg, .system.card.box.job.open .about .item.location, .hirer .content.items .item .item-menu .pop-menu, .info-box .edit-form .forms .header .change.avatar {
  text-align: left;
}

.forms .section .action-box, .submit-box, .info-box-top.modular .module.info .section .right, .system.card.box.job.open .about .item.cash, .system.card.box.job.open .action-box, .hirer .content.items .item .item-menu, .portfolio .section .action-section, .info-box .edit-form .forms .header .change.background {
  text-align: right;
}

.menu.side-nav .close-box, .btn-send-message, .submit-box .msg, .info-box .footer .load-more, .system.card.header, .system.card.box.job.done .done-box .msg, .system.card.box.job.open .about .item.date, .system.card.box.job.open .action-box .btn, .system.card.box .rated-logo, .system.card.box .rating-box .rate-item .rate, .system.card.box .msg-selected .msg-box .text, .system.card.box .model-data .data.rate, .system.card.box .action-box, .album-image.add .add-box, .profile.response, .profile .see-portfolio .text {
  text-align: center;
}

.hirer .header h1.title, .portfolio .section header.header h1.title, .portfolio .section header.header h2.subtitle {
  text-transform: none;
}

.menu.side-nav .profile-menu .items-box .items .item, .uc-btn.more-info, .info-box .header h1.title, .info-box .info .steps .step .step-profile, .info-box-top .bottom-menu .items .item, .info-box .switch-menu .item, .profile .see-portfolio .text, .profile .info-box h1.title, .profile .info.person-specs h2.title {
  text-transform: uppercase;
}

.info-box .info .steps .step .highlighter, .system.card.header .ico-congratulations, .info-box .edit-form .forms .header .change .ico-cam {
  vertical-align: middle;
}

.submit-box .msg .ico:after, .system.card.box.job .header .register-checked i:after {
  vertical-align: text-bottom;
}

.system.card.box.job.open .about .item.date i, .system.card.box.job .about .item i {
  vertical-align: top;
}

.forms .header, .form-group-title, .default-logo-propertie, .logo h1, .logo h1.mini, h1.logo, h1.logo.mini, .info-box-top, .info-box-top.modular, .info-box-top.modular .module h1.title, .info-box-top.modular .module h2.subtitle, .info-box-top .forms, .info-box-top .header h1.title, .info-box-top .header h2.subtitle, .info-box-top .bottom-menu .items, .info-box-top .section.check-combo .input, .info-box-top .section .input .element .check-box.raw, .system.card.header .msg h2, .system.card.box.job.open .job-desc h1, .system.card.box.job.open .job-desc ul, .system.card.box.job.open .about .item .item-desc, .system.card.box.job .header h1.title, .system.card.box.job .header h2.subtitle, .system.card.box.job .about .item .item-desc, .system.card.box .rated-image figure, .hirer .header, .hirer .content.items, .portfolio .forms, .portfolio .forms .form-title h1.title, .portfolio .section .action-section, .portfolio .section header.header h2.subtitle, .albums .album, .info-box .edit-form .forms, .info-box .edit-form .forms .header .bg-profile {
  padding: 0;
  margin: 0;
}

.forms .section .action-box, .portfolio .section header.header h1.title, .info-box .edit-form .form-title h1.title, .info-box .edit-form .forms .header, .profile .info-box h1.title, .profile .header .bg-profile {
  margin: 0 !important;
}

@media (max-width: 768px) {
  .ico-opt-mobile {
    display: inline-block;
  }
}

.centered {
  display: inline-block;
}

.clear {
  clear: both;
}

.default-button-properties, .forms .section .action-box .action-button {
  width: 200px;
  padding: 15px 0px;
  margin: 10px 0px;
}

.ico-choose:after {
  background-image: url(../img/sprites.png);
  background-position: -55px -177px;
  width: 30px;
  height: 18px;
}
.ico-choose.mini:after {
  background-image: url(../img/sprites.png);
  background-position: -212px -180px;
  width: 15px;
  height: 9px;
}
.ico-choose.on:after {
  background-image: url(../img/sprites.png);
  background-position: -25px -177px;
  width: 30px;
  height: 18px;
}
.ico-choose.on.mini:after {
  background-image: url(../img/sprites.png);
  background-position: -212px -171px;
  width: 15px;
  height: 9px;
}

.ico-congratulations:after {
  background-image: url(../img/sprites.png);
  background-position: -60px -36px;
  width: 60px;
  height: 60px;
}

.ico-like:after {
  background-image: url(../img/sprites.png);
  background-position: -45px -96px;
  width: 40px;
  height: 34px;
}

.ico-search:after {
  background-image: url(../img/sprites.png);
  background-position: -126px -141px;
  width: 30px;
  height: 30px;
}

.ico-location:after {
  background-image: url(../img/sprites.png);
  background-position: -212px -110px;
  width: 15px;
  height: 22px;
}
.ico-location.big:after {
  background-image: url(../img/sprites.png);
  background-position: -212px 0px;
  width: 20px;
  height: 29px;
}

.ico-clock:after {
  background-image: url(../img/sprites.png);
  background-position: -232px -183px;
  width: 20px;
  height: 20px;
}

.ico-money:after {
  background-image: url(../img/sprites.png);
  background-position: -232px -103px;
  width: 20px;
  height: 20px;
}

.ico-add.big:after {
  background-image: url(../img/sprites.png);
  background-position: 0px -96px;
  width: 45px;
  height: 45px;
}

.ico-cover:after {
  background-image: url(../img/sprites.png);
  background-position: -182px -52px;
  width: 30px;
  height: 26px;
}
.ico-cover:hover:after, .ico-cover.on:after {
  background-image: url(../img/sprites.png);
  background-position: -182px -26px;
  width: 30px;
  height: 26px;
}

.ico-stretch:after {
  background-image: url(../img/sprites.png);
  background-position: -182px -145px;
  width: 30px;
  height: 21px;
}
.ico-stretch:hover:after, .ico-stretch.on:after {
  background-image: url(../img/sprites.png);
  background-position: -182px -124px;
  width: 30px;
  height: 21px;
}

.ico-delete:after {
  background-image: url(../img/sprites.png);
  background-position: -232px -21px;
  width: 21px;
  height: 21px;
}
.ico-delete:hover:after {
  background-image: url(../img/sprites.png);
  background-position: -232px -42px;
  width: 21px;
  height: 21px;
}
.ico-delete.on:after {
  background-image: url(../img/sprites.png);
  background-position: -232px -42px;
  width: 21px;
  height: 21px;
}
.ico-delete.on.big:after {
  background-image: url(../img/sprites.png);
  background-position: -66px -141px;
  width: 30px;
  height: 30px;
}
.ico-delete.big:after {
  background-image: url(../img/sprites.png);
  background-position: -36px -141px;
  width: 30px;
  height: 30px;
}

.ico-edit:after {
  background-image: url(../img/sprites.png);
  background-position: -232px -123px;
  width: 20px;
  height: 20px;
}
.ico-edit:hover:after {
  background-image: url(../img/sprites.png);
  background-position: -212px -49px;
  width: 20px;
  height: 20px;
}

.ico-arrow-select:after {
  background-image: url(../img/sprites.png);
  background-position: -212px -132px;
  width: 20px;
  height: 11px;
}

.ico-check:after, .submit-box .msg.auto-save .ico:after {
  background-image: url(../img/sprites.png);
  background-position: -232px -83px;
  width: 20px;
  height: 20px;
}
.ico-check.on:after, .submit-box .msg.auto-save .ico:after, .info-box .info .steps .step.on .ico-check:after, .info-box .info .steps .step.on .submit-box .msg.auto-save .ico:after, .submit-box .msg.auto-save .info-box .info .steps .step.on .ico:after {
  background-image: url(../img/sprites.png);
  background-position: -232px -163px;
  width: 20px;
  height: 20px;
}
.ico-check.white:after, .submit-box .msg.auto-save .white.ico:after {
  background-image: url(../img/sprites.png);
  background-position: -212px -29px;
  width: 20px;
  height: 20px;
}
.ico-check.big:after, .submit-box .msg.auto-save .big.ico:after {
  background-image: url(../img/sprites.png);
  background-position: -96px -141px;
  width: 30px;
  height: 30px;
}
.ico-check.big.on:after, .submit-box .msg.auto-save .big.ico:after, .info-box .info .steps .step.on .big.ico-check:after, .info-box .info .steps .step.on .submit-box .msg.auto-save .big.ico:after, .submit-box .msg.auto-save .info-box .info .steps .step.on .big.ico:after {
  background-image: url(../img/sprites.png);
  background-position: -145px -96px;
  width: 30px;
  height: 30px;
}

.ico-advisor:after {
  background-image: url(../img/sprites.png);
  background-position: -232px -63px;
  width: 20px;
  height: 20px;
}
.ico-advisor.on:after {
  background-image: url(../img/sprites.png);
  background-position: -232px -143px;
  width: 20px;
  height: 20px;
}

.ico-warning:after, .submit-box .msg.warning .ico:after {
  background-image: url(../img/sprites.png);
  background-position: -232px 0px;
  width: 21px;
  height: 21px;
}

.ico-menu-arrow:after {
  background-image: url(../img/sprites.png);
  background-position: -212px -189px;
  width: 6px;
  height: 10px;
}

.ico-send-msg:after {
  background-image: url(../img/sprites.png);
  background-position: -182px -78px;
  width: 30px;
  height: 23px;
}

.ico-star:after {
  background-image: url(../img/sprites.png);
  background-position: 0px -177px;
  width: 25px;
  height: 24px;
}
.ico-star.on:after {
  background-image: url(../img/sprites.png);
  background-position: -156px -141px;
  width: 25px;
  height: 24px;
}
.ico-star.on.small:after {
  background-image: url(../img/sprites.png);
  background-position: -212px -143px;
  width: 15px;
  height: 14px;
}
.ico-star.big:after {
  background-image: url(../img/sprites.png);
  background-position: 0px -36px;
  width: 60px;
  height: 60px;
}
.ico-star.small:after {
  background-image: url(../img/sprites.png);
  background-position: -212px -157px;
  width: 15px;
  height: 14px;
}
.ico-star.editable:hover:after {
  background-image: url(../img/sprites.png);
  background-position: -156px -141px;
  width: 25px;
  height: 24px;
}

.ico-profile:after {
  background-image: url(../img/sprites.png);
  background-position: -212px -90px;
  width: 18px;
  height: 20px;
}
.ico-profile.on:after {
  background-image: url(../img/sprites.png);
  background-position: -212px -69px;
  width: 18px;
  height: 21px;
}

.ico-video:after {
  background-image: url(../img/sprites.png);
  background-position: -132px -44px;
  width: 50px;
  height: 43px;
}
.ico-video.mini:after {
  background-image: url(../img/sprites.png);
  background-position: -232px -203px;
  width: 20px;
  height: 17px;
}
.ico-video.big:after {
  background-image: url(../img/sprites.png);
  background-position: -132px -44px;
  width: 50px;
  height: 43px;
}

.ico-cam:after {
  background-image: url(../img/sprites.png);
  background-position: 0px -201px;
  width: 23px;
  height: 20px;
}
.ico-cam.big:after {
  background-image: url(../img/sprites.png);
  background-position: -132px 0px;
  width: 50px;
  height: 44px;
}
.ico-cam.on:after {
  background-image: url(../img/sprites.png);
  background-position: -23px -201px;
  width: 23px;
  height: 20px;
}

.info-ico .ico-modeling {
  background-color: #009fcf;
}
.info-ico .ico-modeling:after {
  background-image: url(../img/sprites.png);
  background-position: -182px 0px;
  width: 30px;
  height: 26px;
}
.info-ico .ico-event {
  background-color: #ff515f;
}
.info-ico .ico-event:after {
  background-image: url(../img/sprites.png);
  background-position: -115px -96px;
  width: 30px;
  height: 30px;
}
.info-ico .ico-edu {
  background-color: #00b6c6;
}
.info-ico .ico-edu:after {
  background-image: url(../img/sprites.png);
  background-position: -182px -101px;
  width: 30px;
  height: 23px;
}
.info-ico .ico-language {
  background-color: #00b6c6;
}
.info-ico .ico-language:after {
  background-image: url(../img/sprites.png);
  background-position: -85px -96px;
  width: 30px;
  height: 30px;
}

.default-ico-properties, .ico-choose:after, .ico-congratulations:after, .ico-like:after, .ico-search:after, .ico-location:after, .ico-clock:after, .ico-money:after, .ico-add.big:after, .ico-cover:after, .ico-stretch:after, .ico-delete:after, .ico-edit:after, .ico-arrow-select:after, .ico-check:after, .submit-box .msg.auto-save .ico:after, .ico-check.big:after, .ico-advisor:after, .ico-warning:after, .submit-box .msg.warning .ico:after, .ico-menu-arrow:after, .ico-send-msg:after, .ico-profile:after, .ico-video:after, .ico-cam:after, .info-ico .ico-modeling:after, .info-ico .ico-event:after, .info-ico .ico-edu:after, .info-ico .ico-language:after, .default-star-classification, .ico-star:after {
  content: '';
}

.default-star-classification, .ico-star:after {
  margin-right: 7px;
}

.menu {
  z-index: 5;
}
.menu.simple-top {
  text-align: center;
  background-color: #000000;
  padding: 10px;
}
.menu.side-nav {
  width: 0;
  overflow-y: auto;
  background-color: #000000;
  margin: 0;
  height: 100%;
  color: #FFFFFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media (min-width: 768px) {
  .menu.side-nav {
    width: 220px;
  }
}
.menu.side-nav .logo {
  padding-bottom: 38px;
}
.menu.side-nav .close-box {
  margin: 7px 0px;
  background-color: #d05d52;
  font-size: 1.500rem;
  padding: 5px 0px;
}
.menu.side-nav .profile-peek {
  padding: 12px 33px 30px 33px;
  border-bottom: 1px solid #4d4d4d;
}
.menu.side-nav .profile-peek .profile-avatar {
  height: auto;
  overflow: auto;
}
.menu.side-nav .profile-peek .profile-avatar .avatar-box {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.menu.side-nav .profile-peek .profile-avatar .avatar-box .avatar {
  height: 100%;
}
.menu.side-nav .profile-peek .profile-avatar .profile-avatar-aux {
  padding: 10px 0px 0px 10px;
}
.menu.side-nav .profile-peek .profile-avatar .profile-avatar-aux .first-name {
  font-size: 1rem;
}
.menu.side-nav .profile-peek .profile-avatar .profile-avatar-aux .text-link {
  color: #7f7f7f;
  font-size: 0.813rem;
}
.menu.side-nav .profile-menu .items-box .items {
  margin: 0;
  padding: 0;
}
.menu.side-nav .profile-menu .items-box .items .item {
  font-size: 0.813rem;
  color: #FFFFFF;
}
.menu.side-nav .profile-menu .items-box .items .item a {
  padding: 20px 10px 20px 33px;
  color: #FFFFFF;
  display: block;
}
.menu.side-nav .profile-menu .items-box .items .item a:hover, .menu.side-nav .profile-menu .items-box .items .item a:active, .menu.side-nav .profile-menu .items-box .items .item a:focus {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #00b6c6;
}
.menu.side-nav .profile-menu .items-box .items .item .active {
  background-color: #00b6c6;
}
.menu.side-nav .profile-menu .items-box .items .item .feature .ico-menu-arrow {
  margin-left: 15px;
}
.menu.side-nav .profile-menu .items-box .items .item .feature .notification {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #d05d52;
  font-size: 0.813rem;
  padding: 6px 6px 6px 4px;
  margin-top: -6px;
  width: auto;
}

.side-nav-inner {
  width: 220px;
}

.toggled-navigation .side-nav {
  width: 220px;
}
@media (min-width: 768px) {
  .toggled-navigation .side-nav {
    width: 0;
  }
}
.toggled-navigation .main-page {
  -webkit-transform: translateX(220px);
  -moz-transform: translateX(220px);
  -ms-transform: translateX(220px);
  -o-transform: translateX(220px);
  transform: translateX(220px);
}
@media (min-width: 768px) {
  .toggled-navigation .main-page {
    margin-left: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.btn-toggle-nav {
  position: absolute;
  left: 10px;
  top: 15px;
}

.uc-btn {
  font-size: 20px;
  font-size: 1.25rem;
  border-style: solid;
}
.uc-btn.green {
  border-width: 1px;
  border-color: #00b6c6;
  background-color: #00b6c6;
  color: #FFFFFF;
}
.uc-btn.green:hover {
  background-color: #FFFFFF;
  color: #00b6c6;
}
.uc-btn.green:disabled {
  border-color: #00e5f9;
  background-color: #00e5f9;
}
.uc-btn.green:disabled:hover {
  color: #FFFFFF;
}
.uc-btn.white {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 1rem;
  border-width: 2px;
  border-color: #00b6c6;
  background-color: #FFFFFF;
  color: #00b6c6;
  padding: 8px;
}
.uc-btn.white:disabled {
  border-color: #00e5f9;
  background-color: #e3e3e6;
}
.uc-btn.white i {
  margin-right: 8px;
}
.uc-btn.more-info {
  border-width: 0px;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 1.125rem;
  padding: 30px 0px;
}
.uc-btn.more-info:disabled {
  border-color: #00e5f9;
  background-color: #00e5f9;
}
.uc-btn.more-info:disabled:hover {
  color: #FFFFFF;
}
.uc-btn.cancel {
  border-width: 0px;
  background-color: #FFFFFF;
  color: #808080;
}
.uc-btn.cancel:hover {
  background-color: #FFFFFF;
  color: #00b6c6;
}
.uc-btn.cancel:disabled {
  border-color: #00e5f9;
  background-color: #00e5f9;
}
.uc-btn.cancel:disabled:hover {
  color: #FFFFFF;
}

.btn-primary {
  background-color: #009fcf;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #00789c;
}

.close {
  line-height: normal;
}

.btn-send-message {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #999999;
  border: 1px #999999 solid;
  font-size: 1rem;
  padding: 10px 20px;
  height: 43px;
  margin-top: 25px;
  min-width: 160px;
}
.btn-send-message .text {
  padding-left: 6px;
  line-height: 25px;
  font-family: 'din-regular', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.classification {
  margin-top: 29px;
  height: 25px;
  min-width: 160px;
  max-width: 160px;
}

.image-circle {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.img-responsive {
  width: 100%;
}

img {
  pointer-events: none;
}

.forms {
  padding: 15px;
}
.forms .section {
  border-bottom: 1px solid #f0f0f2;
  width: 100%;
}
.forms .section .section-title {
  padding-top: 15px;
}
.forms .section .section-title .title {
  color: #000000;
}
.forms .section h1 {
  margin-top: 15px;
  margin-bottom: -15px;
  font-size: 1.125rem;
  color: #00b6c6;
}
.forms .section .action-box {
  padding: 0px 0px 15px 0px;
}

.form-section {
  padding: 15px;
  border-bottom: 1px solid #f0f0f2;
}
.form-section .title {
  color: #00b6c6;
}

.form-section-title {
  color: #00b6c6;
  font-weight: 700;
}

select {
  height: 58px;
  padding: 15px;
}

textarea {
  resize: vertical;
  width: 100%;
  height: 100px;
}

.control-label {
  color: #808080;
  padding-bottom: 15px;
}

.form-group-title {
  color: #00b6c6;
  font-size: 1.125rem;
}

.form-group-description {
  color: #808080;
  font-size: 1rem;
}

.form-control {
  height: 58px;
}

input[type="date"] {
  padding-top: 18px;
  padding-bottom: 18px;
}

.form-group {
  font-size: 1rem;
  margin-bottom: 35px;
  position: relative;
}
.form-group .element .ico-arrow-select {
  margin-right: 15px;
}
@media (max-width: 768px) {
  .form-group .element .ico-arrow-select {
    margin-right: 0px;
  }
}
.form-group .element .ico-arrow-select {
  pointer-events: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 100%;
  right: 0;
  top: 0;
  padding: 20px 10px;
  background-color: #FFFFFF;
  border: 1px solid #cacacc;
}
.form-group .element .textarea-false {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  border: 1px solid #cacacc;
  background-color: #FFFFFF;
}
.form-group .element .textarea-false .hashtags .item {
  margin: 10px 0px 10px 10px;
}
.form-group .element .textarea-false .add-hashtag-box {
  margin: 10px 0px 10px 10px;
}

.check-box, .radio-box {
  background-color: #ffffff;
}
.check-box.bump, .radio-box.bump {
  margin-bottom: 15px;
}
.check-box[checked], .radio-box[checked] {
  border: 1px solid #00b6c6;
  color: #00b6c6;
}
.check-box.first, .radio-box.first {
  margin-left: 0px;
}
.check-box.raw, .radio-box.raw {
  padding-top: 35px;
}
.check-box.inbox, .radio-box.inbox {
  margin-right: 15px;
  margin-bottom: 15px;
  color: #cacacc;
}
.check-box.inbox input[type='radio']:after, .radio-box.inbox input[type='radio']:after {
  border: 1px solid #cacacc;
}

.check-box {
  padding: 15px;
  min-width: 130px;
  margin-bottom: 15px;
  cursor: pointer;
  line-height: 22px;
}
.check-box input[type="checkbox"] {
  margin-left: 0;
  width: 25px;
  height: 1px;
  float: left;
}
.check-box input[type="checkbox"]:after {
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
}

.radio-box {
  padding: 20px 15px;
}
.radio-box input[type="radio"] {
  margin-right: 15px;
}
.radio-box input[type="radio"]:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
}

.help-block {
  position: absolute;
  line-height: 14px;
  font-size: 13px;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.default-input-properties, select, textarea, input[type="text"], input[type="number"], input[type="password"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #cacacc;
}

.default-form-boxes, .check-box, .radio-box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cacacc;
}

.default-form-element-boxes, .check-box input[type="checkbox"]:after, .radio-box input[type="radio"]:after {
  content: '';
}

.default-form-checked-element, .check-box input[type="checkbox"]:checked:after, .radio-box input[type="radio"]:checked:after {
  border: 1px solid #00b6c6;
  background-color: #00b6c6;
}

.filter-group {
  margin-bottom: 12px;
}

.submit-box {
  padding: 15px;
}
.submit-box .msg {
  padding-top: 25px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .submit-box .msg {
    width: 100%;
  }
}
.submit-box .msg.warning {
  color: #e74c3c;
}
.submit-box .msg.auto-save {
  color: #00b6c6;
}

button, input, select {
  overflow: auto;
}

select.form-control:not([size]):not([multiple]) {
  height: 58px;
}

select.form-control[multiple] {
  height: auto;
}

body {
  background-color: #f0f0f2;
  font-family: "Helvetica Neue", "din-regular", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.logo h1 {
  background-image: url(../img/sprites.png);
  background-position: 0px 0px;
  width: 132px;
  height: 36px;
}
.logo h1.mini {
  max-width: 36px;
  background-image: url(../img/sprites.png);
  background-position: 0px -141px;
  width: 36px;
  height: 36px;
}

h1.logo {
  background-image: url(../img/sprites.png);
  background-position: 0px 0px;
  width: 132px;
  height: 36px;
}
h1.logo.mini {
  max-width: 36px;
  background-image: url(../img/sprites.png);
  background-position: 0px -141px;
  width: 36px;
  height: 36px;
}

.main-page {
  height: auto;
  min-height: 100vh;
  z-index: 1;
  margin-left: 0;
  padding-bottom: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .main-page {
    margin-left: 220px;
  }
}

.content-page {
  padding-top: 30px;
}

.default-logo-propertie, .logo h1, .logo h1.mini, h1.logo, h1.logo.mini {
  text-indent: -9999px;
  color: #000000;
}

.page-header {
  background-color: #ffffff;
  box-shadow: 0 4px 2px -2px #d8d8d9;
}
.page-header:after {
  clear: both;
  display: block;
  content: '';
}

.page-header-tab {
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px;
}

@media screen and (min-width: 992px) {
  .page-header-tab {
    float: left;
  }
}
.page-header-tab-clickable {
  cursor: pointer;
  background-color: #d8d8d9;
  border-bottom-color: #b3b3b3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.page-header-tab-clickable-active {
  background-color: #ffffff;
  border-bottom-color: #009fcf;
  color: #009fcf;
}

.page-header-tab-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.info-box {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
}
.info-box .header h1.title {
  color: #999999;
  font-size: 1rem;
}
.info-box .header h1.title.main {
  padding-bottom: 15px;
}
.info-box .header h2.title {
  font-size: 1rem;
}
.info-box .header {
  padding: 20px 60px;
  border-bottom: #e3e3e6 1px solid;
}
.info-box .info {
  padding-bottom: 15px;
}
.info-box .info .steps {
  padding: 30px 15px 0px 0px;
}
@media (max-width: 768px) {
  .info-box .info .steps {
    width: 100%;
  }
}
.info-box .info .steps .step {
  cursor: pointer;
  width: 100%;
}
.info-box .info .steps .step.on .highlighter {
  background-color: #00b6c6;
}
.info-box .info .steps .step.on .step-profile {
  color: #00b6c6;
}
.info-box .info .steps .step .highlighter {
  width: 5px;
  height: 30px;
  margin-right: 15px;
  padding: 0;
  background-color: #e3e3e6;
}
.info-box .info .steps .step .step-profile {
  font-size: 0.813rem;
  color: #808080;
}
.info-box .info .added-desc-box {
  width: 100%;
  border-bottom: 1px solid #f0f0f2;
  padding: 15px;
}
.info-box .info .added-desc-box .edit-box {
  right: 0;
  z-index: 10;
  margin: 5px 30px 0px 0px;
}
.info-box .info .desc {
  padding: 27px 48px;
}
.info-box .info .split-box {
  padding: 0px 27px;
}
@media (max-width: 544px) {
  .info-box .info .split-box.qualifications {
    padding-top: 10px;
  }
}
.info-box .info .split-box.qualifications .rank-box {
  width: 100%;
  border: #f0f0f2 1px solid;
  padding: 27px 30px;
}
.info-box .info .split-box.qualifications .rank-box .rank {
  align-items: center;
}
@media (max-width: 544px) {
  .info-box .info .split-box.qualifications .rank-box .rank {
    display: block;
    text-align: center;
  }
}
.info-box .info .split-box.qualifications .rank-box .rank .stars {
  min-width: 160px;
}
.info-box .info .split-box.qualifications .rank-box .rank .stars .system {
  margin-top: 0;
}
@media (max-width: 544px) {
  .info-box .info .split-box.qualifications .rank-box .rank .stars .system {
    position: relative;
    left: 50%;
    margin-left: -80px;
  }
}
.info-box .footer {
  margin: 0;
}
.info-box .footer .load-more {
  font-size: 0.813rem;
  height: 20px;
  margin-bottom: 20px;
}

.info-box-content {
  padding: 15px 15px;
}

@media (max-width: 992px) {
  .info-ico {
    width: 100%;
    margin-bottom: 10px;
  }
}
.info-ico i {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  margin-left: -30px;
  left: 50%;
}
.info-ico i:after {
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@media (max-width: 992px) {
  .info-text {
    width: 100%;
    text-align: center;
  }
}
.info-text .title {
  font-size: 1.125rem;
  padding-bottom: 5px;
  margin: 0;
}
.info-text .title-desc {
  line-height: 2rem;
  font-size: 1rem;
  color: #999999;
}
.info-text .date {
  font-size: 1rem;
}
.info-text .more-info {
  padding-top: 5px;
  font-size: 0.813rem;
  color: #999999;
}

.info-box-gray {
  background-color: #e3e3e6;
}

.info-box-top {
  -webkit-box-shadow: 0px 1px 3px 3px #d8d8d9;
  -moz-box-shadow: 0px 1px 3px 3px #d8d8d9;
  box-shadow: 0px 1px 3px 3px #d8d8d9;
  width: 100%;
  background-color: #FFFFFF;
  height: auto;
}
.info-box-top .forms {
  width: 100%;
}
.info-box-top .forms .section {
  padding: 0px 30px;
}
.info-box-top.modular {
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  display: flex;
  background-color: #f0f0f2;
  min-height: 100%;
  flex-wrap: wrap;
}
.info-box-top.modular .module {
  padding: 30px 10px;
  border-width: 0px 5px 5px 0px;
  border-style: solid;
  border-color: #e3e3e6;
  color: #808080;
  text-align: center;
  min-height: 100%;
  height: auto;
}
.info-box-top.modular .module.info {
  padding-bottom: 25px;
}
.info-box-top.modular .module.info .section {
  width: 100%;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #e3e3e6;
  font-size: 1rem;
  padding: 0px 30px 14px;
}
.info-box-top.modular .module.info .section.last {
  border-width: 0px;
  padding: 15px 30px 0px;
}
.info-box-top.modular .module.info .section .right {
  width: 50%;
}
.info-box-top.modular .module.info .section .left {
  width: 50%;
}
.info-box-top.modular .module.on {
  background-color: #FFFFFF;
  border-width: 0px 0px 5px 0px;
  border-color: #00b6c6;
  color: #00b6c6;
}
.info-box-top.modular .module h1.title {
  font-size: 36px;
  font-size: 2.25rem;
}
.info-box-top.modular .module h2.subtitle {
  font-size: 20px;
  font-size: 1.25rem;
}
.info-box-top.modular .module .option {
  color: #b3b3b3;
  right: 0;
  top: 0;
  margin: 10px 15px;
}
.info-box-top .header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 65px;
}
.info-box-top .header h1.title {
  line-height: 48px;
  color: #000000;
  font-size: 1.625rem;
}
.info-box-top .header h2.subtitle {
  padding-bottom: 15px;
  color: #7f7f7f;
  font-size: 1rem;
}
.info-box-top .header .btn.white {
  margin-left: 25px;
}
.info-box-top .header .nav-page {
  color: #00b6c6;
  padding: 0px 0px 10px;
}
.info-box-top .bottom-menu {
  width: 100%;
  border-top: 2px #f0f0f2 solid;
  overflow-x: auto;
}
.info-box-top .bottom-menu .items {
  padding: 0px 30px;
}
.info-box-top .bottom-menu .items .item {
  color: #999999;
  padding: 20px 0px;
  margin: 0px 15px;
  font-size: 0.813rem;
  border-bottom: 2px solid #FFFFFF;
}
.info-box-top .bottom-menu .items .item.on {
  color: #00b6c6;
  border-bottom: 2px solid #00b6c6;
}
.info-box-top .section.check-combo .input {
  padding: 10px 0px 30px;
}
.info-box-top .section .input .element .check-box.raw {
  padding-top: 20px;
  color: #999999;
}
.info-box-top .section .input .element .check-box.raw input:after {
  border-color: #999999;
}
.info-box-top .section .input .element.iconized-left input[type='text'] {
  padding: 15px 15px 15px 50px;
  font-size: 1.125rem;
}
.info-box-top .section .input .element.iconized-left i {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
}

.system.hashtags-box .hashtags .item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #00b6c6;
  border: 1px #00b6c6 solid;
  padding: 10px 10px;
}
.system.hashtags-box .add-hashtag-box {
  color: #000000;
}
.system.hashtags-box .add-hashtag-box .add-hashtag {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 60px;
  padding: 10px 20px 10px 10px !important;
  border-style: solid;
  border-color: #000000;
  border-bottom-width: 1px;
}
.system.hashtags-box .add-hashtag-box i.fa-plus-circle:before {
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 7px;
}

.system.card-area {
  margin: 0 auto;
  padding: 0px 15px 30px;
}
.system.card-area .section {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #cacacc;
}
.system.card-area .section header.section-title {
  width: 100%;
  padding: 30px 15px;
  color: #999999;
  font-size: 1.625rem;
}
.system.card-area .section header.section-title.centered {
  text-align: center;
}
.system.card-area .section .card.box.job {
  margin: 0px 15px 30px;
}

@media (max-width: 768px) {
  .system.card {
    margin-top: 30px !important;
  }
}
.system.card.header {
  height: auto;
  font-size: 1.25rem;
  margin: 0 auto;
  max-width: 525px;
  padding-bottom: 30px;
}
.system.card.header .msg {
  font-size: 1rem;
}
.system.card.header .msg h2 {
  font-size: 1.625rem;
  margin-bottom: 5px;
}
.system.card.header .ico-congratulations {
  margin-right: 20px;
}
.system.card.header i {
  margin-bottom: 20px;
}
.system.card.box {
  background-color: #FFFFFF;
}
@media (max-width: 768px) {
  .system.card.box {
    max-width: 100% !important;
    width: 100%;
  }
}
.system.card.box.job {
  -webkit-box-shadow: 0px 0px 3px 3px #e3e3e6;
  -moz-box-shadow: 0px 0px 3px 3px #e3e3e6;
  box-shadow: 0px 0px 3px 3px #e3e3e6;
  margin: 30px 15px 0px;
  max-width: 340px;
  width: 100%;
}
.system.card.box.job.done .done-box {
  width: 100%;
  height: 100%;
  z-index: 5;
  color: #FFFFFF;
}
.system.card.box.job.done .done-box.event {
  background-color: #ff515f;
}
.system.card.box.job.done .done-box.modeling {
  background-color: #009fcf;
}
.system.card.box.job.done .done-box.acting {
  background-color: #f7931e;
}
.system.card.box.job.done .done-box .msg {
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-size: 1.25rem;
  left: 50%;
  top: 50%;
}
.system.card.box.job.done .done-box .msg i {
  margin-bottom: 20px;
}
.system.card.box.job.open {
  max-width: 750px;
}
@media (max-width: 768px) {
  .system.card.box.job.open .register-checked .text {
    display: none !important;
  }
}
.system.card.box.job.open .job-desc {
  padding: 30px;
  width: 100%;
  color: #4d4d4d;
  font-size: 1rem;
}
.system.card.box.job.open .job-desc.bordered {
  border-bottom: 1px solid #f0f0f2;
}
.system.card.box.job.open .job-desc h1 {
  font-size: 20px;
  font-size: 1.25rem;
  padding-bottom: 7px;
}
.system.card.box.job.open .job-desc ul li {
  padding: 3.5px 0px;
}
.system.card.box.job.open .job-desc ul li:before {
  content: '-';
}
.system.card.box.job.open .about .item {
  width: 33%;
  clear: none;
}
.system.card.box.job.open .about .item i {
  vertical-align: middle;
}
@media (max-width: 1024px) {
  .system.card.box.job.open .action-box .btn {
    width: 100% !important;
  }
}
.system.card.box.job.open .action-box .cancel {
  width: 85px;
  margin-right: 30px;
}
.system.card.box.job.open .action-box .green {
  width: 310px;
}
.system.card.box.job .header {
  padding: 30px;
  color: #FFFFFF;
}
.system.card.box.job .header.event {
  background-color: #ff515f;
}
.system.card.box.job .header.modeling {
  background-color: #009fcf;
}
.system.card.box.job .header.acting {
  background-color: #f7931e;
}
.system.card.box.job .header h1.title {
  font-size: 1.125rem;
  line-height: 25px;
}
.system.card.box.job .header h2.subtitle {
  font-size: 1.125rem;
}
.system.card.box.job .header .register-checked {
  right: 0;
  top: 0;
  margin: 30px;
}
.system.card.box.job .about {
  width: 100%;
  padding: 15px 0px;
  border-bottom: 1px solid #f0f0f2;
}
.system.card.box.job .about .item {
  padding: 15px 30px;
  clear: both;
}
.system.card.box.job .about .item i {
  margin-right: 10px;
}
.system.card.box.job .about .item .item-desc {
  padding-top: 3px;
}
.system.card.box.company {
  margin: 30px auto;
  max-width: 340px;
  width: 340px;
}
.system.card.box.model {
  margin: 30px 15px;
  max-width: 340px;
  width: 340px;
}
.system.card.box .rated-logo {
  width: 100%;
  padding: 30px 0px;
  border-bottom: 1px solid #f0f0f2;
}
.system.card.box .rated-image {
  width: 100%;
  border-bottom: 1px solid #f0f0f2;
  padding-bottom: 15px;
}
.system.card.box .rated-image figure img {
  width: 100%;
}
.system.card.box .rated-image figure .model-data {
  padding: 15px 30px;
  font-size: 1rem;
  line-height: 1.125rem;
  border: none;
}
.system.card.box .rating-box {
  width: 100%;
  border-bottom: 1px solid #f0f0f2;
  padding: 15px 30px;
}
.system.card.box .rating-box .rate-item .rate-desc {
  width: 100%;
  font-size: 1rem;
  padding: 15px 0px;
}
.system.card.box .rating-box .rate-item .rate {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px 3px #e3e3e6;
  -moz-box-shadow: 0px 1px 3px 3px #e3e3e6;
  box-shadow: 0px 1px 3px 3px #e3e3e6;
  width: 100%;
  padding: 8px 2px;
}
.system.card.box .image-menu {
  font-size: 30px;
  font-size: 1.875rem;
  width: 100%;
  padding: 15px 27px 0px;
  color: #999999;
}
.system.card.box .image-menu i {
  margin: 0px 21px;
}
.system.card.box .image-menu .fa-heart-o {
  font-size: 20px;
  font-size: 1.25rem;
}
.system.card.box .image-menu .fa-angle-left {
  margin-left: 0px;
}
.system.card.box .image-menu .fa-angle-right {
  margin-right: 0px;
}
.system.card.box .msg-selected {
  bottom: 0;
  padding-top: 221px;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.system.card.box .msg-selected .msg-box {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}
.system.card.box .msg-selected .msg-box .text {
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 205px;
  left: 50%;
  top: 70%;
}
.system.card.box .msg-selected .msg-box .text i {
  margin-bottom: 20px;
}
.system.card.box .msg-selected .msg-box .text .title {
  font-size: 25px;
  font-size: 1.5625rem;
  width: 100%;
  color: #00b6c6;
  margin-bottom: 12px;
}
.system.card.box .msg-selected .msg-box .text .message {
  width: 100%;
  margin-bottom: 22px;
}
.system.card.box .msg-selected .msg-box .text .action-refuse {
  width: 100%;
  color: #a2a2a2;
}
.system.card.box .model-data {
  width: 100%;
  padding: 15px 30px;
  font-size: 1rem;
  line-height: 1.125rem;
  border-bottom: 1px solid #f0f0f2;
}
.system.card.box .model-data .data.lvl-1 {
  font-size: 1rem;
}
.system.card.box .model-data .data.lvl-2 {
  font-size: 1rem;
}
.system.card.box .model-data .data.lvl-3 {
  padding-top: 15px;
  font-size: 0.813rem;
  color: #4d4d4d;
}
.system.card.box .model-data .data.rate {
  width: 100%;
  padding: 17px 0px 0px;
}
.system.card.box .model-data .data .sub-data {
  width: 100%;
}
.system.card.box .action-box {
  width: 100%;
  padding: 15px 30px;
}
.system.card.box .action-box .action-option {
  width: 65px;
  color: #999999;
}
.system.card.box .action-box .action-option i {
  display: block;
}
.system.card.box .action-box .action-option i.ico-choose {
  margin: 7px 0px 6px;
}
.system.card.box .action-box .action-option.on {
  color: #00b6c6;
}
.system.card.box .action-box .action-option.select {
  width: 150px;
}
.system.card.box .action-box button {
  width: 100%;
  padding: 15px 0px;
}

.item-card {
  margin-bottom: 15px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #cacacc;
}
.item-card:hover {
  border-color: #000000;
}

.item-card-info {
  padding: 10px 25px;
}

.item-card-main-info {
  font-size: 1rem;
  color: #000000;
}

.item-card-additional-info {
  margin-top: 4px;
  font-size: .813rem;
  color: #4d4d4d;
}

.image-menu {
  width: 100%;
  text-align: center;
  font-size: 1.875rem;
  color: #999999;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
}

.image-menu-icon {
  cursor: pointer;
  padding: 0 25px;
}

.card-arrow-container {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #9d9d9d;
}

.card-prev-arrow, .card-next-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -44px;
  padding: 0px 5px;
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 30px;
}

.card-next-arrow {
  right: 0;
}

.action-box {
  border-top: 1px solid #f0f0f2;
  width: 100%;
  text-align: center;
  /* IE10 */
  display: flexbox;
  display: flex;
}

.action-option {
  flex-grow: 1;
  flex-basis: 33.3333%;
  display: block;
  cursor: pointer;
  padding: 10px;
}
.action-option:hover {
  color: #ffffff;
  background-color: #009fcf;
}
.action-option .fa {
  font-size: 1.4rem;
}

.card-rating {
  width: 100%;
  padding: 0 0 5px;
  text-align: center;
}
.card-rating i {
  display: inline-block;
}

.single-line {
  width: 100%;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card {
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 1px;
  border-color: #cacacc;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.project-card:hover {
  border-color: #000000;
}

.project-card-header {
  color: #ffffff;
  background-color: #00a0cf;
  padding: 20px;
}

.project-card-content {
  padding: 20px;
  background-color: #ffffff;
  color: #4d4d4d;
}

.project-card-job {
  padding: 5px 10px;
  font-size: 12px;
  margin-top: 3px;
  background-color: #e3e3e6;
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
  border-width: 1px;
  border-left-width: 5px;
  border-color: transparent;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.project-card-job:hover {
  border-color: #000000;
  border-left-color: #69dcff;
}

.uc-card {
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 1px;
  border-color: #cacacc;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uc-card:hover {
  border-color: #000000;
}

.uc-card-header {
  color: #ffffff;
  background-color: #00a0cf;
  padding: 20px;
}

.uc-card-header-tag {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.uc-card-content {
  padding: 20px;
  background-color: #ffffff;
  color: #4d4d4d;
}

.switch-menu {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 45px;
}
.switch-menu .item {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #e3e3e6;
  color: #999999;
  min-height: 45px;
  padding: 13px 30px;
  cursor: pointer;
  border-top: 2px #999999 solid;
}
.switch-menu .item .desc {
  vertical-align: middle;
}
@media (max-width: 768px) {
  .switch-menu .item .desc {
    display: none;
  }
}
.switch-menu .item.on {
  border-top-color: #00b6c6;
  background-color: #FFFFFF;
  color: #00b6c6;
}

.album-panel {
  padding-bottom: 15px;
}

.album-title {
  font-size: 1.125rem;
  color: #00b6c6;
}

.album-item {
  cursor: pointer;
  border-color: #aaaaaa;
  border-width: 1px;
  border-style: solid;
}

.album-image {
  position: relative;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 15%;
  background-color: #ffffff;
  width: 100%;
  height: 220px;
  margin-bottom: 15px;
}
.album-image.add {
  border: 1px solid #00b6c6;
  margin-bottom: 35px;
}
.album-image.add:hover {
  background-color: #f0f0f2;
}
.album-image.add .add-box {
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #00b6c6;
  font-size: 1.25rem;
  left: 50%;
  top: 50%;
}
.album-image.add .add-box i {
  margin-bottom: 15px;
}
.album-image.add .add-box i:after {
  background-repeat: no-repeat;
}

.composite-thumbnail {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 250px;
}

.video-item iframe {
  width: 100%;
  height: 300px;
}

.album-carousel {
  margin: 30px auto;
}

hr {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
}

.divider-sm {
  width: 100%;
  height: 1px;
  background-color: #a2a2a2;
  margin-top: 6px;
  margin-bottom: 6px;
}

.divider-lg {
  width: 100%;
  height: 1px;
  background-color: #a2a2a2;
  margin-top: 12px;
  margin-bottom: 12px;
}

.job-tab {
  cursor: pointer;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 5px;
  border-color: transparent;
  background-color: #e3e3e6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.job-tab:hover {
  border-color: #222222;
  border-left-color: #69dcff;
}
.job-tab.active {
  border-color: #000000;
  border-left-color: #009fcf;
}

.modal-gray {
  background-color: #e3e3e6;
}

.col-no-padding {
  padding-left: 0;
  padding-right: 0;
}

.brick {
  width: 100%;
  padding: 8px;
}

@media screen and (min-width: 992px) {
  .brick-20 {
    width: 20%;
  }

  .brick-25 {
    width: 25%;
  }

  .brick-33 {
    width: 33.333333%;
  }

  .brick-50 {
    width: 50%;
  }

  .brick-66 {
    width: 66.666666%;
  }

  .brick-75 {
    width: 75%;
  }

  .brick-100 {
    width: 100%;
  }
}
.section-title {
  color: #00b6c6;
  font-weight: bold;
}

.hirer .header h1.title {
  padding: 0px 30px;
  font-size: 1.625rem;
  color: #000000;
}
.hirer .content.items {
  width: 100%;
}
.hirer .content.items:last-child {
  margin-bottom: 55px;
}
.hirer .content.items .item {
  padding: 30px 15px;
  width: 100%;
}
.hirer .content.items .item:nth-child(odd) {
  background-color: #FFFFFF;
}
.hirer .content.items .item:nth-child(even) {
  background-color: #f8f8fa;
}
.hirer .content.items .item h2.title {
  font-size: 1.125rem;
}
.hirer .content.items .item span.desc {
  font-size: 1rem;
}
.hirer .content.items .item .item-menu {
  color: #b3b3b3;
  height: 100%;
}
.hirer .content.items .item .item-menu .fa-ellipsis-h:hover {
  color: #00b6c6;
}
.hirer .content.items .item .item-menu .pop-menu {
  -webkit-box-shadow: 0px 0px 3px 3px #e3e3e6;
  -moz-box-shadow: 0px 0px 3px 3px #e3e3e6;
  box-shadow: 0px 0px 3px 3px #e3e3e6;
  z-index: 5;
  font-family: "Helvetica Neue", "din-regular", Helvetica, Arial, sans-serif;
  right: 0;
  margin-right: 15px;
  padding: 0px 15px;
  width: 115px;
  background-color: #FFFFFF;
  color: #000000;
}
.hirer .content.items .item .item-menu .pop-menu .pop-menu-items {
  padding: 0;
}
.hirer .content.items .item .item-menu .pop-menu .pop-menu-items .pop-menu-item {
  padding: 10px 0px;
}
.hirer .content.items .item .item-menu .pop-menu .pop-menu-items .pop-menu-item:hover {
  color: #00b6c6;
}

.portfolio {
  padding: 30px;
}
.portfolio.edit-form .section {
  padding-left: 15px;
  padding-right: 15px;
}
.portfolio .forms.bordered {
  border-bottom: 1px solid #f0f0f2;
}
.portfolio .forms .form-title h1.title {
  font-size: 1.625rem;
}
.portfolio .section {
  padding: 30px 0px 25px;
}
.portfolio .section.bordered {
  border-bottom: 1px solid #f0f0f2;
}
.portfolio .section header.header {
  padding-left: 0px;
  padding-right: 0px;
}
.portfolio .section header.header h1.title {
  padding: 0px 0px 15px;
  font-size: 1.625rem;
  color: #000000;
}
.portfolio .section header.header h2.subtitle {
  font-size: 1rem;
  color: #000000;
}

.albums .album {
  min-height: 250px;
}
@media (max-width: 768px) {
  .albums .album {
    clear: both;
    margin: 0 auto;
  }
}
@media (max-width: 544px) {
  .albums .album {
    width: 100%;
  }
}
.albums .album img {
  width: 100%;
  height: 200px;
}
.albums .album .album-panel {
  padding: 15px 0px;
}
.albums .album .album-panel .album-title {
  font-size: 1.125rem;
  color: #00b6c6;
}
.albums .album .album-panel .edit-box {
  right: 0;
}
.albums .album .album-panel .edit-box i {
  margin-left: 15px;
}

@media (max-width: 768px) {
  .info-box .info .steps {
    position: relative !important;
  }
}
.info-box .switch-menu {
  background-color: #f0f0f2;
}
.info-box .switch-menu .item {
  padding: 13px 30px;
  background-color: #e3e3e6;
  border-top: 2px #999999 solid;
  color: #999999;
}
@media (max-width: 992px) {
  .info-box .switch-menu .item {
    text-align: center;
    width: 50%;
  }
}
.info-box .switch-menu .item.on {
  background-color: #FFFFFF;
  border-top: 2px #00b6c6 solid;
  color: #00b6c6;
}
.info-box .edit-form {
  padding: 15px;
}
@media (max-width: 768px) {
  .info-box .edit-form {
    padding: 20px;
  }
}
.info-box .edit-form .form-title {
  padding: 15px 15px 0px;
}
@media (max-width: 768px) {
  .info-box .edit-form .form-title {
    text-align: center;
  }
}
.info-box .edit-form .form-title h1.title {
  font-size: 1.625rem;
}
.info-box .edit-form .form-title.bordered {
  padding-bottom: 25px;
  border-bottom: 1px solid #f0f0f2;
}
.info-box .edit-form .forms .section {
  padding: 15px;
}
.info-box .edit-form .forms .header {
  padding: 30px 0px;
  border: none;
}
.info-box .edit-form .forms .header .bg-profile {
  height: 167px;
}
.info-box .edit-form .forms .header .bg-profile .image {
  background-color: #FFFFFF;
  height: 100%;
}
.info-box .edit-form .forms .header .profile-avatar {
  min-width: 125px;
  height: 75px;
}
.info-box .edit-form .forms .header .profile-avatar .image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(239, 239, 239, 0.5);
  -moz-box-shadow: 0px 2px 2px 2px rgba(239, 239, 239, 0.5);
  box-shadow: 0px 2px 2px 2px rgba(239, 239, 239, 0.5);
  border: #FFFFFF 2px solid;
  min-width: 125px;
  height: 125px;
  margin-top: -50px;
  margin-left: -62.5px;
  left: 50%;
}
.info-box .edit-form .forms .header .change {
  color: #00b6c6;
  padding-top: 22px;
}
.info-box .edit-form .forms .header .change .ico-cam {
  height: 100%;
}

.profile {
  min-height: 360px;
  padding: 0;
  margin: 0 auto;
}
.profile.response {
  padding: 40px;
  font-size: 1rem;
  width: 100%;
}
.profile .see-portfolio .text {
  font-size: 0.813rem;
}
.profile .info-box {
  margin: 20px 0;
}
.profile .info-box:first-child {
  margin-top: 0;
}
.profile .info-box h1.title {
  color: #999999;
  font-size: 1rem;
}
.profile .info-box h1.title.main {
  padding-bottom: 15px;
}
.profile .info-box h2.title {
  font-size: 1rem;
}
.profile .info-box .info {
  padding: 20px 60px;
}
.profile .header {
  margin: 0 auto;
  margin-bottom: 25px;
}
.profile .header .bg-profile {
  width: 100%;
  height: 220px;
}
.profile .header .bg-profile .image {
  background-image: -webkit-linear-gradient(top, #000000 0%, #f0f0f2 95%);
  background-image: -o-linear-gradient(top, #000000 0%, #f0f0f2 95%);
  background-image: linear-gradient(to bottom, #000000 0%, #f0f0f2 95%);
  background-repeat: repeat-y;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FFF0F0F2', GradientType=1);
  background-color: #f0f0f2;
  height: 100%;
}
.profile .header .general-profile {
  padding-left: 30px;
  padding-right: 30px;
}
.profile .header .general-profile .profile-avatar {
  min-width: 160px;
  height: 80px;
}
.profile .header .general-profile .profile-avatar .image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f0f2;
  background-size: contain;
  min-width: 160px;
  height: 160px;
  margin-top: -80px;
  border: #FFFFFF 2px solid;
  left: 50%;
  margin-left: -80px;
}
.profile .header .general-profile .info-model {
  padding: 20px 0px 0px 0px;
}
@media (max-width: 768px) {
  .profile .header .general-profile .info-model {
    text-align: center;
  }
}
.profile .header .general-profile .info-model .name, .profile .header .general-profile .info-model .occupation, .profile .header .general-profile .info-model .city {
  display: inline;
  margin: 0;
  padding: 0;
}
.profile .header .general-profile .info-model .name {
  font-size: 1.500rem;
  line-height: 0px;
}
.profile .header .general-profile .info-model .occupation, .profile .header .general-profile .info-model .city {
  font-size: 1rem;
}
@media (max-width: 544px) {
  .profile .header .general-profile .system-grid {
    width: 100%;
  }
}
@media (max-width: 544px) {
  .profile .header .general-profile .system-grid .btn-send-message {
    width: 98%;
    margin-left: 1%;
    text-align: center;
  }
}
@media (max-width: 544px) {
  .profile .header .general-profile .system-grid .classification {
    position: relative;
    margin-left: -80px;
    left: 50%;
  }
}
.profile .info {
  padding: 15px 0;
}
.profile .info.person-specs {
  font-size: 1.25rem;
}
.profile .info.person-specs h2.title .image {
  color: #999999;
  font-size: 1rem;
}
.profile .info.person-specs h2.title .person-desc, .profile .info.person-specs h2.title .person-value {
  line-height: 2.5rem;
}
.profile .info.person-specs .hashtags {
  min-height: 100px;
  padding-bottom: 15px;
}
.profile .info.person-specs .hashtags .item {
  margin-top: 15px;
  margin-right: 5px;
}

.person-changes-available {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  padding: 28px 28px;
  min-height: 10px;
  border: 1px solid #e3e3e6;
}
.person-changes-available .desc {
  font-size: 1.25rem;
  padding: 0;
}

.info-model-interests {
  font-weight: 400;
}

.timeline {
  display: block;
  position: relative;
  padding-bottom: 15px;
}

.timeline-item {
  position: relative;
  padding-top: 15px;
}
.timeline-item:first-child {
  padding-top: 0;
}

@media screen and (min-width: 992px) {
  .timeline-item:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    width: 1px;
    height: 100%;
    background-color: #666666;
    left: 12.5%;
    top: 0px;
  }
  .timeline-item:last-child:before {
    height: 60px;
  }
}
