.hirer{
  .header{
    @extend %normalize-spacing;
    h1.title{
      @extend %font-weight-bold;
      @extend %text-transform-none;
      padding: 0px 30px;
      font-size: $font-xxl;
      color: #000000;
    }
  }
  .content{
    &.items{
      @extend %position-relative;
      @extend %float-left;
      @extend %normalize-spacing;
      width: 100%;
      &:last-child{
        margin-bottom: 55px;
      }
      .item{
        @extend %position-relative;
        @extend %float-left;
        padding: 30px 15px;
        width: 100%;
        &:nth-child(odd){
          background-color: #FFFFFF;
        }
        &:nth-child(even){
          background-color: $default-color-odd;
        }
        .fa-ellipsis-h{
          @extend %cursor-pointer;
        }
        h2.title{
          @extend %display-table;
          font-size: $font-lg;
        }
        span.desc{
          @extend %display-table;
          font-size: $font-md;
        }
        .item-menu{
          @extend %text-align-right;
          color: $default-gray-level-b;
          height: 100%;
          .fa-ellipsis-h{
            &:hover{
              color: $default-color-menu-on;
              .pop-menu{
                @extend %display-block;
              }
            }
          }
          .pop-menu{
            @extend %display-none;
            @extend %position-absolute;
            @extend %overflow-auto;
            @extend %text-align-left;
            @include box-shadow(0px 0px 3px 3px $default-gray-light);
            z-index: 5;
            font-family: $main-font-family;
            right: 0;
            margin-right: 15px;
            padding: 0px 15px;
            width: 115px;
            background-color: #FFFFFF;
            color: #000000;
            .pop-menu-items{
              padding: 0;
              .pop-menu-item{
                padding: 10px 0px;
                &:hover{
                  @extend %cursor-pointer;
                  color: $default-color-menu-on;
                }
              }
            }
          }
        }
      }
    }
  }
}
