//Evalutation box for models and companies
.system.card-area{
  @extend %display-table;
  @extend %float-none;
  margin: 0 auto;
  padding: 0px 15px 30px;
  .section{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid $default-color-card-border;
    header.section-title{
      width: 100%;
      padding: 30px 15px;
      color: $default-gray;
      font-size: $font-xxl;
      &.centered{
        text-align: center;
      }
    }
    .card{
      &.box{
        &.job{
          margin: 0px 15px 30px;
        }
      }
    }
  }
}
.system.card{
  @media (max-width: $size-mobile-md){ margin-top: 30px !important;}
  &.header{
    @extend %text-align-center;
    height: auto;
    font-size: $font-xl;
    margin: 0 auto;
    max-width: 525px;
    padding-bottom: 30px;
    .msg{
      @extend %text-align-left;
      @extend %display-inline-block;
      font-size: $font-md;
      h2{
        @extend %normalize-spacing;
        font-size: $font-xxl;
        margin-bottom: 5px;
      }
    }
    .ico-congratulations{
      @extend %vertical-align-middle;
      margin-right: 20px;
    }
    i{
      @extend %display-inline-block;
      margin-bottom: 20px;
    }
  }
  &.box{
    @extend %position-relative;
    @extend %overflow-hidden;
    background-color: #FFFFFF;
    @media (max-width: $size-mobile-md){ max-width: 100% !important; width: 100%;}
    &.job{
      @extend %float-left;
      @include box-shadow(0px 0px 3px 3px $default-gray-light);
      margin: 30px 15px 0px;
      max-width: 340px;
      width: 100%;
      &.done{
        .done-box{
          @extend %display-block;
          @extend %position-absolute;
          width: 100%;
          height: 100%;
          z-index: 5;
          color: #FFFFFF;
          &.event{
            background-color: $default-color-ico-event;
          }
          &.modeling{
            background-color: $default-color-ico-modeling;
          }
          &.acting{
            background-color: $default-color-acting;
          }
          .msg{
            @extend %position-absolute;
            @extend %text-align-center;
            @extend %font-weight-bold;
            @include transform(translate(-50%,-50%));
            @include font-size(20px);
            left: 50%;
            top: 50%;

            i{
              @extend %display-block;
              @extend %clear-both;
              margin-bottom: 20px;
            }
          }
        }
      }
      &.open{
        max-width: 750px;
        .register-checked{
          .text{
            @extend %display-inline-block;
            @media (max-width: $size-mobile-md){ display: none !important;}
          }
        }
        .job-desc{
          @extend %display-block;
          @extend %float-left;
          padding: 30px;
          width: 100%;
          color: $default-gray-dark;
          font-size: $font-md;
          &.bordered{
            border-bottom: 1px solid $main-bg-color;
          }
          h1{
            @extend %normalize-spacing;
            @include font-size(20px);
            padding-bottom: 7px;
          }
          ul{
            @extend %normalize-spacing;
            @extend %float-left;
            li{
              padding: 3.5px 0px;
              &:before{
                content: '-';
              }
            }
          }
        }
        .about{
          .item{
            @extend %float-left;
            width: 33%;
            clear: none;
            i{
              @extend %display-inline-block;
              vertical-align: middle;
            }
            .item-desc{
              @extend %display-inline-block;
              @extend %normalize-spacing;
            }
            &.location{
              @extend %text-align-left;
            }
            &.date{
              @extend %text-align-center;
              i{
                @extend %vertical-align-top;
              }
            }
            &.cash{
              @extend %text-align-right;
            }
          }
        }
        .action-box{
          @extend %text-align-right;
          .btn{
            @extend %text-align-center;
            @media (max-width: 1024px){ width: 100% !important;}
          }
          .action-option{
            @extend %float-left;
          }
          .more-info{
            @extend %display-none;
          }
          .cancel{
            width: 85px;
            margin-right: 30px;
          }
          .green{
            width: 310px;
          }
        }
      }
      .done-box{
        @extend %display-none;
      }
      .header{
        @extend %position-relative;
        padding: 30px;
        color: #FFFFFF;
        &.event{
          background-color: $default-color-ico-event;
        }
        &.modeling{
          background-color: $default-color-ico-modeling;
        }
        &.acting{
          background-color: $default-color-acting;
        }
        h1.title{
          @extend %normalize-spacing;
          font-size: $font-lg;
          line-height: 25px;
        }
        h2.subtitle{
          @extend %normalize-spacing;
          @extend %font-weight-normal;
          font-size: $font-lg;
        }
        .register-checked{
          @extend %position-absolute;
          right: 0;
          top: 0;
          margin: 30px;
          i{
            &:after{
              @extend %vertical-align-text-bottom;
            }
          }
          .text{
            @extend %display-none;
          }
        }
      }
      .about{
        @extend %position-relative;
        @extend %float-left;
        width: 100%;
        padding: 15px 0px;
        border-bottom: 1px solid $main-bg-color;
        .job-desc{
          @extend %display-none;
        }
        .item{
          padding: 15px 30px;
          clear: both;
          i{
            @extend %display-inline-block;
            @extend %vertical-align-top;
            margin-right: 10px;
          }
          .item-desc{
            @extend %normalize-spacing;
            @extend %display-inline-block;
            padding-top: 3px;
          }
        }
      }
    }
    &.company{
      margin: 30px auto;
      max-width: 340px;
      width: 340px;
    }
    &.model{
      @extend %float-left;
      margin: 30px 15px;
      max-width: 340px;
      width: 340px;
    }
    .rated-logo{
      @extend %position-relative;
      @extend %float-left;
      @extend %text-align-center;
      width: 100%;
      padding: 30px 0px;
      border-bottom: 1px solid $main-bg-color;
    }
    .rated-image{
      @extend %position-relative;
      @extend %float-left;
      width: 100%;
      border-bottom: 1px solid $main-bg-color;
      padding-bottom: 15px;
      figure{
        @extend %normalize-spacing;
        img{
          width: 100%;
        }
        .model-data{
          padding: 15px 30px;
          font-size: $font-md;
          line-height: $font-lg;
          border: none;
        }
      }
    }
    .rating-box{
      @extend %position-relative;
      @extend %float-left;
      width: 100%;
      border-bottom: 1px solid $main-bg-color;
      padding: 15px 30px;
      .rate-item{
        .rate-desc{
          @extend %position-relative;
          @extend %float-left;
          width: 100%;
          font-size: $font-md;
          padding: 15px 0px;
        }
        .rate{
          @extend %position-relative;
          @extend %float-left;
          @extend %text-align-center;
          @include border-radius(2px);
          @include box-shadow(0px 1px 3px 3px $default-gray-light);
          width: 100%;
          padding: 8px 2px;
          i{
            @extend %display-inline-block;
          }
        }
      }
    }
    .image-menu{
      @include font-size(30px);
      width: 100%;
      padding: 15px 27px 0px;
      color: $default-gray;
      i{
        margin: 0px 21px;
      }
      .fa-heart-o{
        @include font-size(20px);
      }
      .fa-angle-left{
        margin-left: 0px;
      }
      .fa-angle-right{
        margin-right: 0px;
      }
    }
    .msg-selected{
      @extend %display-none;
      @extend %position-absolute;
      bottom: 0;
      padding-top: 221px;
      width: 100%;
      height: 100%;
      z-index: 5;
      .msg-box{
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        .text{
          @extend %position-absolute;
          @extend %text-align-center;
          @include transform(translate(-50%,-50%));
          width: 205px;
          left: 50%;
          top: 70%;
          i{
            @extend %display-block;
            margin-bottom: 20px;
          }
          .title{
            @extend %display-table;
            @include font-size(25px);
            width: 100%;
            color: $default-color-menu-on;
            margin-bottom: 12px;
          }
          .message{
            @extend %display-table;
            width: 100%;
            margin-bottom: 22px;
          }
          .action-refuse{
            @extend %cursor-pointer;
            @extend %display-table;
            width: 100%;
            color: $default-gray-level-a;
          }
        }
      }
      &.on{
        @extend %display-block;
      }
    }
    .model-data{
      @extend %float-left;
      width: 100%;
      padding: 15px 30px;
      font-size: $font-md;
      line-height: $font-lg;
      border-bottom: 1px solid $main-bg-color;
      .data{
        @extend %display-table;
        @extend %font-weight-normal;
        &.important{
          @extend %font-weight-bold;
        }
        &.lvl-1{
          font-size: $font-md;
        }
        &.lvl-2{
          font-size: $font-md;
        }
        &.lvl-3{
          padding-top: 15px;
          font-size: $font-sm;
          color: $default-gray-dark;
        }
        &.rate{
          width: 100%;
          padding: 17px 0px 0px;
          @extend %text-align-center;
          i{
            @extend %display-inline-block;
          }
        }
        .sub-data{
          @extend %display-table;
          width: 100%;
        }
      }
    }
    .action-box{
      @extend %position-relative;
      @extend %float-left;
      @extend %text-align-center;
      width: 100%;
      padding: 15px 30px;
      .action-option{
        width: 65px;
        @extend %float-left;
        color: $default-gray;
        i{
          display: block;
          &.ico-choose{
            margin: 7px 0px 6px;
          }
        }
        &.on{
          color: $default-color-menu-on;
        }
        &.select{
          width: 150px;
        }
      }
      button{
        width: 100%;
        padding: 15px 0px;
      }
    }
  }
}


.item-card {
  margin-bottom: 15px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: $default-color-card-border;
  &:hover {
    border-color: #000000;
  }
  //padding: 15px;
}

.item-card-info {
  padding: 10px 25px;
}

.item-card-main-info {
  font-size: 1rem;
  color: #000000;
}

.item-card-additional-info {
  margin-top: 4px;
  font-size: .813rem;
  color: #4d4d4d;
}

.image-menu {
  width: 100%;
  text-align: center;
  font-size: 1.875rem;
  color: #999999;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  bottom: 0;
}

.image-menu-icon {
  cursor: pointer;
  padding: 0 25px;
}

.card-arrow-container {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #9d9d9d;
}

.card-prev-arrow, .card-next-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: - 44px;
  padding: 0px 5px;
  background-color: rgba(0,0,0,0.7);
  line-height: 30px;
}

.card-prev-arrow {
}

.card-next-arrow {
  right: 0;
}

.action-box {
  border-top: 1px solid #f0f0f2;
  width: 100%;
  text-align: center;
}

.action-option {
  display: block;
  cursor: pointer;
  padding: 10px;
  &:hover {
    color: #ffffff;
    background-color: $color-info;
  }
  .fa {
    font-size: 1.4rem;
  }
}

.card-rating {
  width: 100%;
  padding: 0 0 5px;
  text-align: center;
  i {
    display: inline-block;
  }
}

.single-line {
  width: 100%;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card {
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 1px;
  border-color: $default-color-card-border;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  &:hover {
    border-color: #000000;
  }
}

.project-card-header {
  color: #ffffff;
  background-color: #00a0cf;
  padding: 20px;
}

.project-card-content {
  padding: 20px;
  background-color: #ffffff;
  color: #4d4d4d;
}

.project-card-job {
  padding: 5px 10px;
  font-size: 12px;
  margin-top: 3px;
  background-color: $default-gray-light;
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
  border-width: 1px;
  border-left-width: 5px;
  border-color: transparent;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  &:hover {
    border-color: #000000;
    border-left-color: lighten($color-info, 30%);
  }
}

.job-card {

}