.forms{
	padding: 15px;
	.header{
		@extend %border-none;
		@extend %normalize-spacing;
	}
	.section{
		@extend %position-relative;
		@extend %display-block;
		@extend %float-left;
		@extend %height-auto;
		border-bottom: 1px solid $main-bg-color;
		width: 100%;
		&.last{
			@extend %border-none;
		}
		.section-title{
			padding-top: 15px;
			.title{
				color: #000000;
			}
		}
		h1{
			margin-top: 15px;
			margin-bottom: -15px;
			font-size: $font-lg;
			color: $default-color-menu-on;
		}
		.action-box{
			@extend %text-align-right;
			@extend %margin-zero;
			padding: 0px 0px 15px 0px;
			.action-button{
				@extend .default-button-properties;
			}
		}

	}
}

.form-section {
	padding: 15px;
	border-bottom: 1px solid $main-bg-color;
	.title {
		color: $default-color-button
	}
	&.last{
		@extend %border-none;
	}
}

.form-section-title {
	color: $default-color-button;
	font-weight:700;
}

select {
	@extend .default-input-properties;
	height: 58px;
	padding: 15px;
}
textarea {
	@extend .default-input-properties;
	resize: vertical;
	width: 100%;
	height: 100px;
}

.control-label {
	color: $default-gray-level-8;
	padding-bottom: 15px;
}

.form-group-title {
	@extend %font-weight-bold;
	color: $default-color-menu-on;
	font-size: $font-lg;
	@extend %normalize-spacing;
}
.form-group-description {
	@extend %font-weight-normal;
	color: $default-gray-level-8;
	font-size: $font-md;
}

.form-control {
	height: 58px;
	//padding: 24px 15px;
}

input[type="text"], input[type="number"], input[type="password"]{
	@extend .default-input-properties;
}

input[type="date"] {
	padding-top: 18px;
	padding-bottom: 18px;
}

.form-group {
	font-size: 1rem;
	margin-bottom: 35px;
	position: relative;
	.element{
		.ico-arrow-select{
			margin-right: 15px;
			@media (max-width: $size-mobile-md){ margin-right: 0px;}
		}
		.ico-arrow-select{
			pointer-events: none;
			@include border-radius(5px);
			@extend %position-absolute;
			@extend %display-block;
			height: 100%;
			right: 0;
			top: 0;
			padding: 20px 10px;
			background-color: #FFFFFF;
			border: 1px solid $default-color-form-input;
		}
		.textarea-false{
			@include border-radius(5px);
			width: 100%;
			height: 100px;
			border: 1px solid $default-color-form-input;
			background-color: #FFFFFF;
			.hashtags{
				.item{
					margin: 10px 0px 10px 10px;
				}
			}
			.add-hashtag-box{
				margin: 10px 0px 10px 10px;
			}
		}

	}
}

.check-box, .radio-box{
	background-color: #ffffff;
	&.bump{
		margin-bottom: 15px;
	}
	&[checked]{
		border: 1px solid $default-color-form-radio;
		color: $default-color-form-radio;
	}
	&.first{
		margin-left: 0px;
	}
	&.raw{
		@extend %border-none;
		padding-top: 35px;
	}
	&.inbox{
		@extend %position-relative;
		@extend %float-left;
		margin-right: 15px;
		margin-bottom: 15px;
		color: $default-color-form-input;
		input[type='radio']{
			&:after{
				border: 1px solid $default-color-form-input;
			}
		}
	}
}
.check-box{
	@extend .default-form-boxes;
	padding: 15px;
	min-width: 130px;
	margin-bottom: 15px;
	cursor: pointer;
	line-height: 22px;
	input[type="checkbox"]{
		margin-left: 0;
		width: 25px;
		height: 1px;
		float: left;
		&:after{
			@extend .default-form-element-boxes;
			width: 15px;
			height: 15px;
			border: 1px solid #000000;
			background-color: #FFFFFF;
		}
		&:checked{
			&:after{
				@extend .default-form-checked-element;
			}
		}
	}
}
.radio-box{
	@extend .default-form-boxes;
	padding: 20px 15px;
	input[type="radio"]{
		margin-right: 15px;
		&:after{
			@include border-radius(50%);
			@extend .default-form-element-boxes;
			width: 15px;
			height: 15px;
			border: 1px solid #000000;
			background-color: #FFFFFF;
		}
		&:checked{
			&:after{
				@extend .default-form-checked-element;
			}
		}
	}
}

.help-block {
	position: absolute;
	line-height: 14px;
	font-size: 13px;
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
}

.default-input-properties{
	@include border-radius(5px);
	@extend %font-weight-bold;
	width: 100%;
	border: 1px solid $default-color-form-input;
}

.default-form-boxes{
	@extend %position-relative;
	@extend %display-block;
	@include border-radius(5px);
	border: 1px solid $default-color-form-input;
}

.default-form-element-boxes{
	@extend %position-absolute;
	@extend %display-block;
	content: '';
}

.default-form-checked-element{
	border: 1px solid $default-color-form-radio;
	background-color: $default-color-form-radio;
}

.filter-group {
	margin-bottom: 12px;
}

.submit-box {
	@extend %float-left;
	@extend %text-align-right;
	padding: 15px;
	.msg {
		@extend %display-inline-block;
		@extend %text-align-center;
		padding-top: 25px;
		margin-right: 20px;
		@media (max-width: $size-mobile-md) {
			width: 100%;
		}
		.ico {
			&:after {
				@extend %vertical-align-text-bottom;
			}
		}
		&.warning {
			color: $default-color-error;
			.ico {
				@extend .ico-warning;
			}
		}
		&.auto-save {
			color: $default-color-menu-on;
			.ico {
				@extend %display-inline-block;
				@extend .ico-check;
				@extend .ico-check.on;
			}
		}
	}
}


button, input, select {
	overflow: auto;
}

select.form-control:not([size]):not([multiple]) {
	height: 58px;
}

select.form-control[multiple] {
	height: auto;
}
