//Hashtags
.system.hashtags-box{
  .hashtags{
    .item{
      @include border-radius(5px);
      @extend %position-relative;
      @extend %float-left;
      color: #00b6c6;
      border: 1px $hashtags solid;
      padding: 10px 10px;
    }
  }
  .add-hashtag-box{
    @extend %position-relative;
    @extend %float-left;
    color: #000000;
    .add-hashtag{
      @extend %position-relative;
      @extend %float-left;
      @include border-radius(0px);
      width: 60px;
      padding: 10px 20px 10px 10px!important;
      border-style: solid;
      border-color: #000000;
      border-bottom-width: 1px;
    }
    i.fa-plus-circle{
      &:before{
        @extend %position-absolute;
        right: 0;
        top: 0;
        margin-top: 10px;
        margin-right: 7px;
      }
    }
  }
}
