.ico-choose{
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-choose);
	}
	&.mini{
		&:after{
			@include sprite($ico-choose-mini);
		}
	}
	&.on{
		&:after{
			@include sprite($ico-choose-on);
		}
		&.mini{
			&:after{
				@include sprite($ico-choose-mini-on);
			}
		}
	}
}
.ico-congratulations{
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-congratulation);
	}
}
.ico-like{
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-like);
	}
}
.ico-search{
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-search);
	}
}
.ico-location{
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-location);
	}
	&.big{
		&:after{
			@include sprite($ico-location-big);
		}
	}
}
.ico-clock{
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-clock);
	}
}
.ico-money{
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-money);
	}
}
.ico-add{
	&.big{
		&:after{
			@extend .default-ico-properties;
			@extend %cursor-pointer;
			@include sprite($ico-add-big);
		}
	}
}
.ico-cover{
	&:after{
		@extend .default-ico-properties;
		@extend %cursor-pointer;
		@include sprite($ico-cover);
	}
	&:hover,&.on{
		&:after{
			@include sprite($ico-cover-on);
		}
	}
}
.ico-stretch{
	&:after{
		@extend .default-ico-properties;
		@extend %cursor-pointer;
		@include sprite($ico-stretch);
	}
	&:hover,&.on{
		&:after{
			@include sprite($ico-stretch-on);
		}
	}
}
.ico-delete{
	&:after{
		@extend .default-ico-properties;
		@extend %cursor-pointer;
		@include sprite($ico-delete);
	}
	&:hover{
		&:after{
			@include sprite($ico-delete-on);
		}
	}
	&.on{
		&:after{
			@include sprite($ico-delete-on);
		}
		&.big{
			&:after{
				@include sprite($ico-delete-big-on);
			}
		}
	}
	&.big{
		&:after{
			@include sprite($ico-delete-big);
		}
	}
}
.ico-edit{
	&:after{
		@extend .default-ico-properties;
		@extend %cursor-pointer;
		@include sprite($ico-edit);
	}
	&:hover{
		&:after{
			@include sprite($ico-edit-on);
		}
	}
}
.ico-arrow-select{
	&:after{
		@extend .default-ico-properties;
		@extend %cursor-pointer;
		@include sprite($ico-arrow-select);
	}
}
.ico-check{
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-check-off);
	}
	&.on{
		&:after{
			@include sprite($ico-check-on);
		}
	}
	&.white{
		&:after{
			@include sprite($ico-check-white);
		}
	}
	&.big{
		&:after{
			@extend .default-ico-properties;
			@include sprite($ico-check-big);
		}
		&.on{
			&:after{
				@include sprite($ico-check-big-on);
			}
		}
	}
}
.ico-advisor{
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-advisor-off);
	}
	&.on{
		&:after{
			@include sprite($ico-advisor-on);
		}
	}
}
.ico-warning{
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-warning);
	}
}

.ico-menu-arrow{
	@extend %float-right;
	@extend %display-none;
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-menu-arrow);
	}
}
.ico-send-msg{
	@extend %float-left;
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-msg);
	}
}
.ico-star{
	&:after{
		@extend .default-star-classification;
		@include sprite($ico-star);
	}
	&.on{
		&:after{
			@include sprite($ico-star-on);
		}
		&.small{
			&:after{
				@include sprite($ico-star-small-on);
			}
		}
	}
	&.big{
		&:after{
			@include sprite($ico-star-big);
		}
	}
	&.small{
		&:after{
			@include sprite($ico-star-small);
		}
	}
	&.editable{
		&:hover{
			&:after{
				@extend %cursor-pointer;
				@include sprite($ico-star-on);
			}
		}
	}
}
.ico-profile{
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-profile-off);
	}
	&.on{
		&:after{
			@include sprite($ico-profile-on);
		}
	}
}
.ico-video{
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-video-big);
	}
	&.mini{
		&:after{
			@include sprite($ico-video-mini);
		}
	}
	&.big{
		&:after{
			@include sprite($ico-video-big);
		}
	}
}
.ico-cam{
	&:after{
		@extend .default-ico-properties;
		@include sprite($ico-cam-off);
	}
	&.big{
		&:after{
			@include sprite($ico-cam-big);
		}
	}
	&.on{
		&:after{
			@include sprite($ico-cam-on);
		}
	}
}
.info-ico{
	.ico-modeling{
		background-color: $default-color-ico-modeling;
		&:after{
			@extend .default-ico-properties;
			@include sprite($ico-modeling);
		}
	}
	.ico-event{
		background-color: $default-color-ico-event;
		&:after{
			@extend .default-ico-properties;
			@include sprite($ico-events);
		}
	}
	.ico-edu{
		background-color: $default-color-ico-edu;
		&:after{
			@extend .default-ico-properties;
			@include sprite($ico-edu);
		}
	}
	.ico-language{
		background-color: $default-color-ico-language;
		&:after{
			@extend .default-ico-properties;
			@include sprite($ico-language);
		}
	}
}

//Default properties

//ICO
.default-ico-properties{
	content: '';
	@extend %display-inline-block;
	@extend %background-repeat-no-repeat;
}

//ICO-STAR
.default-star-classification{
	@extend .default-ico-properties;
	@extend %display-block;
	@extend %float-left;
	margin-right: 7px;
}
