.info-box-top{
	@extend %normalize-spacing;
	@include box-shadow(0px 1px 3px 3px $default-gray-level-d);
	width: 100%;
	background-color: #FFFFFF;
	height: auto;
	.forms{
		@extend %float-left;
    width: 100%;
		.section{
			padding: 0px 30px;
		}
	}
	&.modular{
		@extend %normalize-spacing;
		@include flex();
		background-color: $main-bg-color;
		min-height: 100%;
		flex-wrap: wrap;
		.module{
			@extend %cursor-pointer;
			padding: 30px 10px;
			border-width: 0px 5px 5px 0px;
			border-style: solid;
			border-color: $default-gray-light;
			color: $default-gray-level-8;
			text-align: center;
			min-height: 100%;
			height: auto;
			&.info{
				@extend %cursor-default;
				padding-bottom: 25px;
				.section{
					@extend %float-left;
					width: 100%;
					border-width: 0px 0px 1px 0px;
					border-style: solid;
					border-color: $default-gray-light;
					font-size: $font-md;
					padding: 0px 30px 14px;
					&.last{
						border-width: 0px;
						padding: 15px 30px 0px;
					}
					.right{
						@extend %position-relative;
						@extend %float-left;
						@extend %text-align-right;
						@extend %overflow-hidden;
						width: 50%;
					}
					.left{
						@extend %position-relative;
						@extend %float-left;
						@extend %text-align-left;
						@extend %overflow-hidden;
						width: 50%;
					}
				}
			}
			&.on{
				background-color: #FFFFFF;
				border-width: 0px 0px 5px 0px;
				border-color: $default-color-menu-on;
				color: $default-color-menu-on;
			}
			h1.title{
				@extend %normalize-spacing;
				@extend %font-weight-bold;
				@include font-size(36px);
			}
			h2.subtitle{
				@extend %normalize-spacing;
				@extend %font-weight-normal;
				@include font-size(20px);
			}
			.option{
				@extend %position-absolute;
				color: $default-gray-level-b;
				right: 0;
				top: 0;
				margin: 10px 15px;
			}
		}
	}
	.forms{
		@extend %normalize-spacing;
	}
	.header{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 65px;
		h1.title{
			@extend %normalize-spacing;
			line-height: 48px;
			color: #000000;
			font-size: $font-xxl;
		}
		h2.subtitle{
			@extend %normalize-spacing;
			@extend %font-weight-normal;
			padding-bottom: 15px;
			color: $default-gray-darker;
			font-size: $font-md;
		}
		.btn{
			&.white{
				margin-left: 25px;
			}
		}
		.nav-page{
			color: $default-color-switch-menu;
			padding: 0px 0px 10px;
			.active{
				@extend %cursor-pointer;
			}
		}
	}
	.bottom-menu{
		@extend %cursor-pointer;
		width: 100%;
		border-top: 2px $main-bg-color solid;
		overflow-x: auto;
		.items{
			@extend %normalize-spacing;
			padding: 0px 30px;

			.item{
				@extend %position-relative;
				@extend %display-block;
				@extend %float-left;
				@extend %text-transform-uppercase;
				@extend %font-weight-bold;
				color: $default_gray;
				padding: 20px 0px;
				margin: 0px 15px;
				font-size: $font-sm;
				border-bottom: 2px solid #FFFFFF;
				&.on{
					color: $default-color-menu-on;
					border-bottom: 2px solid $default-color-menu-on;
				}
			}
		}
	}
	.section{
		&.check-combo{
			.input{
				@extend %normalize-spacing;
				padding: 10px 0px 30px;
			}
		}
		.input{
			.element{
				.check-box{
					&.raw{
						@extend %normalize-spacing;
						padding-top: 20px;
						color: $default-gray;
						input{
							&:after{
								border-color: $default-gray;
							}
						}
					}
				}
				&.iconized-left{
					input[type='text']{
						padding: 15px 15px 15px 50px;
						font-size: $font-lg;
					}
					i{
						position: absolute;
						left: 0;
						top: 0;
						margin: 10px;
					}
				}
			}
		}
	}
}
