/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ico-add-big-name: 'ico-add-big';
$ico-add-big-x: 0px;
$ico-add-big-y: 96px;
$ico-add-big-offset-x: 0px;
$ico-add-big-offset-y: -96px;
$ico-add-big-width: 45px;
$ico-add-big-height: 45px;
$ico-add-big-total-width: 253px;
$ico-add-big-total-height: 221px;
$ico-add-big-image: '../img/sprites.png';
$ico-add-big: (0px, 96px, 0px, -96px, 45px, 45px, 253px, 221px, '../img/sprites.png', 'ico-add-big', );
$ico-advisor-off-name: 'ico-advisor-off';
$ico-advisor-off-x: 232px;
$ico-advisor-off-y: 63px;
$ico-advisor-off-offset-x: -232px;
$ico-advisor-off-offset-y: -63px;
$ico-advisor-off-width: 20px;
$ico-advisor-off-height: 20px;
$ico-advisor-off-total-width: 253px;
$ico-advisor-off-total-height: 221px;
$ico-advisor-off-image: '../img/sprites.png';
$ico-advisor-off: (232px, 63px, -232px, -63px, 20px, 20px, 253px, 221px, '../img/sprites.png', 'ico-advisor-off', );
$ico-advisor-on-name: 'ico-advisor-on';
$ico-advisor-on-x: 232px;
$ico-advisor-on-y: 143px;
$ico-advisor-on-offset-x: -232px;
$ico-advisor-on-offset-y: -143px;
$ico-advisor-on-width: 20px;
$ico-advisor-on-height: 20px;
$ico-advisor-on-total-width: 253px;
$ico-advisor-on-total-height: 221px;
$ico-advisor-on-image: '../img/sprites.png';
$ico-advisor-on: (232px, 143px, -232px, -143px, 20px, 20px, 253px, 221px, '../img/sprites.png', 'ico-advisor-on', );
$ico-arrow-select-name: 'ico-arrow-select';
$ico-arrow-select-x: 212px;
$ico-arrow-select-y: 132px;
$ico-arrow-select-offset-x: -212px;
$ico-arrow-select-offset-y: -132px;
$ico-arrow-select-width: 20px;
$ico-arrow-select-height: 11px;
$ico-arrow-select-total-width: 253px;
$ico-arrow-select-total-height: 221px;
$ico-arrow-select-image: '../img/sprites.png';
$ico-arrow-select: (212px, 132px, -212px, -132px, 20px, 11px, 253px, 221px, '../img/sprites.png', 'ico-arrow-select', );
$ico-cam-big-name: 'ico-cam-big';
$ico-cam-big-x: 132px;
$ico-cam-big-y: 0px;
$ico-cam-big-offset-x: -132px;
$ico-cam-big-offset-y: 0px;
$ico-cam-big-width: 50px;
$ico-cam-big-height: 44px;
$ico-cam-big-total-width: 253px;
$ico-cam-big-total-height: 221px;
$ico-cam-big-image: '../img/sprites.png';
$ico-cam-big: (132px, 0px, -132px, 0px, 50px, 44px, 253px, 221px, '../img/sprites.png', 'ico-cam-big', );
$ico-cam-off-name: 'ico-cam-off';
$ico-cam-off-x: 0px;
$ico-cam-off-y: 201px;
$ico-cam-off-offset-x: 0px;
$ico-cam-off-offset-y: -201px;
$ico-cam-off-width: 23px;
$ico-cam-off-height: 20px;
$ico-cam-off-total-width: 253px;
$ico-cam-off-total-height: 221px;
$ico-cam-off-image: '../img/sprites.png';
$ico-cam-off: (0px, 201px, 0px, -201px, 23px, 20px, 253px, 221px, '../img/sprites.png', 'ico-cam-off', );
$ico-cam-on-name: 'ico-cam-on';
$ico-cam-on-x: 23px;
$ico-cam-on-y: 201px;
$ico-cam-on-offset-x: -23px;
$ico-cam-on-offset-y: -201px;
$ico-cam-on-width: 23px;
$ico-cam-on-height: 20px;
$ico-cam-on-total-width: 253px;
$ico-cam-on-total-height: 221px;
$ico-cam-on-image: '../img/sprites.png';
$ico-cam-on: (23px, 201px, -23px, -201px, 23px, 20px, 253px, 221px, '../img/sprites.png', 'ico-cam-on', );
$ico-check-big-on-name: 'ico-check-big-on';
$ico-check-big-on-x: 145px;
$ico-check-big-on-y: 96px;
$ico-check-big-on-offset-x: -145px;
$ico-check-big-on-offset-y: -96px;
$ico-check-big-on-width: 30px;
$ico-check-big-on-height: 30px;
$ico-check-big-on-total-width: 253px;
$ico-check-big-on-total-height: 221px;
$ico-check-big-on-image: '../img/sprites.png';
$ico-check-big-on: (145px, 96px, -145px, -96px, 30px, 30px, 253px, 221px, '../img/sprites.png', 'ico-check-big-on', );
$ico-check-big-name: 'ico-check-big';
$ico-check-big-x: 96px;
$ico-check-big-y: 141px;
$ico-check-big-offset-x: -96px;
$ico-check-big-offset-y: -141px;
$ico-check-big-width: 30px;
$ico-check-big-height: 30px;
$ico-check-big-total-width: 253px;
$ico-check-big-total-height: 221px;
$ico-check-big-image: '../img/sprites.png';
$ico-check-big: (96px, 141px, -96px, -141px, 30px, 30px, 253px, 221px, '../img/sprites.png', 'ico-check-big', );
$ico-check-off-name: 'ico-check-off';
$ico-check-off-x: 232px;
$ico-check-off-y: 83px;
$ico-check-off-offset-x: -232px;
$ico-check-off-offset-y: -83px;
$ico-check-off-width: 20px;
$ico-check-off-height: 20px;
$ico-check-off-total-width: 253px;
$ico-check-off-total-height: 221px;
$ico-check-off-image: '../img/sprites.png';
$ico-check-off: (232px, 83px, -232px, -83px, 20px, 20px, 253px, 221px, '../img/sprites.png', 'ico-check-off', );
$ico-check-on-name: 'ico-check-on';
$ico-check-on-x: 232px;
$ico-check-on-y: 163px;
$ico-check-on-offset-x: -232px;
$ico-check-on-offset-y: -163px;
$ico-check-on-width: 20px;
$ico-check-on-height: 20px;
$ico-check-on-total-width: 253px;
$ico-check-on-total-height: 221px;
$ico-check-on-image: '../img/sprites.png';
$ico-check-on: (232px, 163px, -232px, -163px, 20px, 20px, 253px, 221px, '../img/sprites.png', 'ico-check-on', );
$ico-check-white-name: 'ico-check-white';
$ico-check-white-x: 212px;
$ico-check-white-y: 29px;
$ico-check-white-offset-x: -212px;
$ico-check-white-offset-y: -29px;
$ico-check-white-width: 20px;
$ico-check-white-height: 20px;
$ico-check-white-total-width: 253px;
$ico-check-white-total-height: 221px;
$ico-check-white-image: '../img/sprites.png';
$ico-check-white: (212px, 29px, -212px, -29px, 20px, 20px, 253px, 221px, '../img/sprites.png', 'ico-check-white', );
$ico-choose-mini-on-name: 'ico-choose-mini-on';
$ico-choose-mini-on-x: 212px;
$ico-choose-mini-on-y: 171px;
$ico-choose-mini-on-offset-x: -212px;
$ico-choose-mini-on-offset-y: -171px;
$ico-choose-mini-on-width: 15px;
$ico-choose-mini-on-height: 9px;
$ico-choose-mini-on-total-width: 253px;
$ico-choose-mini-on-total-height: 221px;
$ico-choose-mini-on-image: '../img/sprites.png';
$ico-choose-mini-on: (212px, 171px, -212px, -171px, 15px, 9px, 253px, 221px, '../img/sprites.png', 'ico-choose-mini-on', );
$ico-choose-mini-name: 'ico-choose-mini';
$ico-choose-mini-x: 212px;
$ico-choose-mini-y: 180px;
$ico-choose-mini-offset-x: -212px;
$ico-choose-mini-offset-y: -180px;
$ico-choose-mini-width: 15px;
$ico-choose-mini-height: 9px;
$ico-choose-mini-total-width: 253px;
$ico-choose-mini-total-height: 221px;
$ico-choose-mini-image: '../img/sprites.png';
$ico-choose-mini: (212px, 180px, -212px, -180px, 15px, 9px, 253px, 221px, '../img/sprites.png', 'ico-choose-mini', );
$ico-choose-on-name: 'ico-choose-on';
$ico-choose-on-x: 25px;
$ico-choose-on-y: 177px;
$ico-choose-on-offset-x: -25px;
$ico-choose-on-offset-y: -177px;
$ico-choose-on-width: 30px;
$ico-choose-on-height: 18px;
$ico-choose-on-total-width: 253px;
$ico-choose-on-total-height: 221px;
$ico-choose-on-image: '../img/sprites.png';
$ico-choose-on: (25px, 177px, -25px, -177px, 30px, 18px, 253px, 221px, '../img/sprites.png', 'ico-choose-on', );
$ico-choose-name: 'ico-choose';
$ico-choose-x: 55px;
$ico-choose-y: 177px;
$ico-choose-offset-x: -55px;
$ico-choose-offset-y: -177px;
$ico-choose-width: 30px;
$ico-choose-height: 18px;
$ico-choose-total-width: 253px;
$ico-choose-total-height: 221px;
$ico-choose-image: '../img/sprites.png';
$ico-choose: (55px, 177px, -55px, -177px, 30px, 18px, 253px, 221px, '../img/sprites.png', 'ico-choose', );
$ico-clock-name: 'ico-clock';
$ico-clock-x: 232px;
$ico-clock-y: 183px;
$ico-clock-offset-x: -232px;
$ico-clock-offset-y: -183px;
$ico-clock-width: 20px;
$ico-clock-height: 20px;
$ico-clock-total-width: 253px;
$ico-clock-total-height: 221px;
$ico-clock-image: '../img/sprites.png';
$ico-clock: (232px, 183px, -232px, -183px, 20px, 20px, 253px, 221px, '../img/sprites.png', 'ico-clock', );
$ico-congratulation-name: 'ico-congratulation';
$ico-congratulation-x: 60px;
$ico-congratulation-y: 36px;
$ico-congratulation-offset-x: -60px;
$ico-congratulation-offset-y: -36px;
$ico-congratulation-width: 60px;
$ico-congratulation-height: 60px;
$ico-congratulation-total-width: 253px;
$ico-congratulation-total-height: 221px;
$ico-congratulation-image: '../img/sprites.png';
$ico-congratulation: (60px, 36px, -60px, -36px, 60px, 60px, 253px, 221px, '../img/sprites.png', 'ico-congratulation', );
$ico-cover-on-name: 'ico-cover-on';
$ico-cover-on-x: 182px;
$ico-cover-on-y: 26px;
$ico-cover-on-offset-x: -182px;
$ico-cover-on-offset-y: -26px;
$ico-cover-on-width: 30px;
$ico-cover-on-height: 26px;
$ico-cover-on-total-width: 253px;
$ico-cover-on-total-height: 221px;
$ico-cover-on-image: '../img/sprites.png';
$ico-cover-on: (182px, 26px, -182px, -26px, 30px, 26px, 253px, 221px, '../img/sprites.png', 'ico-cover-on', );
$ico-cover-name: 'ico-cover';
$ico-cover-x: 182px;
$ico-cover-y: 52px;
$ico-cover-offset-x: -182px;
$ico-cover-offset-y: -52px;
$ico-cover-width: 30px;
$ico-cover-height: 26px;
$ico-cover-total-width: 253px;
$ico-cover-total-height: 221px;
$ico-cover-image: '../img/sprites.png';
$ico-cover: (182px, 52px, -182px, -52px, 30px, 26px, 253px, 221px, '../img/sprites.png', 'ico-cover', );
$ico-delete-big-on-name: 'ico-delete-big-on';
$ico-delete-big-on-x: 66px;
$ico-delete-big-on-y: 141px;
$ico-delete-big-on-offset-x: -66px;
$ico-delete-big-on-offset-y: -141px;
$ico-delete-big-on-width: 30px;
$ico-delete-big-on-height: 30px;
$ico-delete-big-on-total-width: 253px;
$ico-delete-big-on-total-height: 221px;
$ico-delete-big-on-image: '../img/sprites.png';
$ico-delete-big-on: (66px, 141px, -66px, -141px, 30px, 30px, 253px, 221px, '../img/sprites.png', 'ico-delete-big-on', );
$ico-delete-big-name: 'ico-delete-big';
$ico-delete-big-x: 36px;
$ico-delete-big-y: 141px;
$ico-delete-big-offset-x: -36px;
$ico-delete-big-offset-y: -141px;
$ico-delete-big-width: 30px;
$ico-delete-big-height: 30px;
$ico-delete-big-total-width: 253px;
$ico-delete-big-total-height: 221px;
$ico-delete-big-image: '../img/sprites.png';
$ico-delete-big: (36px, 141px, -36px, -141px, 30px, 30px, 253px, 221px, '../img/sprites.png', 'ico-delete-big', );
$ico-delete-on-name: 'ico-delete-on';
$ico-delete-on-x: 232px;
$ico-delete-on-y: 42px;
$ico-delete-on-offset-x: -232px;
$ico-delete-on-offset-y: -42px;
$ico-delete-on-width: 21px;
$ico-delete-on-height: 21px;
$ico-delete-on-total-width: 253px;
$ico-delete-on-total-height: 221px;
$ico-delete-on-image: '../img/sprites.png';
$ico-delete-on: (232px, 42px, -232px, -42px, 21px, 21px, 253px, 221px, '../img/sprites.png', 'ico-delete-on', );
$ico-delete-name: 'ico-delete';
$ico-delete-x: 232px;
$ico-delete-y: 21px;
$ico-delete-offset-x: -232px;
$ico-delete-offset-y: -21px;
$ico-delete-width: 21px;
$ico-delete-height: 21px;
$ico-delete-total-width: 253px;
$ico-delete-total-height: 221px;
$ico-delete-image: '../img/sprites.png';
$ico-delete: (232px, 21px, -232px, -21px, 21px, 21px, 253px, 221px, '../img/sprites.png', 'ico-delete', );
$ico-edit-on-name: 'ico-edit-on';
$ico-edit-on-x: 212px;
$ico-edit-on-y: 49px;
$ico-edit-on-offset-x: -212px;
$ico-edit-on-offset-y: -49px;
$ico-edit-on-width: 20px;
$ico-edit-on-height: 20px;
$ico-edit-on-total-width: 253px;
$ico-edit-on-total-height: 221px;
$ico-edit-on-image: '../img/sprites.png';
$ico-edit-on: (212px, 49px, -212px, -49px, 20px, 20px, 253px, 221px, '../img/sprites.png', 'ico-edit-on', );
$ico-edit-name: 'ico-edit';
$ico-edit-x: 232px;
$ico-edit-y: 123px;
$ico-edit-offset-x: -232px;
$ico-edit-offset-y: -123px;
$ico-edit-width: 20px;
$ico-edit-height: 20px;
$ico-edit-total-width: 253px;
$ico-edit-total-height: 221px;
$ico-edit-image: '../img/sprites.png';
$ico-edit: (232px, 123px, -232px, -123px, 20px, 20px, 253px, 221px, '../img/sprites.png', 'ico-edit', );
$ico-edu-name: 'ico-edu';
$ico-edu-x: 182px;
$ico-edu-y: 101px;
$ico-edu-offset-x: -182px;
$ico-edu-offset-y: -101px;
$ico-edu-width: 30px;
$ico-edu-height: 23px;
$ico-edu-total-width: 253px;
$ico-edu-total-height: 221px;
$ico-edu-image: '../img/sprites.png';
$ico-edu: (182px, 101px, -182px, -101px, 30px, 23px, 253px, 221px, '../img/sprites.png', 'ico-edu', );
$ico-events-name: 'ico-events';
$ico-events-x: 115px;
$ico-events-y: 96px;
$ico-events-offset-x: -115px;
$ico-events-offset-y: -96px;
$ico-events-width: 30px;
$ico-events-height: 30px;
$ico-events-total-width: 253px;
$ico-events-total-height: 221px;
$ico-events-image: '../img/sprites.png';
$ico-events: (115px, 96px, -115px, -96px, 30px, 30px, 253px, 221px, '../img/sprites.png', 'ico-events', );
$ico-language-name: 'ico-language';
$ico-language-x: 85px;
$ico-language-y: 96px;
$ico-language-offset-x: -85px;
$ico-language-offset-y: -96px;
$ico-language-width: 30px;
$ico-language-height: 30px;
$ico-language-total-width: 253px;
$ico-language-total-height: 221px;
$ico-language-image: '../img/sprites.png';
$ico-language: (85px, 96px, -85px, -96px, 30px, 30px, 253px, 221px, '../img/sprites.png', 'ico-language', );
$ico-like-name: 'ico-like';
$ico-like-x: 45px;
$ico-like-y: 96px;
$ico-like-offset-x: -45px;
$ico-like-offset-y: -96px;
$ico-like-width: 40px;
$ico-like-height: 34px;
$ico-like-total-width: 253px;
$ico-like-total-height: 221px;
$ico-like-image: '../img/sprites.png';
$ico-like: (45px, 96px, -45px, -96px, 40px, 34px, 253px, 221px, '../img/sprites.png', 'ico-like', );
$ico-location-big-name: 'ico-location-big';
$ico-location-big-x: 212px;
$ico-location-big-y: 0px;
$ico-location-big-offset-x: -212px;
$ico-location-big-offset-y: 0px;
$ico-location-big-width: 20px;
$ico-location-big-height: 29px;
$ico-location-big-total-width: 253px;
$ico-location-big-total-height: 221px;
$ico-location-big-image: '../img/sprites.png';
$ico-location-big: (212px, 0px, -212px, 0px, 20px, 29px, 253px, 221px, '../img/sprites.png', 'ico-location-big', );
$ico-location-name: 'ico-location';
$ico-location-x: 212px;
$ico-location-y: 110px;
$ico-location-offset-x: -212px;
$ico-location-offset-y: -110px;
$ico-location-width: 15px;
$ico-location-height: 22px;
$ico-location-total-width: 253px;
$ico-location-total-height: 221px;
$ico-location-image: '../img/sprites.png';
$ico-location: (212px, 110px, -212px, -110px, 15px, 22px, 253px, 221px, '../img/sprites.png', 'ico-location', );
$ico-menu-arrow-name: 'ico-menu-arrow';
$ico-menu-arrow-x: 212px;
$ico-menu-arrow-y: 189px;
$ico-menu-arrow-offset-x: -212px;
$ico-menu-arrow-offset-y: -189px;
$ico-menu-arrow-width: 6px;
$ico-menu-arrow-height: 10px;
$ico-menu-arrow-total-width: 253px;
$ico-menu-arrow-total-height: 221px;
$ico-menu-arrow-image: '../img/sprites.png';
$ico-menu-arrow: (212px, 189px, -212px, -189px, 6px, 10px, 253px, 221px, '../img/sprites.png', 'ico-menu-arrow', );
$ico-modeling-name: 'ico-modeling';
$ico-modeling-x: 182px;
$ico-modeling-y: 0px;
$ico-modeling-offset-x: -182px;
$ico-modeling-offset-y: 0px;
$ico-modeling-width: 30px;
$ico-modeling-height: 26px;
$ico-modeling-total-width: 253px;
$ico-modeling-total-height: 221px;
$ico-modeling-image: '../img/sprites.png';
$ico-modeling: (182px, 0px, -182px, 0px, 30px, 26px, 253px, 221px, '../img/sprites.png', 'ico-modeling', );
$ico-money-name: 'ico-money';
$ico-money-x: 232px;
$ico-money-y: 103px;
$ico-money-offset-x: -232px;
$ico-money-offset-y: -103px;
$ico-money-width: 20px;
$ico-money-height: 20px;
$ico-money-total-width: 253px;
$ico-money-total-height: 221px;
$ico-money-image: '../img/sprites.png';
$ico-money: (232px, 103px, -232px, -103px, 20px, 20px, 253px, 221px, '../img/sprites.png', 'ico-money', );
$ico-msg-name: 'ico-msg';
$ico-msg-x: 182px;
$ico-msg-y: 78px;
$ico-msg-offset-x: -182px;
$ico-msg-offset-y: -78px;
$ico-msg-width: 30px;
$ico-msg-height: 23px;
$ico-msg-total-width: 253px;
$ico-msg-total-height: 221px;
$ico-msg-image: '../img/sprites.png';
$ico-msg: (182px, 78px, -182px, -78px, 30px, 23px, 253px, 221px, '../img/sprites.png', 'ico-msg', );
$ico-profile-off-name: 'ico-profile-off';
$ico-profile-off-x: 212px;
$ico-profile-off-y: 90px;
$ico-profile-off-offset-x: -212px;
$ico-profile-off-offset-y: -90px;
$ico-profile-off-width: 18px;
$ico-profile-off-height: 20px;
$ico-profile-off-total-width: 253px;
$ico-profile-off-total-height: 221px;
$ico-profile-off-image: '../img/sprites.png';
$ico-profile-off: (212px, 90px, -212px, -90px, 18px, 20px, 253px, 221px, '../img/sprites.png', 'ico-profile-off', );
$ico-profile-on-name: 'ico-profile-on';
$ico-profile-on-x: 212px;
$ico-profile-on-y: 69px;
$ico-profile-on-offset-x: -212px;
$ico-profile-on-offset-y: -69px;
$ico-profile-on-width: 18px;
$ico-profile-on-height: 21px;
$ico-profile-on-total-width: 253px;
$ico-profile-on-total-height: 221px;
$ico-profile-on-image: '../img/sprites.png';
$ico-profile-on: (212px, 69px, -212px, -69px, 18px, 21px, 253px, 221px, '../img/sprites.png', 'ico-profile-on', );
$ico-search-name: 'ico-search';
$ico-search-x: 126px;
$ico-search-y: 141px;
$ico-search-offset-x: -126px;
$ico-search-offset-y: -141px;
$ico-search-width: 30px;
$ico-search-height: 30px;
$ico-search-total-width: 253px;
$ico-search-total-height: 221px;
$ico-search-image: '../img/sprites.png';
$ico-search: (126px, 141px, -126px, -141px, 30px, 30px, 253px, 221px, '../img/sprites.png', 'ico-search', );
$ico-star-big-name: 'ico-star-big';
$ico-star-big-x: 0px;
$ico-star-big-y: 36px;
$ico-star-big-offset-x: 0px;
$ico-star-big-offset-y: -36px;
$ico-star-big-width: 60px;
$ico-star-big-height: 60px;
$ico-star-big-total-width: 253px;
$ico-star-big-total-height: 221px;
$ico-star-big-image: '../img/sprites.png';
$ico-star-big: (0px, 36px, 0px, -36px, 60px, 60px, 253px, 221px, '../img/sprites.png', 'ico-star-big', );
$ico-star-on-name: 'ico-star-on';
$ico-star-on-x: 156px;
$ico-star-on-y: 141px;
$ico-star-on-offset-x: -156px;
$ico-star-on-offset-y: -141px;
$ico-star-on-width: 25px;
$ico-star-on-height: 24px;
$ico-star-on-total-width: 253px;
$ico-star-on-total-height: 221px;
$ico-star-on-image: '../img/sprites.png';
$ico-star-on: (156px, 141px, -156px, -141px, 25px, 24px, 253px, 221px, '../img/sprites.png', 'ico-star-on', );
$ico-star-small-on-name: 'ico-star-small-on';
$ico-star-small-on-x: 212px;
$ico-star-small-on-y: 143px;
$ico-star-small-on-offset-x: -212px;
$ico-star-small-on-offset-y: -143px;
$ico-star-small-on-width: 15px;
$ico-star-small-on-height: 14px;
$ico-star-small-on-total-width: 253px;
$ico-star-small-on-total-height: 221px;
$ico-star-small-on-image: '../img/sprites.png';
$ico-star-small-on: (212px, 143px, -212px, -143px, 15px, 14px, 253px, 221px, '../img/sprites.png', 'ico-star-small-on', );
$ico-star-small-name: 'ico-star-small';
$ico-star-small-x: 212px;
$ico-star-small-y: 157px;
$ico-star-small-offset-x: -212px;
$ico-star-small-offset-y: -157px;
$ico-star-small-width: 15px;
$ico-star-small-height: 14px;
$ico-star-small-total-width: 253px;
$ico-star-small-total-height: 221px;
$ico-star-small-image: '../img/sprites.png';
$ico-star-small: (212px, 157px, -212px, -157px, 15px, 14px, 253px, 221px, '../img/sprites.png', 'ico-star-small', );
$ico-star-name: 'ico-star';
$ico-star-x: 0px;
$ico-star-y: 177px;
$ico-star-offset-x: 0px;
$ico-star-offset-y: -177px;
$ico-star-width: 25px;
$ico-star-height: 24px;
$ico-star-total-width: 253px;
$ico-star-total-height: 221px;
$ico-star-image: '../img/sprites.png';
$ico-star: (0px, 177px, 0px, -177px, 25px, 24px, 253px, 221px, '../img/sprites.png', 'ico-star', );
$ico-stretch-on-name: 'ico-stretch-on';
$ico-stretch-on-x: 182px;
$ico-stretch-on-y: 124px;
$ico-stretch-on-offset-x: -182px;
$ico-stretch-on-offset-y: -124px;
$ico-stretch-on-width: 30px;
$ico-stretch-on-height: 21px;
$ico-stretch-on-total-width: 253px;
$ico-stretch-on-total-height: 221px;
$ico-stretch-on-image: '../img/sprites.png';
$ico-stretch-on: (182px, 124px, -182px, -124px, 30px, 21px, 253px, 221px, '../img/sprites.png', 'ico-stretch-on', );
$ico-stretch-name: 'ico-stretch';
$ico-stretch-x: 182px;
$ico-stretch-y: 145px;
$ico-stretch-offset-x: -182px;
$ico-stretch-offset-y: -145px;
$ico-stretch-width: 30px;
$ico-stretch-height: 21px;
$ico-stretch-total-width: 253px;
$ico-stretch-total-height: 221px;
$ico-stretch-image: '../img/sprites.png';
$ico-stretch: (182px, 145px, -182px, -145px, 30px, 21px, 253px, 221px, '../img/sprites.png', 'ico-stretch', );
$ico-video-big-name: 'ico-video-big';
$ico-video-big-x: 132px;
$ico-video-big-y: 44px;
$ico-video-big-offset-x: -132px;
$ico-video-big-offset-y: -44px;
$ico-video-big-width: 50px;
$ico-video-big-height: 43px;
$ico-video-big-total-width: 253px;
$ico-video-big-total-height: 221px;
$ico-video-big-image: '../img/sprites.png';
$ico-video-big: (132px, 44px, -132px, -44px, 50px, 43px, 253px, 221px, '../img/sprites.png', 'ico-video-big', );
$ico-video-mini-name: 'ico-video-mini';
$ico-video-mini-x: 232px;
$ico-video-mini-y: 203px;
$ico-video-mini-offset-x: -232px;
$ico-video-mini-offset-y: -203px;
$ico-video-mini-width: 20px;
$ico-video-mini-height: 17px;
$ico-video-mini-total-width: 253px;
$ico-video-mini-total-height: 221px;
$ico-video-mini-image: '../img/sprites.png';
$ico-video-mini: (232px, 203px, -232px, -203px, 20px, 17px, 253px, 221px, '../img/sprites.png', 'ico-video-mini', );
$ico-warning-name: 'ico-warning';
$ico-warning-x: 232px;
$ico-warning-y: 0px;
$ico-warning-offset-x: -232px;
$ico-warning-offset-y: 0px;
$ico-warning-width: 21px;
$ico-warning-height: 21px;
$ico-warning-total-width: 253px;
$ico-warning-total-height: 221px;
$ico-warning-image: '../img/sprites.png';
$ico-warning: (232px, 0px, -232px, 0px, 21px, 21px, 253px, 221px, '../img/sprites.png', 'ico-warning', );
$logo-mini-name: 'logo-mini';
$logo-mini-x: 0px;
$logo-mini-y: 141px;
$logo-mini-offset-x: 0px;
$logo-mini-offset-y: -141px;
$logo-mini-width: 36px;
$logo-mini-height: 36px;
$logo-mini-total-width: 253px;
$logo-mini-total-height: 221px;
$logo-mini-image: '../img/sprites.png';
$logo-mini: (0px, 141px, 0px, -141px, 36px, 36px, 253px, 221px, '../img/sprites.png', 'logo-mini', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 132px;
$logo-height: 36px;
$logo-total-width: 253px;
$logo-total-height: 221px;
$logo-image: '../img/sprites.png';
$logo: (0px, 0px, 0px, 0px, 132px, 36px, 253px, 221px, '../img/sprites.png', 'logo', );
$spritesheet-width: 253px;
$spritesheet-height: 221px;
$spritesheet-image: '../img/sprites.png';
$spritesheet-sprites: ($ico-add-big, $ico-advisor-off, $ico-advisor-on, $ico-arrow-select, $ico-cam-big, $ico-cam-off, $ico-cam-on, $ico-check-big-on, $ico-check-big, $ico-check-off, $ico-check-on, $ico-check-white, $ico-choose-mini-on, $ico-choose-mini, $ico-choose-on, $ico-choose, $ico-clock, $ico-congratulation, $ico-cover-on, $ico-cover, $ico-delete-big-on, $ico-delete-big, $ico-delete-on, $ico-delete, $ico-edit-on, $ico-edit, $ico-edu, $ico-events, $ico-language, $ico-like, $ico-location-big, $ico-location, $ico-menu-arrow, $ico-modeling, $ico-money, $ico-msg, $ico-profile-off, $ico-profile-on, $ico-search, $ico-star-big, $ico-star-on, $ico-star-small-on, $ico-star-small, $ico-star, $ico-stretch-on, $ico-stretch, $ico-video-big, $ico-video-mini, $ico-warning, $logo-mini, $logo, );
$spritesheet: (253px, 221px, '../img/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
