.switch-menu {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 45px;

  .item {
    font-weight: 700;
    text-transform: uppercase;
    @extend %cursor-pointer;
    background-color: $default-gray-light;
    color: $default-gray;
    min-height: 45px;
    padding: 13px 30px;
    cursor: pointer;
    border-top: 2px #999999 solid;
    .desc{
      vertical-align: middle;
      @media (max-width: $size-mobile-md){ display: none;}
    }
    &.on{
      border-top-color: #00b6c6;
      @extend %cursor-default;
      background-color: #FFFFFF;
      color: $default-color-switch-menu;
    }
  }
}
