<div class="info-box">
    <div *ngIf="!selectedAlbum">
        <header class="header">
            <h1 class="title">Meus Albuns</h1>
        </header>
        <div class="info">
            <uc-album-list [albums]="profile.albums"
                           (albumSelect)="setSelectedAlbum($event)">
            </uc-album-list>
        </div>
    </div>
    <div *ngIf="selectedAlbum">
        <uc-album-view [album]="selectedAlbum" (goBack)="setSelectedAlbum(null)"></uc-album-view>
    </div>

</div>