<div class="alert"
     (click)="remove.emit(notification)"
     [ngClass]="{
     'alert-success': notification.type === 'success',
     'alert-info': notification.type === 'info',
     'alert-warning': notification.type === 'warning',
     'alert-danger': notification.type === 'danger'}">
  <strong>{{ notification.title }}</strong><br>
  <span>{{ notification.message }}</span>
</div>