<div class="container-fluid">
  <section class="model edit-info content-page">
    <section class="info-box">
      <header class="switch-menu">
        <div class="row">
          <div class="item col-6" [ngClass]="{ on: currentTab === 0}" (click)="goToTab(0)">
            <span class="desc">Perfil</span>
            <i class="ico-opt-mobile ico-profile on"></i>
          </div>
          <div class="item col-6" [ngClass]="{ on: currentTab === 1}" (click)="goToTab(1)">
            <span class="desc">Portfolio</span>
            <i class="ico-opt-mobile ico-cam on"></i>
          </div>
        </div>
      </header>
      <section class="info" *ngIf="currentTab === 0">
        <div class="row">
          <div class="col-md-3">
            <header class="steps clearfix">
              <div class="step" [class.on]="currentStep === 0" (click)="goToStep(0)">
                <div class="highlighter"></div>
                <span class="step-profile">Dados Cadastrais</span>
                <i class="ico-step ico-check"></i>
              </div>
              <div class="step" [class.on]="currentStep === 1" (click)="goToStep(1)">
                <div class="highlighter"></div>
                <span class="step-profile">Resumo</span>
                <i class="ico-step ico-check"></i>
              </div>
              <div class="step" [class.on]="currentStep === 2" (click)="goToStep(2)">
                <div class="highlighter"></div>
                <span class="step-profile">Características</span>
                <i class="ico-step ico-check"></i>
              </div>
              <div class="step" [class.on]="currentStep === 3" (click)="goToStep(3)">
                <div class="highlighter"></div>
                <span class="step-profile">Experiência</span>
                <i class="ico-step ico-check"></i>
              </div>
              <div class="step" [class.on]="currentStep === 4" (click)="goToStep(4)">
                <div class="highlighter"></div>
                <span class="step-profile">Educação</span>
                <i class="ico-step ico-check"></i>
                <!--<i class="ico-step ico-advisor"></i>-->
              </div>
              <div class="step" [class.on]="currentStep === 5" (click)="goToStep(5)">
                <div class="highlighter"></div>
                <span class="step-profile">Idiomas</span>
                <i class="ico-step ico-check"></i>
              </div>
            </header>
            <div class="submit-box">
              <div class="msg warning" *ngIf="serverErrorMessage$ | async">
                <i class="ico"></i> {{serverErrorMessage$ | async }}
              </div>
              <div class="msg auto-save" *ngIf="saved$ | async">
                <i class="ico"></i> Salvo com sucesso.
              </div>
              <uc-loading class="msg" [isLoading]="updating$" [text]="'Salvando...'"></uc-loading>
            </div>
          </div>
          <!--<div>-->
          <!--<pre>-->
          <!--{{accountForm.value | json}}-->
          <!--</pre>-->
          <!--</div>-->
          <div class="col-md-9">
            <form [formGroup]="accountForm">
              <section class="edit-form lateral-menu-on">
                <div [hidden]="currentStep != 0">
                  <header class="form-title bordered">
                    <h1 class="title">Dados Cadastrais</h1>
                  </header>
                  <section class="forms">
                    <header class="row header">
                      <header class="bg-profile col-12">
                        <div class="image"
                             [ngStyle]="{backgroundImage: 'url(' + ((user$ | async)?.cover | entity: 'medias')?.formats?.big +')'}"></div>
                      </header>
                      <section class="col-12 col-sm-12 col-lg-3 profile-avatar">
                        <div class="image image-circle" style="background-color: #333333;"
                             [ngStyle]="{backgroundImage: 'url(' + ((user$ | async)?.avatar | entity: 'medias')?.formats?.small +')'}"></div>
                      </section>
                      <footer class="col-12 col-lg-9">
                        <div class="row">
                          <div class="col-6 change avatar">
                            <div class="active" (click)="avatarInput.click()">
                              <i class="ico-cam on"></i> Alterar Avatar
                              <input style="display: none;" #avatarInput type="file" ng2FileSelect
                                     [uploader]="avatarUploader"/>
                            </div>
                          </div>
                          <div class="col-6 change background">
                            <div class="active" (click)="coverInput.click()">
                              <i class="ico-cam on"></i> Alterar Capa
                              <input style="display: none;" #coverInput type="file" ng2FileSelect
                                     [uploader]="coverUploader"/>
                            </div>
                          </div>
                        </div>
                      </footer>
                    </header>
                    <div class="section">
                      <div class="row">
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'username'" [labelText]="'Nome de usuário'"
                                             [serverErrors]="serverErrors?.children?.username">
                            <input readonly id="username" type="text" formControlName="username" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'email'" [labelText]="'Email'"
                                             [serverErrors]="serverErrors?.children?.email">
                            <input id="email" type="text" formControlName="email" class="form-control">
                          </uc-extended-input>
                        </div>
                      </div>
                      <div class="row" formGroupName="plainPassword">
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'password'" [labelText]="'Senha'"
                                             [serverErrors]="serverErrors?.children?.plainPassword?.children?.password">
                            <input id="password" type="password" formControlName="password" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'confirm'" [labelText]="'Confirme a senha'"
                                             [serverErrors]="serverErrors?.children?.plainPassword?.children?.password">
                            <input id="confirm" type="password" formControlName="confirm" class="form-control">
                          </uc-extended-input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'firstName'" [labelText]="'Nome'"
                                             [serverErrors]="serverErrors?.children?.name"
                          >
                            <input id="firstName" type="text" formControlName="firstName" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'lastName'" [labelText]="'Sobrenome'"
                                             [serverErrors]="serverErrors?.children?.lastname"
                          >
                            <input id="lastName" type="text" formControlName="lastName" class="form-control">
                          </uc-extended-input>
                        </div>

                        <div class="col-lg-6">
                          <uc-extended-input [id]="'slug'" [labelText]="'Url (ucasting.com.br/minha-url)'"
                                             [serverErrors]="serverErrors?.children?.slug">
                            <input id="slug" type="text" formControlName="slug" class="form-control">
                          </uc-extended-input>
                        </div>

                        <div class="col-lg-6">
                          <uc-extended-input [id]="'occupation'" [labelText]="'Profissão'"
                                             [serverErrors]="serverErrors?.children?.occupation"
                          >
                            <input id="occupation" type="text" formControlName="occupation" class="form-control">
                          </uc-extended-input>
                        </div>
                      </div>

                      <div class="row" formGroupName="profile">
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'gender'" [labelText]="'Gênero'"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.gender">
                            <select id="gender" formControlName="gender" class="form-control">
                              <option *ngFor="let genderOption of genders$ | async"
                                      [value]="genderOption.id">{{genderOption.name}}
                              </option>
                            </select>
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'birthdate'"
                                             [labelText]="'Data de aniversário'"
                                             [errorDefs]="dateErrorDefs"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.birthdate">
                            <input id="birthdate" type="text" placeholder="dd/mm/yyyy" formControlName="birthdate"
                                   class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'cnpj'" [labelText]="'CNPJ'"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.cnpj">
                            <input id="cnpj" type="text" formControlName="cnpj" class="form-control">
                          </uc-extended-input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'cpf'" [labelText]="'CPF'"
                                             [serverErrors]="serverErrors?.children?.cpf">
                            <input id="cpf" type="text" formControlName="cpf" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'rg'" [labelText]="'RG'"
                                             [serverErrors]="serverErrors?.children?.rg">
                            <input id="rg" type="text" formControlName="rg" class="form-control">
                          </uc-extended-input>
                        </div>
                      </div>

                      <div class="row" formGroupName="profile">
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'state'" [labelText]="'UF'"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.state">
                            <select id="state" formControlName="state" class="form-control">
                              <option *ngFor="let stateOption of states"
                                      [value]="stateOption">{{stateOption}}
                              </option>
                            </select>
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'city'" [labelText]="'Cidade'"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.city">
                            <input id="city" type="text" formControlName="city" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'zipcode'" [labelText]="'CEP'"
                                             [errorDefs]="{pattern: 'Formato 00000-000'}"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.zipcode">
                            <input id="zipcode" type="text" formControlName="zipcode" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'address'" [labelText]="'Endereço'"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.address">
                            <input id="address" type="text" formControlName="address" class="form-control">
                          </uc-extended-input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'phone'" [labelText]="'Telefone Residencial'"
                                             [serverErrors]="serverErrors?.children?.phone">
                            <input id="phone" type="text" formControlName="phone" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'cellphone'" [labelText]="'Telefone Celular'"
                                             [serverErrors]="serverErrors?.children?.cellphone">
                            <input id="cellphone" type="text" formControlName="cellphone" class="form-control">
                          </uc-extended-input>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div [hidden]="currentStep != 1">
                  <header class="form-title bordered">
                    <h1 class="title">Resumo</h1>
                  </header>
                  <div class="forms" formGroupName="profile">
                    <div class="form-section">
                      <h2 class="title">Sobre você</h2>
                      <div class="row">
                        <div class="col-12">
                          <uc-extended-input [id]="description"
                                             [labelText]="'Escreva algo sobre você'"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.description">
                            <textarea class="form-control" formControlName="description"></textarea>
                          </uc-extended-input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <uc-extended-input
                              [id]="'typeInterests'"
                              [labelText]="'Interesses (Segure Ctrl para selecionar multiplos valores)'"
                              [serverErrors]="serverErrors?.children?.profile?.children?.typeInterests"
                          >
                            <select [attr.id]="'typeInterests'" formControlName="typeInterests" class="form-control"
                                    multiple>
                              <option *ngFor="let option of jobTypesOptions" [value]="option.id">{{option.name}}
                              </option>
                            </select>
                          </uc-extended-input>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div [hidden]="currentStep != 2">
                  <header class="form-title bordered">
                    <h1 class="title">Características</h1>
                  </header>
                  <section class="forms" formGroupName="profile">
                    <div class="form-section">
                      <h2 class="title">
                        Face
                      </h2>
                      <div class="row">
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'eyeColor'" [labelText]="'Cor dos olhos'"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.eyeColor"
                          >
                            <select id="eyeColor" formControlName="eyeColor" class="form-control">
                              <option *ngFor="let option of eyeColors$ | async"
                                      [value]="option.id">{{option.name}}
                              </option>
                            </select>
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'skin'" [labelText]="'Tom da pele'"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.skin">
                            <select id="skin" formControlName="skin" class="form-control">
                              <option *ngFor="let option of skins$ | async"
                                      [value]="option.id">{{option.name}}
                              </option>
                            </select>
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'hairColor'" [labelText]="'Cor do cabelo'"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.hairColor">
                            <select id="hairColor" formControlName="hairColor" class="form-control">
                              <option *ngFor="let option of hairColors$ | async "
                                      [value]="option.id">{{option.name}}
                              </option>
                            </select>
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'hairLength'" [labelText]="'Comprimento do cabelo'"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.hairLength">
                            <select id="hairLength" formControlName="hairLength" class="form-control">
                              <option *ngFor="let option of hairLengths$ | async "
                                      [value]="option.id">{{option.name}}
                              </option>
                            </select>
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'hairType'" [labelText]="'Tipo do cabelo'"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.hairType">
                            <select id="hairType" formControlName="hairType" class="form-control">
                              <option *ngFor="let option of hairTypes$ | async "
                                      [value]="option.id">{{option.name}}
                              </option>
                            </select>
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">

                        </div>
                      </div>
                    </div>
                    <div class="form-section">
                      <h2 class="title">
                        Corpo
                      </h2>
                      <div class="row">
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'height'" [labelText]="'Altura (m)'"
                                             [errorDefs]="{pattern: 'Valor númerico de 1,00 a 2,99.'}"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.height">
                            <input id="height" type="text" formControlName="height" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'weight'" [labelText]="'Peso (kg)'"
                                             [errorDefs]="{pattern: 'Valor númerico de 2 a 3 dígitos.'}"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.weight">
                            <input id="weight" type="number" formControlName="weight" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'hip'" [labelText]="'Quadril (cm)'"
                                             [errorDefs]="{pattern: 'Valor númerico de 2 a 3 dígitos.'}"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.hip">
                            <input id="hip" type="number" formControlName="hip" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'waist'" [labelText]="'Cintura (cm)'"
                                             [errorDefs]="{pattern: 'Valor númerico de 2 a 3 dígitos.'}"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.waist">
                            <input id="waist" type="number" formControlName="waist" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'bust'" [labelText]="'Busto (cm)'"
                                             [errorDefs]="{pattern: 'Valor númerico de 2 a 3 dígitos.'}"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.bust">
                            <input id="bust" type="number" formControlName="bust" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'thorax'" [labelText]="'Tórax (cm)'"
                                             [errorDefs]="{pattern: 'Valor númerico de 2 a 3 dígitos.'}"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.thorax">
                            <input id="thorax" type="number" formControlName="thorax" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'manequim'" [labelText]="'Manequim'"
                                             [errorDefs]="{pattern: 'Valor númerico de 2 dígitos.'}"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.manequim">
                            <input id="manequim" type="number" formControlName="manequim" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'shoulder'" [labelText]="'Ombro (cm)'"
                                             [errorDefs]="{pattern: 'Valor númerico de 2 a 3 dígitos.'}"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.shoulder">
                            <input id="shoulder" type="number" formControlName="shoulder" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input [id]="'shoesSize'" [labelText]="'Calçado'"
                                             [errorDefs]="{pattern: 'Valor númerico de 2 dígitos.'}"
                                             [serverErrors]="serverErrors?.children?.profile?.children?.shoesSize">
                            <input id="shoesSize" type="number" formControlName="shoesSize" class="form-control">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <div class="checkbox">
                            <label for="smoker" class="check-box">
                              <input id="smoker" type="checkbox" formControlName="smoker" class="form-control">
                              Fumante
                            </label>
                          </div>
                        </div>
                        <div class="col-lg-6" *ngIf="gender.value === 1">
                          <div class="checkbox">
                            <label for="hasBeard" class="check-box">
                              <input id="hasBeard" type="checkbox" formControlName="hasBeard" class="form-control">
                              Barba
                            </label>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <p>Mudanças no cabelo</p>
                          <div class="checkbox">
                            <label for="hairAllowChangeColor" class="check-box">
                              <input id="hairAllowChangeColor" type="checkbox" formControlName="hairAllowChangeColor"
                                     class="form-control">
                              Pintar
                            </label>
                          </div>
                          <div class="checkbox">
                            <label for="hairAllowCut" class="check-box">
                              <input id="hairAllowCut" type="checkbox" formControlName="hairAllowCut"
                                     class="form-control">
                              Cortar
                            </label>
                          </div>
                          <div class="checkbox">
                            <label for="hairAllowStraighten" class="check-box">
                              <input id="hairAllowStraighten" type="checkbox" formControlName="hairAllowStraighten"
                                     class="form-control">
                              Alisar
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <!--<pre>{{particularities.value|json}}</pre>-->
                          <uc-extended-input
                              [id]="'particularities'"
                              [labelText]="'Particularidades (Segure Ctrl para selecionar multiplos valores)'"
                              [serverErrors]="serverErrors?.children?.profile?.children?.particularities">
                            <select [attr.id]="'particularidades'" formControlName="particularities"
                                    class="form-control"
                                    multiple>
                              <option *ngFor="let option of particularitiesOptions" [value]="option.id">{{option.name}}
                              </option>
                            </select>
                          </uc-extended-input>
                        </div>

                        <!--<label *ngFor="let particularityControl of particularities.controls; let i = index">-->
                        <!--<input type="checkbox" [formControl]="particularityControl"-->
                        <!--[value]="particularitiesOptions[i].id"> {{particularitiesOptions[i].name}}-->
                        <!--</label>-->

                        <!--</div>-->
                        <div class="col-lg-6">
                          <!--<pre>{{physicalTraits.value|json}}</pre>-->
                          <uc-extended-input
                              [id]="'physicalTraits'"
                              [labelText]="'Traços físicos (Segure Ctrl para selecionar multiplos valores)'"
                              [serverErrors]="serverErrors?.children?.profile?.children?.physicalTraits">
                            <select [attr.id]="'physicalTraits'" formControlName="physicalTraits" class="form-control"
                                    multiple>
                              <option *ngFor="let option of physicalTraitsOptions" [value]="option.id">{{option.name}}
                              </option>
                            </select>
                          </uc-extended-input>
                          <!--<label *ngFor="let physicalTraitControl of physicalTraits.controls; let i = index">-->
                          <!--<input type="checkbox" [formControl]="physicalTraitControl"-->
                          <!--[value]="physicalTraitsOptions[i].id"> {{physicalTraitsOptions[i].name}}-->
                          <!--</label>-->
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div [hidden]="currentStep != 3">
                  <header class="form-title bordered">
                    <h1 class="title">Experiência</h1>
                  </header>
                  <section class="forms" formGroupName="profile">
                    <div class="added-desc-box">
                      <div class="row desc" [formGroup]="experienceForm"
                           *ngFor="let experienceForm of experiences.controls; let i = index;">
                        <div class="col-lg-6">
                          <uc-extended-input
                              [id]="'experience-name-' + i"
                              [labelText]="'Cargo'"
                              [serverErrors]="serverErrors?.children?.profile?.children?.experiences?.children
                               && serverErrors.children.profile.children.experiences.children.length > i
                               && serverErrors.children.profile.children.experiences.children[i].children.name"
                          >
                            <input [attr.id]="'experience-name-' + i" type="text" class="form-control"
                                   formControlName="name">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input
                              [id]="'experience-company-' + i"
                              [labelText]="'Empresa'"
                              [serverErrors]="serverErrors?.children?.profile?.children?.experiences?.children
                               && serverErrors.children.profile.children.experiences.children.length > i
                               && serverErrors.children.profile.children.experiences.children[i].children.company"
                          >
                            <input [attr.id]="'experience-company-' + i" type="text" class="form-control"
                                   formControlName="company">
                          </uc-extended-input>
                        </div>
                        <!--<div class="col-md-12">-->
                        <!--<uc-extended-input-->
                        <!--[id]="'experience-description-' + i"-->
                        <!--[labelText]="'Descreva suas atividades'"-->
                        <!--[serverErrors]="serverErrors?.children?.profile?.children?.experiences?.children-->
                        <!--&& serverErrors.children.profile.children.experiences.children.length > i-->
                        <!--&& serverErrors.children.profile.children.experiences.children[i].children.description"-->
                        <!--&gt;-->
                        <!--<textarea [attr.id]="'experience-description-' + i" class="form-control"-->
                        <!--formControlName="description"></textarea>-->
                        <!--</uc-extended-input>-->
                        <!--</div>-->
                        <div class="col-lg-6">
                          <uc-extended-input
                              [id]="'experience-start-' + i"
                              [labelText]="'Início'"
                              [errorDefs]="dateErrorDefs"
                              [serverErrors]="serverErrors?.children?.profile?.children?.experiences?.children
                               && serverErrors.children.profile.children.experiences.children.length > i
                               && serverErrors.children.profile.children.experiences.children[i].children.start"
                          >
                            <input [attr.id]="'experience-start-' + i" placeholder="dd/mm/yyyy" type="text"
                                   class="form-control" formControlName="start">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input
                              [id]="'experience-type-' + i"
                              [labelText]="'Tipo de job'"
                              [serverErrors]="serverErrors?.children?.profile?.children?.experiences?.children
                               && serverErrors.children.profile.children.experiences.children.length > i
                               && serverErrors.children.profile.children.experiences.children[i].children.type"
                          >
                            <select [attr.id]="'experience-type-' + i" formControlName="type" class="form-control">
                              <option *ngFor="let option of jobTypesOptions" [value]="option.id">{{option.name}}
                              </option>
                            </select>
                          </uc-extended-input>
                        </div>
                        <div class="col-12">
                          <div class="btn btn-md btn-warning pull-xs-right" (click)="removeExperienceForm(i)">
                            Remover
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="btn btn-lg btn-primary btn-block" (click)="addExperienceForm()">
                            Adicionar Experiência
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div [hidden]="currentStep != 4">
                  <header class="form-title bordered">
                    <h1 class="title">Educação</h1>
                  </header>
                  <section class="forms">
                    <div class="added-desc-box">
                      <div class="row desc" [formGroup]="courseForm"
                           *ngFor="let courseForm of courses.controls; let i = index;">
                        <div class="col-lg-6">
                          <uc-extended-input
                              [id]="'course-name-' + i"
                              [labelText]="'Curso'"
                              [serverErrors]="serverErrors?.children?.profile?.children?.courses?.children
                               && serverErrors.children.profile.children.courses.children.length > i
                               && serverErrors.children.profile.children.courses.children[i].children.name"
                          >
                            <input [attr.id]="'course-name-' + i" type="text" class="form-control"
                                   formControlName="name">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input
                              [id]="'course-entity-' + i"
                              [labelText]="'Instituição'"
                              [serverErrors]="serverErrors?.children?.profile?.children?.courses?.children
                               && serverErrors.children.profile.children.courses.children.length > i
                               && serverErrors.children.profile.children.courses.children[i].children.entity"
                          >
                            <input [attr.id]="'course-entity-' + i" type="text" class="form-control"
                                   formControlName="entity">
                          </uc-extended-input>
                        </div>

                        <div class="col-lg-6">
                          <uc-extended-input
                              [id]="'course-start-' + i"
                              [labelText]="'Início'"
                              [errorDefs]="dateErrorDefs"
                              [serverErrors]="serverErrors?.children?.profile?.children?.courses?.children
                               && serverErrors.children.profile.children.courses.children.length > i
                               && serverErrors.children.profile.children.courses.children[i].children.start"
                          >
                            <input [attr.id]="'course-start-' + i" placeholder="dd/mm/yyyy" type="text"
                                   class="form-control"
                                   formControlName="start">
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input
                              [id]="'course-end-' + i"
                              [labelText]="'Fim'"
                              [errorDefs]="dateErrorDefs"
                              [serverErrors]="serverErrors?.children?.profile?.children?.courses?.children
                               && serverErrors.children.profile.children.courses.children.length > i
                               && serverErrors.children.profile.children.courses.children[i].children.end"
                          >
                            <input [attr.id]="'course-end-' + i" placeholder="dd/mm/yyyy" type="text"
                                   class="form-control"
                                   formControlName="end">
                          </uc-extended-input>
                        </div>
                        <div class="col-12">
                          <div class="btn btn-md btn-warning pull-xs-right" (click)="removeCourseForm(i)">Remover</div>
                        </div>
                      </div>
                      <div class="btn btn-lg btn-primary btn-block" (click)="addCourseForm()">Adicionar Curso</div>
                    </div>
                  </section>
                </div>
                <div [hidden]="currentStep != 5">
                  <header class="form-title bordered">
                    <h1 class="title">Idiomas</h1>
                  </header>
                  <section class="forms">
                    <div class="added-desc-box">
                      <div class="row desc" [formGroup]="idiomForm"
                           *ngFor="let idiomForm of idioms.controls; let i = index;">
                        <div class="col-lg-6">
                          <uc-extended-input
                              [id]="'idiom-name-' + i"
                              [labelText]="'Idioma'"
                              [serverErrors]="serverErrors?.children?.profile?.children?.idioms?.children
                               && serverErrors.children.profile.children.idioms.children.length > i
                               && serverErrors.children.profile.children.idioms.children[i].children.idiom"
                          >
                            <select [attr.id]="'idiom-name-' + i" formControlName="idiom" class="form-control">
                              <option *ngFor="let idiom of idiomsOptions" [value]="idiom.id">{{idiom.name}}</option>
                            </select>
                          </uc-extended-input>
                        </div>
                        <div class="col-lg-6">
                          <uc-extended-input
                              [id]="'idiom-proficiency-' + i"
                              [labelText]="'Proficiência'"
                              [serverErrors]="serverErrors?.children?.profile?.children?.idioms?.children
                               && serverErrors.children.profile.children.idioms.children.length > i
                               && serverErrors.children.profile.children.idioms.children[i].children.proficiency"
                          >
                            <select [attr.id]="'idiom-proficiency-' + i" formControlName="proficiency"
                                    class="form-control">
                              <option *ngFor="let proficiency of proficienciesOptions" [value]="proficiency.id">
                                {{proficiency.name}}
                              </option>
                            </select>
                          </uc-extended-input>
                        </div>
                        <div class="col-12">
                          <div class="btn btn-md btn-warning pull-xs-right" (click)="removeIdiomForm(i)">Remover</div>
                        </div>
                      </div>
                      <div class="btn btn-lg btn-primary btn-block" (click)="addIdiomForm()">Adicionar Idioma</div>
                    </div>
                  </section>
                </div>
                <footer class="submit-box">
                  <div class="msg warning" *ngIf="serverErrorMessage$ | async">
                    <i class="ico"></i> {{serverErrorMessage$ | async }}
                  </div>
                  <div class="msg auto-save" *ngIf="saved$ | async">
                    <i class="ico"></i> Salvo com sucesso.
                  </div>
                  <uc-loading class="msg" [isLoading]="updating$" [text]="'Salvando...'"></uc-loading>
                  <div class="btn uc-btn default green" (click)="goToStep(currentStep+1)"
                       *ngIf="currentStep < 5">
                    Avançar
                  </div>
                  <button class="uc-btn btn green" (click)="saveAccount()" *ngIf="currentStep === 5">
                    Salvar
                  </button>
                </footer>
              </section>
            </form>
          </div>
        </div>
      </section>
      <section class="info" *ngIf="currentTab === 1">
        <uc-edit-portfolio
            [albums]="(user.profile | entity: 'profiles').albums | entities: 'galleries'"></uc-edit-portfolio>
      </section>
    </section>
  </section>
</div>
