<section class="profile-avatar">
    <uc-avatar-box [avatar]="user.avatar | entity: 'medias' "></uc-avatar-box>
  <div class="profile-avatar-aux">
        <span class="first-name">
            {{user?.firstName}}
        </span>
    <br>
    <a *ngIf="user.slug" [attr.href]="backendPath + user.slug" target="_blank">
      <span class="text-link">Ver Perfil</span>
    </a>
  </div>
</section>