<carousel class="album-carousel">
  <slide *ngFor="let media of medias; let index=index"
         [active]="media.active"
         >
    <img [src]="media.formats.big">
    <!--<div class="slide" [ngStyle]="{'background-image': 'url(' + media.formats.big + ')'}">
    </div>-->
  </slide>
</carousel>