<section class="content-page">
  <section class="info-box">
    <div class="info-box-content">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-12">
              <h3 class="title">Filtros</h3>
              <form [formGroup]="filterForm">
                <div class="filter-group">
                  <uc-extended-input
                      [id]="'interests'"
                      [labelText]="'Interesses'">
                    <select id="interests" formControlName="interests" class="form-control" multiple>
                      <option *ngFor="let option of interestOptions"
                              [value]="option.id">{{option.name}}
                      </option>
                    </select>
                  </uc-extended-input>
                </div>
                <div class="filter-group">
                  <uc-extended-input
                      [id]="'minAge'"
                      [labelText]="'Idade mínima'">
                    <input type="number" id="minAge" formControlName="minAge" class="form-control" min="1">
                  </uc-extended-input>
                </div>
                <div class="filter-group">
                  <uc-extended-input
                      [id]="'maxAge'"
                      [labelText]="'Idade máxima'">
                    <input type="number" id="maxAge" formControlName="maxAge" class="form-control" min="1">
                  </uc-extended-input>
                </div>
                <div class="filter-group">
                  <uc-extended-input
                      [id]="'genders'"
                      [labelText]="'Gênero'">
                    <select id="genders" formControlName="genders" class="form-control" multiple>
                      <option *ngFor="let option of genderOptions"
                              [value]="option.id">{{option.name}}
                      </option>
                    </select>
                  </uc-extended-input>
                </div>
                <div class="filter-group">
                  <uc-extended-input
                      [id]="'hairColors'"
                      [labelText]="'Cor do cabelo'">
                    <select id="hairColors" formControlName="hairColors" class="form-control" multiple>
                      <option *ngFor="let option of hairColorOptions"
                              [value]="option.id">{{option.name}}
                      </option>
                    </select>
                  </uc-extended-input>
                </div>
                <div class="filter-group">
                  <uc-extended-input
                      [id]="'hairLengths'"
                      [labelText]="'Comprimento do cabelo'">
                    <select id="hairLengths" formControlName="hairLengths" class="form-control" multiple>
                      <option *ngFor="let option of hairLengthOptions"
                              [value]="option.id">{{option.name}}
                      </option>
                    </select>
                  </uc-extended-input>
                </div>
                <div class="filter-group">
                  <uc-extended-input
                      [id]="'hairTypes'"
                      [labelText]="'Tipo de cabelo'">
                    <select id="hairTypes" formControlName="hairTypes" class="form-control" multiple>
                      <option *ngFor="let option of hairTypeOptions"
                              [value]="option.id">{{option.name}}
                      </option>
                    </select>
                  </uc-extended-input>
                </div>
                <div class="filter-group">
                  <uc-extended-input
                      [id]="'skins'"
                      [labelText]="'Tom da Pele'">
                    <select id="skins" formControlName="skins" class="form-control" multiple>
                      <option *ngFor="let option of skinOptions"
                              [value]="option.id">{{option.name}}
                      </option>
                    </select>
                  </uc-extended-input>
                </div>
                <div class="filter-group">
                  <uc-extended-input
                      [id]="'physicalTraits'"
                      [labelText]="'Traços Físicos'">
                    <select id="physicalTraits" formControlName="physicalTraits" class="form-control" multiple>
                      <option *ngFor="let option of physicalTraitOptions"
                              [value]="option.id">{{option.name}}
                      </option>
                    </select>
                  </uc-extended-input>
                </div>
                <div class="filter-group">
                  <uc-extended-input
                      [id]="'particularities'"
                      [labelText]="'Particularidades'">
                    <select id="particularities" formControlName="particularities" class="form-control" multiple>
                      <option *ngFor="let option of particularityOptions"
                              [value]="option.id">{{option.name}}
                      </option>
                    </select>
                  </uc-extended-input>
                </div>
                <div class="filter-group">
                  <uc-extended-input
                      [id]="'eyeColors'"
                      [labelText]="'Cor dos Olhos'">
                    <select id="eyeColors" formControlName="eyeColors" class="form-control" multiple>
                      <option *ngFor="let option of eyeColorOptions"
                              [value]="option.id">{{option.name}}
                      </option>
                    </select>
                  </uc-extended-input>
                </div>
              </form>
            </div>
          </div>

        </div>
        <div class="col-md-9">
          <div class="text-xs-center">
            <pagination [(ngModel)]="currentPage"
                        [itemsPerPage]="usersService.maxCandidatesPerPage$ | async"
                        [previousText]="'Anterior'"
                        [nextText]="'Próxima'"
                        [maxSize]="6"
                        [rotate]="false"
                        [totalItems]="usersService.totalCandidates$ | async"
                        (pageChanged)="pageChanged($event)"></pagination>
          </div>
          <div>
            <md-progress-bar mode="indeterminate" color="primary" *ngIf="loading$ | async"></md-progress-bar>
          </div>
          <div *ngIf="(usersService.totalCandidates$ | async) > 0">
            Encontrados <span>{{ (usersService.totalCandidates$ | async) }}</span> candidatos.
          </div>
          <div class="row">
            <div class="col-sm-6 col-xl-4" style="margin-bottom: 30px;" *ngFor="let candidate of candidates$ | async">
              <uc-candidate-card
                  (inviteUser)="inviteCandidate($event)"
                  [candidate]="candidate"
                  [showSelect]="false"
                  [showInvite]="true"
              ></uc-candidate-card>
            </div>
          </div>
          <div class="text-xs-center">
            <pagination [(ngModel)]="currentPage"
                        [itemsPerPage]="usersService.maxCandidatesPerPage$ | async"
                        [previousText]="'Anterior'"
                        [nextText]="'Próxima'"
                        [maxSize]="6"
                        [rotate]="false"
                        [totalItems]="usersService.totalCandidates$ | async"
                        (pageChanged)="pageChanged($event)"></pagination>
          </div>
          <div>
            <uc-loading [isLoading]="usersService.loadingCandidates$" [text]="'Carregando candidatos...'"></uc-loading>
          </div>
          <div *ngIf="(usersService.totalCandidates$ | async) > 0">
            Encontrados <span>{{ (usersService.totalCandidates$ | async) }}</span> candidatos.
          </div>
        </div>
      </div>
    </div>
  </section>
</section>