<div class="form-group"
     [ngClass]="{'has-danger':errorMessage}">
  <label [attr.for]="id" class="form-control-label">{{labelText}}</label>
  <div class="element">
    <ng-content></ng-content>
  </div>
  <p class="text-danger help-block" *ngIf="errorMessage">
    {{errorMessage}}
  </p>
</div>