<header>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">&times;</button>
  <h4 class="modal-title" md-dialog-title>Convidar candidato</h4>
</header>
<div class="modal-body modal-gray" md-dialog-content>
  <uc-candidate-view [user]="candidate"></uc-candidate-view>
</div>
<footer class="modal-footer">
  <md-spinner *ngIf="loadingProjects" style="margin: 0 auto; width: 60px; height: 60px;"></md-spinner>
  <ng-container *ngIf="!loadingProjects">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-lg-6">
          <div class="page-header-tab-title">Selecionar Trabalho</div>
          <select (change)="projectChanged($event)" [ngModel]="state.selectedProjectId">
            <option [value]="null">Selecionar</option>
            <option *ngFor="let project of projects; trackBy: project?.id" [value]="project.id">
              {{project.name}}
            </option>
          </select>
        </div>
        <div class="col-lg-6">
          <div class="page-header-tab-title">Associar ao Perfil</div>
          <select (change)="userJobChanged($event)" [ngModel]="state.selectedUserJobId">
            <option value="">Selecionar</option>
            <option *ngFor="let userJob of userJobs; trackBy: userJob?.id" [value]="userJob.id">
              {{userJob.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary btn-block" (click)="confirm()">
        <i class="fa fa-check"></i> Convidar
      </button>

      <div class="btn btn-danger btn-block" (click)="close()">
        <i class="fa fa-times"></i> Fechar
      </div>
    </div>
  </ng-container>
</footer>
