<div [ngClass]="{'toggled-navigation': (pageService.page$|async).toggledNavigation}">
  <header class="menu side-nav">
    <div class="side-nav-inner">
      <header class="profile-peek">
        <header class="logo">
          <h1>UCasting</h1>
        </header>
        <uc-account-avatar [user]="user$ | async"></uc-account-avatar>
      </header>
      <section class="profile-menu">
        <nav class="items-box">
          <ul class="items">
            <!--<li class="item">-->
            <!--<a routerLink="['/main/candidate/profile']" linkActive="active">-->
            <!--Ver perfil-->
            <!--</a>-->
            <!--</li>-->
            <li class="item" *ucHasRole="'ROLE_CANDIDATE'">
              <a routerLink="/main/candidate/edit-account" routerLinkActive="active">
                Editar perfil
              </a>
            </li>
            <li class="item" *ucHasRole="'ROLE_CANDIDATE'">
              <a routerLink="/main/candidate/search-user-jobs" routerLinkActive="active">
                Vagas
              </a>
            </li>
            <!--<li class="item">-->
            <!--<a href="#">-->
            <!--Candidaturas-->
            <!--</a>-->
            <!--<i class="ico-menu-arrow"></i>-->
            <!--</li>-->
            <li class="item" *ucHasRole="'ROLE_HIRER'">
              <a routerLink="/main/hirer/projects/create" routerLinkActive="active">
                Novo Trabalho
              </a>
            </li>
            <li class="item" *ucHasRole="'ROLE_HIRER'">
              <a routerLink="/main/hirer/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                Meus Trabalhos
              </a>
            </li>
            <li class="item" *ucHasRole="'ROLE_HIRER'">
              <a routerLink="/main/hirer/search-candidates" routerLinkActive="active">
                Buscar candidatos
              </a>
            </li>
            <li class="item" *ucHasRole="'ROLE_HIRER'">
              <a routerLink="/main/hirer/user-jobs-selection" routerLinkActive="active">
                Seleções
              </a>
            </li>
            <li class="item">
              <a (click)="logout()">
                Sair
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </div>
  </header>
  <main class="main-page">
    <header class="container-fluid info-box-top">
      <section class="header">
        <button class="btn btn-toggle-nav" (click)="toggleNavigation()">
          <i class="fa fa-bars"></i>
        </button>
        <h1 *ngIf="(pageService.page$|async).title" class="title">{{(pageService.page$|async).title}}</h1>
      </section>
    </header>
    <router-outlet></router-outlet>
  </main>
</div>

