<div class="container-fluid">
  <section class="content-page">
    <section class="info-box">
      <div class="info-box-content">
        <div class="form-section">
          <h3 class="title">Trabalho</h3>
          <uc-project-form [value]="currentProject" (save)="saveProject($event)" [serverErrors]="serverErrors"></uc-project-form>
        </div>
      </div>
    </section>
  </section>
</div>
