<div class="container-fluid">
  <section class="content-page">
    <div class="text-xs-center info">
      <a class="btn btn-lg btn-primary btn-block" routerLink="create">Cadastrar novo trabalho</a>
    </div>
    <md-spinner *ngIf="state.loadingProjects" style="margin: 0 auto;"></md-spinner>
    <masonry [options]="{percentPosition: true, transitionDuration: '0.4s'}">
      <masonry-brick class="brick"
                     *ngFor="let project of (projectsService.myCompanyProjectsState$| async).myCompanyProjects | entities: 'projects'; trackBy: getProjectId">
        <uc-project-card [project]="project" (selectProject)="selectProject($event)"></uc-project-card>
      </masonry-brick>
    </masonry>
    <!--<div class="row">-->
    <!--<div class="col-sm-6 col-xl-4" *ngFor="let project of (projectsService.myCompanyProjectsState$| async).myCompanyProjects | entities: 'projects'">-->
    <!--<uc-project-card [project]="project" (selectProject)="selectProject($event)"></uc-project-card>-->
    <!--</div>-->
    <!--</div>-->
    </section>
</div>

