<section class="model profile">
    <header class="header">
        <div class="row bg-profile">
            <div class="col-md-12 image"
                 [ngStyle]="{backgroundImage: 'url(' + user.cover?.formats?.big +')'}">
            </div>
        </div>
        <div class="row general-profile">
            <div class="col-12 col-sm-3 col-md-3 profile-avatar">
                <div class="image" [ngStyle]="{backgroundImage: 'url(' + user.avatar?.formats?.small +')'}"></div>
            </div>
            <div class="col-12 col-sm-3 col-md-5 info-model">
                <h1 class="name">{{user.firstName|firstWord}}</h1>
                <br>
                <strong>Traços Físicos:</strong>
                <strong class="physical-traits"
                        *ngFor="let physicalTrait of user.profile.physicalTraits; let i = index"
                >{{physicalTrait.name}}<span
                    *ngIf="user.profile.physicalTraits.length > 1  && i < (user.profile.physicalTraits.length - 1)">,</span> </strong>
                <br>
                <strong class="occupation">Profissão: {{user.occupation}}</strong>
                /
                <strong class="city">{{user.profile.city}} - {{user.profile.state}}</strong>
                <br>
                <strong>Interesses:</strong>
                <span class="interest"
                      *ngFor="
                      let interest of user.profile.typeInterests;
                      let i = index;"
                >{{interest.name}}<span *ngIf="user.profile.typeInterests.length > 1 && i < (user.profile.typeInterests.length - 1)">,</span> </span>


            </div>
            <div class="col-6 col-sm-3 system-grid">
                <div class="system classification">
                    <i class="ico-star off"></i>
                    <i class="ico-star off"></i>
                    <i class="ico-star off"></i>
                    <i class="ico-star off"></i>
                    <i class="ico-star off"></i>
                </div>
            </div>
        </div>
    </header>

    <!-- Physical Profile -->
    <section class="info-box" style="margin: 0;">
        <div class="switch-menu">
            <div class="row">
                <div class="col-6 col-md-6 item" (click)="setTab(0)" [ngClass]="{on: currentTab === 0}">
                    <i class="ico-profile on"></i> <span class="desc">Perfil</span>
                </div>
                <div class="col-6 col-md-6 item" (click)="setTab(1)" [ngClass]="{on: currentTab === 1}">
                    <i class="ico-cam off"></i> <span class="desc">Portfolio</span>
                </div>
            </div>
        </div>
    </section>
    <div *ngIf="currentTab === 0">
        <uc-profile-view [profile]="user.profile"></uc-profile-view>
    </div>
    <div *ngIf="currentTab === 1">
        <uc-portfolio-view [profile]="user.profile"></uc-portfolio-view>
    </div>

</section>