.uc-btn{
	@include font-size(20px);
	@extend %font-weight-bold;
	@extend %display-inline-block;
	border-style: solid;
	&.green{
		border-width: 1px;
		border-color: $default-green-button;
		background-color: $default-green-button;
		color: #FFFFFF;
		&:hover{
			@extend %cursor-pointer;
			background-color: #FFFFFF;
			color: $default-green-button;
		}
		&:disabled{
			$colorLightened: lighten($default-green-button, 10%);
			border-color: $colorLightened;
			background-color: $colorLightened;
			&:hover{
				@extend %cursor-default;
				color: #FFFFFF;
			}
		}
	}
	&.white{
		@include border-radius(2px);
		font-size: $font-md;
		border-width: 2px;
		border-color: $default-color-menu-on;
		background-color: #FFFFFF;
		color: $default-color-menu-on;
		padding: 8px;
		&:disabled{
			$colorLightened: lighten($default-color-menu-on, 10%);
			border-color: $colorLightened;
			background-color: $default-gray-light;
		}
		i{
			margin-right: 8px;
		}
	}
	&.more-info{
		@extend %text-transform-uppercase;
		border-width: 0px;
		background-color: #FFFFFF;
		color: #000000;
		font-size: $font-lg;
		padding: 30px 0px;
		&:hover{
			@extend %cursor-pointer;
		}
		&:disabled{
			$colorLightened: lighten($default-green-button, 10%);
			border-color: $colorLightened;
			background-color: $colorLightened;
			&:hover{
				@extend %cursor-default;
				color: #FFFFFF;
			}
		}
	}
	&.cancel{
		border-width: 0px;
		background-color: #FFFFFF;
		color: $default-gray-level-8;
		&:hover{
			@extend %cursor-pointer;
			background-color: #FFFFFF;
			color: $default-green-button;
		}
		&:disabled{
			$colorLightened: lighten($default-green-button, 10%);
			border-color: $colorLightened;
			background-color: $colorLightened;
			&:hover{
				@extend %cursor-default;
				color: #FFFFFF;
			}
		}
	}
}

.btn-primary {
	background-color: $color-info;
	&:hover, &:focus, &:active {
		background-color: darken($color-info, 10%);
	}
}

.close {
	line-height: normal;
}