.album {

}

.album-panel {
  padding-bottom: 15px;
}

.album-title {
  @extend %font-weight-bold;
  @extend %float-left;
  font-size: $font-lg;
  color: $default-color-album-border;
}

.album-item {
  cursor: pointer;
  border-color: #aaaaaa;
  border-width: 1px;
  border-style: solid;
}

.album-image {
  position: relative;
  cursor: pointer;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 50% 15%;
  background-color: #ffffff;
  width: 100%;
  height: 220px;
  margin-bottom: 15px;
  &.add {
    @extend %cursor-pointer;

    border: 1px solid $default-color-album-border;
    margin-bottom: 35px;
    &:hover {
      background-color: $main-bg-color;
    }
    .add-box {
      @extend %position-absolute;
      @extend %font-weight-bold;
      @extend %text-align-center;
      @include transform(translate(-50%, -50%));
      color: $default-color-album-border;
      font-size: $font-xl;
      left: 50%;
      top: 50%;
      i {
        @extend %display-block;
        @extend %clear-both;
        margin-bottom: 15px;
        &:after {
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.composite-thumbnail {
  cursor: pointer;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 50% 50%;
  height: 250px;
}

.video-item {
  iframe {
    width: 100%;
    height: 300px;
  }
}


.album-carousel {
  margin: 30px auto;
}

hr {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
}

@mixin divider($margin-top, $margin-bot) {
  width: 100%;
  height: 1px;
  background-color: $default-gray-level-a;
  margin-top: $margin-top;
  margin-bottom: $margin-bot;
}

.divider-sm {
  @include divider(6px, 6px);
}

.divider-lg {
  @include divider(12px, 12px);
}

.job-tab {
  cursor: pointer;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 5px;
  border-color: transparent;
  background-color: $default-gray-light;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  &:hover {
    border-color: #222222;
    border-left-color: lighten($color-info, 30%);
  }
  &.active {
    border-color: #000000;
    border-left-color: $color-info;
  }
}
