.col-no-padding {
  padding-left: 0;
  padding-right: 0;
}

$brick-padding: 8px;

.brick {
  width: 100%;
  padding: $brick-padding;
}

@media screen and (min-width: 992px){
  .brick-20 {
    width: 20%;
  }

  .brick-25 {
    width: 25%;
  }

  .brick-33 {
    width: 33.333333%;
  }

  .brick-50 {
    width: 50%;
  }

  .brick-66 {
    width: 66.666666%;
  }

  .brick-75 {
    width: 75%;
  }

  .brick-100 {
    width: 100%;
  }
}
