.info-box{
	background-color: #FFFFFF;
	padding: 0;
	margin: 0;
	height: auto;
	width: 100%;
	.header{
		h1.title{
			@extend %text-transform-uppercase;
			@extend %font-weight-normal;
			color: $default-gray;
			font-size: $font-md;
			&.main{
				padding-bottom: 15px;
			}
		}
		h2.title{
			@extend %font-weight-normal;
			font-size: $font-md;
		}
	}
	
	.header{
		padding: $default-infobox-padding;
		border-bottom: $default-gray-light 1px solid;
	}
	.info{
		padding-bottom: 15px;
		.steps{
			@extend %position-relative;
			padding: 30px 15px 0px 0px;
			@media (max-width: $size-mobile-md){ width: 100%;}
			.step{
				@extend %position-relative;
				@extend %height-auto;
        cursor: pointer;
				width: 100%;
				.ico-step{
					@extend %float-right;
				}
				&.on{
					.highlighter{
						background-color: $default-color-steps;
					}
					.step-profile{
						color: $default-color-steps;
					}
					.ico-check{
						@extend .ico-check.on;
					}
				}
				.highlighter{
					@extend %display-inline-block;
					@extend %vertical-align-middle;
					width: 5px;
					height: 30px;
					margin-right: 15px;
					padding: 0;
					background-color: $default-gray-light;
				}
				.step-profile{
					@extend %text-transform-uppercase;
					@extend %font-weight-bold;
					font-size: $font-sm;
					color: $default-color-steps-off;
				}
			}
		}
		.added-desc-box{
			@extend %position-relative;
			@extend %float-left;
			width: 100%;
			border-bottom: 1px solid $main-bg-color;
			padding: 15px;
			.edit-box{
				@extend %position-absolute;
				right: 0;
				z-index: 10;
				margin: 5px 30px 0px 0px;
				i{
					@extend %cursor-pointer;
				}
			}
		}
		.desc{
			@extend %position-relative;
			padding: 27px 48px;
		}
		.split-box{
			@extend %position-relative;
			padding: 0px 27px;
			&.qualifications{
				@media (max-width: $size-mobile-sm){ padding-top: 10px;}
				.rank-box{
					width: 100%;
					border: $main-bg-color 1px solid;
					padding: 27px 30px;
					.rank{
						@extend %position-relative;
						@extend %display-flex;
						align-items: center;
						@media (max-width: $size-mobile-sm){ display: block; text-align: center;}
						.stars{
							@extend %position-relative;
							min-width: 160px;
							.system{
								margin-top: 0;
								@media (max-width: $size-mobile-sm){ position: relative; left: 50%; margin-left: -80px;}
							}
						}
					}
				}
			}
		}
	}
	.footer{
		margin: 0;
		.load-more{
			@extend %cursor-pointer;
			@extend %font-weight-bold;
			@extend %text-align-center;
			font-size: $font-sm;
			height: 20px;
			margin-bottom: 20px;
		}
	}
}

.info-box-content {
	padding: 15px 15px;
}

.info-ico{
	@extend %position-relative;
	@extend %display-block;
	@media (max-width: $size-mobile-lg){ width: 100%; margin-bottom: 10px; }
	i{
		@include border-radius(50%);
		@extend %position-relative;
		@extend %display-block;
		width: 60px;
		height: 60px;
		margin-right: 15px;
		margin-left: -30px;
		left: 50%;
		&:after{
			@include transform(translate(-50%,-50%));
			@extend %position-absolute;
			@extend %display-block;
			top: 50%;
			left: 50%;
		}
	}
}
.info-text{
	@extend %float-left;
	@media (max-width: $size-mobile-lg){ width: 100%; text-align: center;}
	.title{
		@extend %font-weight-bold;
		font-size: $font-lg;
		padding-bottom: 5px;
		margin: 0;
	}
	.title-desc{
		line-height: 2rem;
		font-size: $font-md;
		color: $default-gray;
	}
	.date{
		font-size: $font-md;
	}
	.more-info{
		padding-top: 5px;
		font-size: $font-sm;
		color: $default-gray;
	}
}

.info-box-gray {
	background-color: $default-gray-light;
}