$menu-width: 220px;

.menu {
  z-index: 5;
  &.simple-top {
    text-align: center;
    background-color: #000000;
    padding: 10px;
  }
  &.side-nav {
    width: 0;
    @extend %position-fixed;
    overflow-y: auto;
    background-color: $default-color-menu;
    margin: 0;
    height: 100%;
    color: #FFFFFF;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    @media (min-width: 768px) {
      width: $menu-width;
    }
    .logo {
      padding-bottom: 38px;
    }
    .close-box {
      @extend %display-none;
      @extend %position-relative;
      @extend %text-align-center;
      margin: 7px 0px;
      background-color: $default-color-close;
      font-size: 1.500rem;
      padding: 5px 0px;
    }
    .profile-peek {
      @extend %position-relative;
      @extend %display-block;
      padding: 12px $default-menu-padding-left 30px $default-menu-padding-left;
      border-bottom: 1px solid $default-gray-dark;
      .profile-avatar {
        height: auto;
        overflow: auto;
        .avatar-box {
          @extend %position-relative;
          @extend %display-block;
          @extend %float-left;
          @include border-radius(50%);
          width: 60px;
          height: 60px;
          .avatar {
            height: 100%;
          }
        }
        .profile-avatar-aux {
          @extend %position-relative;
          @extend %display-block;
          @extend %float-left;
          padding: 10px 0px 0px 10px;
          .first-name {
            font-size: $font-md;
          }
          .text-link {
            color: $default-gray-darker;
            font-size: $font-sm;
          }
        }
      }
    }
    .profile-menu {
      .items-box {
        .items {
          margin: 0;
          padding: 0;
          .item {
            @extend %position-relative;
            @extend %display-block;
            @extend %cursor-pointer;
            @extend %text-transform-uppercase;
            font-size: $font-sm;
            color: #FFFFFF;
            a {
              padding: 20px 10px 20px $default-menu-padding-left;
              color: #FFFFFF;
              display: block;
              &:hover, &:active, &:focus {
                color: #FFFFFF;
                text-decoration: none;
                background-color: $default-color-menu-on;
              }
            }
            .active {
              @extend %cursor-default;
              background-color: $default-color-menu-on;
              .ico-menu-arrow {
                @extend %display-inline-block;
              }
            }
            .feature {
              @extend %float-right;
              .ico-menu-arrow {
                @extend %display-none;
                margin-left: 15px;
              }
              .notification {
                @include border-radius(50%);
                @extend %display-none;
                background-color: $default-color-notification;
                font-size: $font-sm;
                padding: 6px 6px 6px 4px;
                margin-top: -6px;
                width: auto;
                &.on {
                  @extend %display-inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}

.side-nav-inner {
  width: $menu-width;
}

.toggled-navigation {
  .side-nav {
    width: $menu-width;
    @media (min-width: 768px) {
      width: 0;
    }
  }

  .main-page {
    -webkit-transform: translateX($menu-width);
    -moz-transform: translateX($menu-width);
    -ms-transform: translateX($menu-width);
    -o-transform: translateX($menu-width);
    transform: translateX($menu-width);
    @media (min-width: 768px) {
      margin-left: 0;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }
}

.btn-toggle-nav {
  position: absolute;
  left: 10px;
  top: 15px;
}

