html {
}
body{
	background-color: $main-bg-color;
	font-family: $main-font-family;
	overflow-x: hidden;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

.logo h1{
	@include sprite($logo);
	@extend .default-logo-propertie;
	&.mini{
		max-width: $logo-mini-width;
		@include sprite($logo-mini);
		@extend %float-left;
		@extend .default-logo-propertie;
	}
}


h1.logo{
	@include sprite($logo);
	@extend .default-logo-propertie;
	&.mini{
		max-width: $logo-mini-width;
		@include sprite($logo-mini);
		@extend %float-left;
		@extend .default-logo-propertie;
	}
}

.main-page{
	@extend %position-relative;
	@extend %display-block;
	height: auto;
	min-height: 100vh;
	z-index: 1;
	margin-left: 0;
	padding-bottom: 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	@media (min-width: 768px ){
		margin-left: 220px;
	}
	//@media (max-width: $size-mobile-lg){ padding-left: 0px;}
}

.content-page {
	padding-top: 30px;
}



.default-logo-propertie{
	@extend %display-inline-block;
	@extend %normalize-spacing;
	text-indent: -9999px;
	color: #000000;
}

.page-header {
	background-color: #ffffff;
	box-shadow: 0 4px 2px -2px $default-gray-level-d;
	&:after {
		clear: both;
		display: block;
		content: '';
	}
}



.page-header-tab {
	text-align: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding: 5px;
}

@media screen and (min-width: 992px){
	.page-header-tab {
		float: left;
	}
}

.page-header-tab-clickable {
	cursor: pointer;
	background-color: $default-gray-level-d;
	border-bottom-color: $default-gray-level-b;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.page-header-tab-clickable-active {
	background-color: #ffffff;
	border-bottom-color: $color-info;
	color: $color-info;
}

.page-header-tab-title {
	font-size: 1.5rem;
	font-weight:700;
}

