.btn-send-message{
	@include border-radius(2px);
	@extend %cursor-pointer;
	@extend %text-align-center;
	color: $default-gray;
	border: 1px $default-gray solid;
	font-size: $font-md;
	padding: 10px 20px;
	height: 43px;
	margin-top: 25px;
	min-width: 160px;
	.text{
		padding-left: 6px;
		line-height: 25px;
		font-family: 'din-regular', Helvetica Neue, Helvetica, Arial, sans-serif;
	}
}

.classification{
	margin-top: 29px;
	height: 25px;
	min-width: 160px;
	max-width: 160px;
}

.image-circle {
	border-radius: 50%;
	background-repeat:no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.img-responsive {
	width: 100%;
}

img {
	pointer-events: none;
}
