//grid
$size-mobile-sm: 544px;
$size-mobile-md: 768px;
$size-mobile-lg: 992px;
$size-notebook-md: 1366px;

$size-sm: 544px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;

//size
$default-max-width: 1024px;
$default-padding-left: 30px;
$default-padding-right: 30px;
$default-infobox-padding: 20px 60px;
$default-menu-padding-left: 33px;

//colors
$color-success: #00b6c6;
$color-fail: #ff515f;
$color-info: #009fcf;

//colors
$main-bg-color: #f0f0f2;
$default-gray-dark: #4d4d4d;
$default-gray-darker: #7f7f7f;
$default-gray-level-5: #5e5e5e;
$default-gray-level-8: #808080;
$default-gray-level-a: #a2a2a2;
$default-gray-level-b: #b3b3b3;
$default-gray-level-d: #d8d8d9;
$default-gray: #999999;
$default-gray-light: #e3e3e6;
$default-color-ico-language: #00b6c6;
$default-color-ico-edu: #00b6c6;
$default-color-ico-event: #ff515f;
$default-color-ico-modeling: #009fcf;
$default-color-acting: #f7931e;
$default-color-switch-menu: #00b6c6;
$default-color-menu: #000000;
$default-color-menu-on: #00b6c6;
$default-color-button: $default-color-menu-on;
$default-color-steps: $default-color-menu-on;
$default-green-button: $default-color-menu-on;
$default-color-album-border: $default-color-menu-on;
$default-color-steps-off: $default-gray-level-8;
$default-color-notification: #d05d52;
$default-color-close: #d05d52;
$default-color-form-input: #cacacc;
$default-color-card-border: #cacacc;
$default-color-form-radio: $default-color-menu-on;
$default-color-error: #e74c3c;
$default-color-odd: #f8f8fa;

//Fonts
$main-font-family: "Helvetica Neue", "din-regular", Helvetica, Arial, sans-serif;
$secondary-font-family: "Helvetica Neue", "din-regular-medium", Helvetica, Arial, sans-serif;
$hashtags: #00b6c6;

//Fonts Size
$font-pixel-base: 16px;
$font-sm: 0.813rem;
$font-md: 1rem;
$font-lg: 1.125rem;
$font-xl: 1.250rem;
$font-xxl: 1.625rem;

//extends
%background-position-center{ background-position: center;}
%background-repeat-no-repeat{ background-repeat: no-repeat;}
%background-size-cover{ -webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;}
%border-none{ border: none;}
%cursor-default{ cursor: default;}
%cursor-pointer{ cursor: pointer;}
%clear-both{ clear: both;}
%display-block{ display: block;}
%display-none{ display: none;}
%display-flex{ display: flex; display: -webkit-flex;}
%display-table{ display: table;}
%display-inline-block{ display: inline-block;}
%float-left{float: left;}
%float-right{float: right;}
%float-none{float: none;}
%font-family-din-regular{ font-family: 'din-regular';}
%font-family-din-regular-medium{ font-family: 'din-regular-medium';}
%font-weight-bold{ font-weight: bold;}
%font-weight-normal{ font-weight: normal;}
%height-auto{ height: auto;}
%overflow-auto{ overflow: auto;}
%overflow-hidden{ overflow: hidden;}
%position-absolute{ position: absolute;}
%position-fixed{ position: fixed;}
%position-relative{ position: relative;}
%text-align-left{ text-align: left;}
%text-align-right{ text-align: right;}
%text-align-center{ text-align: center;}
%text-transform-none{ text-transform: none;}
%text-transform-uppercase{ text-transform: uppercase;}
%vertical-align-middle{ vertical-align: middle;}
%vertical-align-text-bottom{ vertical-align: text-bottom;}
%vertical-align-top{ vertical-align: top;}

%normalize-spacing{ padding: 0; margin: 0;}
%padding-zero{ padding: 0 !important;}
%margin-zero{ margin: 0 !important;}

//classes
.ico-opt-mobile{
	@extend %display-none;
	@media (max-width: $size-mobile-md){ display: inline-block;}
}

.centered{
	display: inline-block;
}

.clear{
	clear: both;
}

.important-text{ @extend %font-weight-bold;}

.default-button-properties{
	width: 200px;
	padding: 15px 0px;
	margin: 10px 0px;
}
