<div class="row albums">
    <div class="col-md-4 col-6" *ngFor="let album of albums">
        <uc-album-item [album]="album" (albumSelect)="albumSelect.emit($event)"></uc-album-item>
    </div>
</div>
