<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
  <uc-gallery [medias]="medias"></uc-gallery>
</div>
<div class="modal-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9">
        {{description}}
      </div>
      <div class="col-sm-3">
        <div class="btn btn-default" (click)="close()">Fechar</div>
      </div>
    </div>
  </div>
</div>
