<header md-dialog-title>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">&times;</button>
  <h4 class="modal-title" >{{title}}</h4>
</header>
<div class="modal-body modal-gray" md-dialog-content>
  <uc-candidate-view [user]="candidate" [currentTab]="tabIndex"></uc-candidate-view>
</div>