<form [formGroup]="projectForm">
  <div class="form-section">
    <div class="row">
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'name'"
            [labelText]="'Nome do trabalho'"
            [serverErrors]="serverErrors?.children?.name">
          <input id="name" type="text" formControlName="name" class="form-control">
        </uc-extended-input>
      </div>
      <div class="col-lg-6">
        <uc-extended-input
            [id]="'clientName'"
            [labelText]="'Cliente'"
            [serverErrors]="serverErrors?.children?.clientName">
          <input id="clientName" type="text" formControlName="clientName" class="form-control">
        </uc-extended-input>
      </div>
      <div class="col-lg-12">
        <uc-extended-input
            [id]="'description'"
            [labelText]="'Descrição do trabalho'"
            [serverErrors]="serverErrors?.children?.description">
          <textarea id="description" type="text" formControlName="description" class="form-control"></textarea>
        </uc-extended-input>
      </div>
      <div class="col-lg-4">
        <uc-extended-input
            [id]="'budget'"
            [labelText]="'Orçamento'"
            [serverErrors]="serverErrors?.children?.budget">
          <input id="budget" type="number" min="0" formControlName="budget" class="form-control">
        </uc-extended-input>
      </div>
      <div class="col-lg-4">
        <uc-extended-input
            [id]="'jobCategory'"
            [labelText]="'Categoria'"
            [serverErrors]="serverErrors?.children?.jobCategory">
          <select id="jobCategory" formControlName="jobCategory" class="form-control">
            <option *ngFor="let jobCategory of jobCategories$ | async"
                    [value]="jobCategory.id">{{jobCategory.name}}
            </option>
          </select>
        </uc-extended-input>
      </div>
      <div class="col-lg-4">
        <uc-extended-input
            [id]="'totalPositions'"
            [labelText]="'Total de vagas'"
            [serverErrors]="serverErrors?.children?.totalPositions">
          <input id="totalPositions" type="number" min="1" formControlName="totalPositions" class="form-control">
        </uc-extended-input>
      </div>
    </div>
  </div>
  <div class="form-section">
    <h4 class="form-section-title">Locais</h4>
    <div class="row" [formGroup]="locationForm" *ngFor="let locationForm of projectForm.controls.locations['controls']; let i = index;">
        <div class="col-lg-6">
          <uc-extended-input
              [id]="'location-name-' + i"
              [labelText]="'Nome do local'"
              [serverErrors]="serverErrors?.children?.locations?.children
                               && serverErrors.children.locations.children.length > i
                               && serverErrors.children.locations.children[i].children.name"
          >
            <input type="text" [attr.id]="'location-name-' + i" formControlName="name"
                   class="form-control">
          </uc-extended-input>
        </div>
        <div class="col-lg-6">
          <uc-extended-input
              [id]="'location-address-' + i"
              [labelText]="'Endereço'"
              [serverErrors]="serverErrors?.children?.locations?.children
                               && serverErrors.children.locations.children.length > i
                               && serverErrors.children.locations.children[i].children.address"
          >
            <input type="text" [attr.id]="'location-address-' + i" formControlName="address"
                   class="form-control">
          </uc-extended-input>
        </div>
        <div class="col-lg-6">
          <uc-extended-input
              [id]="'location-district-' + i"
              [labelText]="'Bairro'"
              [serverErrors]="serverErrors?.children?.locations?.children
                               && serverErrors.children.locations.children.length > i
                               && serverErrors.children.locations.children[i].children.district"
          >
            <input type="text" [attr.id]="'location-district-' + i" formControlName="district"
                   class="form-control">
          </uc-extended-input>
        </div>
        <div class="col-lg-6">
          <uc-extended-input
              [id]="'location-city-' + i"
              [labelText]="'Cidade'"
              [serverErrors]="serverErrors?.children?.locations?.children
                               && serverErrors.children.locations.children.length > i
                               && serverErrors.children.locations.children[i].children.city"
          >
            <input type="text" [attr.id]="'location-city-' + i" formControlName="city"
                   class="form-control">
          </uc-extended-input>
        </div>
        <div class="col-lg-6">
          <uc-extended-input
              [id]="'location-state-' + i"
              [labelText]="'UF'"
              [serverErrors]="serverErrors?.children?.locations?.children
                               && serverErrors.children.locations.children.length > i
                               && serverErrors.children.locations.children[i].children.state"
          >
            <select [attr.id]="'location-state-' + i" formControlName="state" class="form-control">
              <option *ngFor="let stateOption of states"
                      [value]="stateOption">{{stateOption}}
              </option>
            </select>
          </uc-extended-input>
        </div>
        <div class="col-lg-6">
          <uc-extended-input
              [id]="'location-zipcode-' + i"
              [labelText]="'CEP'"
              [serverErrors]="serverErrors?.children?.locations?.children
                               && serverErrors.children.locations.children.length > i
                               && serverErrors.children.locations.children[i].children.zipcode"
          >
            <input type="text" [attr.id]="'location-zipcode-' + i" formControlName="zipcode"
                   class="form-control">
          </uc-extended-input>
        </div>
      <div class="col-12 text-xs-right" *ngIf="i > 0">
        <div class="btn btn-md btn-warning"
             (click)="removeLocationForm(i)">Remover
        </div>
      </div>
      <hr>
    </div>
    <div class="text-xs-right">
      <span class="btn form-section-title"
            (click)="addLocationForm()">
        Adicionar local do trabalho
      </span>
    </div>
  </div>
  <div class="form-section">
    <div class="info-box-content">
      <div class="btn btn-info" (click)="saveProject()">
        Salvar
      </div>
    </div>
  </div>
</form>