<div class="project-card" (click)="selectProject.emit(project)">
  <div class="project-card-header">
    <strong>{{project.name}}</strong><br>
    {{project.clientName}}
  </div>
  <div class="project-card-content">
    <p>
      <i class="fa fa-suitcase fa-fw"></i> R${{project.budget}}
    </p>
    <p>
      <i class="fa fa-users fa-fw"></i> {{project.totalPositions}} vagas
    </p>
    <strong class="job-text" *ngIf="project.userJobs.length > 0">Perfis:</strong>
    <div *ngFor="let job of project.userJobs | entities: 'userJobs'">
      <div class="project-card-job" *ngIf="!job.cancelled">
        <div><strong>{{job.name}}
          <span *ngIf="job.remuneration && job.remunerationType">
                     - R${{job.remuneration}}/{{(job.remunerationType|entity: 'remunerationTypes').name}} - {{job.totalPositions}} vagas</span>
          - <span class="badge badge-info"
                  *ngIf="job.published && !job.cancelled && !job.approved">publicado</span>
          <span class="badge badge-default" *ngIf="!job.published && !job.cancelled">rascunho</span>
          <span class="badge badge-danger" *ngIf="job.cancelled">cancelado</span>
          <span class="badge badge-default" *ngIf="job.finished">finalizado</span>
          <span class="badge badge-success" *ngIf="job.approved">aprovado</span>
        </strong></div>
        <div>{{(job.jobType | entity: 'jobTypes').name}}
             - {{ (job.location | entity: 'projectLocations').name}}</div>
      </div>
    </div>
  </div>
</div>
