<div class="col-md-3 info-ico">
  <i class="ico-modeling"></i>
</div>
<div class="col-md-9 info-text">
  <h2 class="title">{{experience.name}}</h2>
  <span class="title-desc">{{experience.company}}</span><br>
  <span class="date">{{experience.start | moment: 'MM/YY'}}</span>
  <br><br>
  <p class="more-info">
      {{experience.description}}
  </p>
</div>