<section class="info">
  <div class="row">
    <header class="col-sm-12 col-md-6 split-box">
      <header class="col-md-12">
        <h1 class="title main">
          Sobre mim
        </h1>
        <p>
          {{profile.description}}
        </p>
      </header>
      <section class="col-md-12 system hashtags-box">
        <h1 class="title">Hashtags</h1>
        <uc-hashtag-list [hashtags]="profile.hashtags"></uc-hashtag-list>
      </section>
    </header>
    <!--<section class="col-sm-12 col-md-6 split-box qualifications">-->
    <!--<header class="col-sm-12">-->
    <!--<h1 class="title main">-->
    <!--Avaliações-->
    <!--</h1>-->
    <!--</header>-->
    <!--<section class="col-sm-12 col-md-6 rank-box">-->
    <!--<div class="container-fluid">-->
    <!--<div class="row rank">-->
    <!--<div class="col-sm-12 col-md-5">-->
    <!--<h2 class="title">-->
    <!--Lorem Ipsum-->
    <!--</h2>-->
    <!--</div>-->
    <!--<div class="col-sm-12 col-md-7 stars">-->
    <!--<div class="system classification">-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star off"></i>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row rank">-->
    <!--<div class="col-sm-12 col-md-5">-->
    <!--<h2 class="title">-->
    <!--Lorem Ipsum-->
    <!--</h2>-->
    <!--</div>-->
    <!--<div class="col-sm-12 col-md-7 stars">-->
    <!--<div class="system classification">-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star off"></i>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row rank">-->
    <!--<div class="col-sm-12 col-md-5">-->
    <!--<h2 class="title">-->
    <!--Lorem Ipsum-->
    <!--</h2>-->
    <!--</div>-->
    <!--<div class="col-sm-12 col-md-7 stars">-->
    <!--<div class="system classification">-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star off"></i>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row rank">-->
    <!--<div class="col-sm-12 col-md-5">-->
    <!--<h2 class="title">-->
    <!--Lorem Ipsum-->
    <!--</h2>-->
    <!--</div>-->
    <!--<div class="col-sm-12 col-md-7 stars">-->
    <!--<div class="system classification">-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star on"></i>-->
    <!--<i class="ico-star off"></i>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->
    <!--</section>-->
  </div>
</section>