<figure class="album">
  <div class="album-image" [ngStyle]="{backgroundImage: 'url(' + image +')'}">
    <progress *ngIf="!item.isSuccess" class="progress progress-info progress-striped" [value]="item.progress" max="100">
      <div class="progress">
        <span class="progress-bar" [ngStyle]="{ 'width': item.progress + '%' }"></span>
      </div>
    </progress>
  </div>
  <div class="album-panel">
    <div class="btn btn-xs btn-warning btn-block" (click)="remove()">
      Cancelar upload
    </div>
  </div>
</figure>