<div>
  <header class="header">
    <h1 class="title">{{album.name}} <span class="pull-xs-right btn btn-sm btn-info " (click)="onBackClicked($event)">Voltar</span></h1>
  </header>
  <div class="info">
    <uc-gallery [medias]="medias"></uc-gallery>
    <!--<div class="row albums">-->
      <!--<div class="col-md-4 col-6" *ngFor="let galleryMedia of album.medias">-->
        <!--<div class="album">-->
          <!--<div class="album-image"-->
               <!--[ngStyle]="{backgroundImage: 'url(' + galleryMedia.media?.formats?.medium +')'}">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
