.portfolio {
  padding: 30px;
  &.edit-form {
    .section {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .forms {
    @extend %normalize-spacing;
    &.bordered {
      border-bottom: 1px solid $main-bg-color;
    }
    .form-title {
      h1.title {
        @extend %normalize-spacing;
        font-size: $font-xxl;
      }
    }
  }
  .section {
    @extend %border-none;
    padding: 30px 0px 25px;
    &.bordered {
      border-bottom: 1px solid $main-bg-color;
    }
    .action-section {
      @extend %text-align-right;
      @extend %normalize-spacing;
    }
    header.header {
      @extend %border-none;
      padding-left: 0px;
      padding-right: 0px;
      h1.title {
        @extend %text-transform-none;
        @extend %font-weight-bold;
        @extend %margin-zero;
        padding: 0px 0px 15px;
        font-size: $font-xxl;
        color: #000000;
      }
      h2.subtitle {
        @extend %text-transform-none;
        @extend %font-weight-normal;
        @extend %normalize-spacing;
        font-size: $font-md;
        color: #000000;
      }
    }

  }
}

.albums {
  @extend %position-relative;
  @extend %display-block;
  .album {
    min-height: 250px;
    @extend %position-relative;
    @extend %normalize-spacing;
    @extend %display-block;
    @media (max-width: $size-mobile-md) {
      clear: both;
      margin: 0 auto;
    }
    @media (max-width: $size-mobile-sm) {
      width: 100%;
    }
    img {
      width: 100%;
      height: 200px;
    }
    .album-panel {
      padding: 15px 0px;
      .album-title {
        @extend %font-weight-bold;
        @extend %float-left;
        font-size: $font-lg;
        color: $default-color-album-border;
      }
      .edit-box {
        @extend %position-relative;
        @extend %float-right;
        right: 0;
        i {
          margin-left: 15px;
        }
      }
    }
  }
}

.info-box {
  .info {
    .steps {
      @media (max-width: $size-mobile-md) {
        position: relative !important;
      }
    }
  }
  .switch-menu {
    background-color: $main-bg-color;
    .item {
      @extend %text-transform-uppercase;
      @extend %font-weight-bold;
      padding: 13px 30px;
      background-color: $default-gray-light;
      border-top: 2px $default-gray solid;
      color: $default-gray;
      @media (max-width: $size-mobile-lg) {
        text-align: center;
        width: 50%;
      }
      &.on {
        background-color: #FFFFFF;
        border-top: 2px $default-color-switch-menu solid;
        color: $default-color-switch-menu;
      }
    }
  }
  .edit-form {
    padding: 15px;
    @media (max-width: $size-mobile-md) {
      padding: 20px;
    }
    .form-title {
      @extend %position-relative;
      padding: 15px 15px 0px;
      @media (max-width: $size-mobile-md) {
        text-align: center;
      }
      h1.title {
        @extend %margin-zero;
        font-size: $font-xxl;
      }
      &.bordered {
        padding-bottom: 25px;
        border-bottom: 1px solid $main-bg-color;
      }
    }
    .forms {
      @extend %normalize-spacing;
      .section {
        padding: 15px;
      }
      .header {
        @extend %margin-zero;
        padding: 30px 0px;
        border: none;
        .bg-profile {
          @extend %normalize-spacing;
          height: 167px;
          .image {
            @extend %background-position-center;
            @extend %background-size-cover;
            background-color: #FFFFFF;
            height: 100%;
          }
        }
        .profile-avatar {
          min-width: 125px;
          height: 75px;
          .image {
            @include border-radius(50%);
            @include box-shadow(0px 2px 2px 2px rgba(239, 239, 239, 0.5));
            @extend %position-absolute;
            @extend %background-position-center;
            border: #FFFFFF 2px solid;
            min-width: 125px;
            height: 125px;
            margin-top: -50px;
            margin-left: -62.5px;
            left: 50%;
          }
        }
        .change {
          @extend %font-weight-bold;
          @extend %font-family-din-regular-medium;
          color: $default-color-menu-on;
          padding-top: 22px;
          &.avatar {
            @extend %text-align-left;
          }
          &.background {
            @extend %text-align-right;
          }
          .ico-cam {
            @extend %display-inline-block;
            @extend %vertical-align-middle;
            height: 100%;
          }
          .active {
            @extend %cursor-pointer;
          }
        }
      }
    }
  }
}
