.profile {
  //max-width: $default-max-width;
  min-height: 360px;
  padding: 0;
  margin: 0 auto;
  &.model {

  }
  &.response {
    @extend %text-align-center;
    padding: 40px;
    font-size: $font-md;
    width: 100%;
  }
  .see-portfolio {
    .text {
      @extend %cursor-pointer;
      @extend %font-weight-bold;
      @extend %text-align-center;
      @extend %text-transform-uppercase;
      font-size: $font-sm;
    }
  }
  .info-box {
    margin: 20px 0;
    &:first-child {
      margin-top: 0;
    }
    h1.title {
      @extend %text-transform-uppercase;
      @extend %font-weight-normal;
      @extend %margin-zero;
      color: $default-gray;
      font-size: $font-md;
      &.main {
        padding-bottom: 15px;
      }
    }
    h2.title {
      @extend %font-weight-normal;
      font-size: $font-md;
    }
    .info {
      padding: $default-infobox-padding;
      &.person-portfolio {
        @extend %display-none;
      }
    }
  }
  .header {
    margin: 0 auto;
    margin-bottom: 25px;
    .bg-profile {
      @extend %margin-zero;
      width: 100%;
      height: 220px;
      .image {
        @include gradient-vertical(#000000, #f0f0f2, 0%, 95%);
        @extend %background-position-center;
        @extend %background-size-cover;
        background-color: $main-bg-color;
        height: 100%;
      }
    }
    .general-profile {
      padding-left: $default-padding-left;
      padding-right: $default-padding-right;
      .profile-avatar {
        min-width: 160px;
        height: 80px;
        .image {
          @include border-radius(50%);
          @extend %position-absolute;
          background-position: center;
          background-repeat: no-repeat;
          background-color: $main-bg-color;
          background-size: contain;
          min-width: 160px;
          height: 160px;
          margin-top: -80px;
          border: #FFFFFF 2px solid;
          left: 50%;
          margin-left: -80px;
        }
      }
      .info-model {
        @extend %font-weight-bold;
        padding: 20px 0px 0px 0px;
        @media (max-width: $size-mobile-md) {
          text-align: center;
        }
        .name, .occupation, .city {
          display: inline;
          margin: 0;
          padding: 0;
        }
        .name {
          font-size: 1.500rem;
          line-height: 0px;
        }
        .occupation, .city {
          font-size: 1rem;
        }
      }
      .system-grid {
        @media (max-width: $size-mobile-sm) {
          width: 100%;
        }
        .btn-send-message {
          @media (max-width: $size-mobile-sm) {
            width: 98%;
            margin-left: 1%;
            text-align: center;
          }
        }
        .classification {
          @media (max-width: $size-mobile-sm) {
            position: relative;
            margin-left: -80px;
            left: 50%;
          }
        }
        .btn-send-message, .classification .star .off, .classification .star .on {
          @extend %float-right;
        }
      }
    }
  }
  .info {
    padding: 15px 0;
    &.person-specs {
      font-size: $font-xl;
      h2.title {
        @extend %text-transform-uppercase;
        .image {
          @extend %font-weight-normal;
          color: $default-gray;
          font-size: $font-md;
        }
        .person-desc, .person-value {
          line-height: ($font-xl * 2);
        }
        .person-value {
          @extend %font-weight-bold;
        }

      }
      .hashtags {
        min-height: 100px;
        padding-bottom: 15px;
        .item {
          margin-top: 15px;
          margin-right: 5px;
        }
      }
    }
  }
}

.person-changes-available {
  @include border-radius(5px);
  width: 100%;
  padding: 28px 28px;
  min-height: 10px;
  border: 1px solid $default-gray-light;
  .desc {
    font-size: $font-xl;
    padding: 0;
  }
}

.info-model-interests {
  font-weight: 400;
}

.timeline {
  display: block;
  position: relative;
  padding-bottom: 15px;
}

.timeline-item {
  display: block;
  position: relative;
  padding-top: 15px;
  &:first-child {
    padding-top: 0;
  }
}

@media screen and (min-width: 992px){
  .timeline {
    //&:before {
    //  content: '';
    //  display: block;
    //  position: absolute;
    //  z-index: 0;
    //  width: 1px;
    //  height: calc(100% - 150px);
    //  background-color: #666666;
    //  left: 18.5%;
    //  top: 47px;
    //}
  }

  .timeline-item {
    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      width: 1px;
      height: 100%;
      background-color: #666666;
      left: 12.5%;
      top: 0px;
    }
    &:last-child:before {
      height: 60px;
    }
  }
}