<div class="page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 page-header-tab page-header-tab-clickable"
           [ngClass]="{ 'page-header-tab-clickable-active': currentTab === 0 }" (click)="setTab(0)">
        <div *ngIf="(!state.loadingCompatible && state.compatibleCount !== null) || state.compatibleCount !== null">
          <div class="page-header-tab-title">{{state.compatibleCount}}</div>
          <div>vagas com seu perfil</div>
        </div>
        <md-spinner *ngIf="state.loadingCompatible && state.compatibleCount === null" style="margin: 0 auto; width: 60px; height: 60px;"></md-spinner>
      </div>
      <div class="col-lg-6 page-header-tab page-header-tab-clickable"
           [ngClass]="{ 'page-header-tab-clickable-active': currentTab === 1 }" (click)="setTab(1)">
        <div *ngIf="(!state.loadingAll && state.allCount !== null) || state.allCount !== null">
          <div class="page-header-tab-title">{{state.allCount}}</div>
          <div>vagas no site</div>
        </div>
        <md-spinner *ngIf="state.loadingAll && state.allCount === null" style="margin: 0 auto; width: 60px; height: 60px;"></md-spinner>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <section class="content-page"
           infinite-scroll
           [infiniteScrollDistance]="1"
           [infiniteScrollThrottle]="500"
           (scrolled)="onScroll()"
  >
    <div *ngIf="currentTab === 0">
      <masonry [options]="{percentPosition: true, transitionDuration: '0.4s', columnWidth: '.brick-sizer'}">
        <div class="brick-sizer brick brick-33"></div>
        <masonry-brick
            class="brick fade-in"
            [ngClass]="{
          'brick-33': state.expandedCompatibleJob !== job.id,
          'brick-66': state.expandedCompatibleJob === job.id }" *ngFor="let job of state.compatibleUserJobs | entities: 'userJobs'; trackBy: getJobId" >
          <uc-user-job-card [userJob]="job"
                            [expanded]="isExpandedCompatible(job)"
                            [applying]="isApplying(job)"
                            [cancelling]="isCancelling(job)"
                            [inSelection]="isInSelection(job)"
                            (expand)="expandCompatible($event)"
                            (shrink)="shrinkCompatible($event)"
                            (apply)="apply($event)"
                            (cancel)="cancelApplication($event)"
          ></uc-user-job-card>
        </masonry-brick>
      </masonry>
    </div>
    <div *ngIf="currentTab === 1">
      <masonry [options]="{percentPosition: true, transitionDuration: '0.4s', columnWidth: '.brick-sizer'}">
        <div class="brick-sizer brick brick-33"></div>
        <masonry-brick
            class="brick fade-in"
            [ngClass]="{
          'brick-33': state.expandedAllJob !== job.id,
          'brick-66': state.expandedAllJob === job.id }" *ngFor="let job of state.allUserJobs | entities: 'userJobs'; trackBy: getJobId">
          <uc-user-job-card [userJob]="job"
                            [expanded]="isExpandedAll(job)"
                            [applyVisible]="true"
                            [applying]="isApplying(job)"
                            [cancelling]="isCancelling(job)"
                            [inSelection]="isInSelection(job)"
                            (expand)="expandAll($event)"
                            (shrink)="shrinkAll($event)"
                            (apply)="apply($event)"
                            (cancel)="cancelApplication($event)"
          ></uc-user-job-card>
        </masonry-brick>
      </masonry>
    </div>
  </section>
</div>