<div class="info-box">
  <header class="header">
    <h1 class="title">Características</h1>
  </header>
  <section class="row info person-portfolio">

  </section>
  <uc-profile-characteristics [profile]="profile"></uc-profile-characteristics>
</div>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-2 col-sm-4 col-6" *ngFor="let image of mainImages" style="height: 200px; cursor: pointer; background-size: cover; background-repeat: no-repeat;"
       [ngStyle]="{'background-image': 'url(' + image?.formats?.medium + ')'}"
  >
  </div>
</div>

<!-- Resumo -->
<section class="info-box">
  <header class="header">
    <h1 class="title">Resumo</h1>
  </header>
  <uc-profile-summary [profile]="profile"></uc-profile-summary>
</section>

<!-- Experiência -->
<section class="info-box" *ngIf="profile.experiences?.length > 0">
  <header class="header">
    <h1 class="title">Experiência</h1>
  </header>
  <section class="info">
    <uc-experience-list
            [experiences]="profile.experiences"></uc-experience-list>
  </section>
</section>

<!-- Educação -->
<section class="info-box" *ngIf="profile.courses?.length > 0">
  <header class="header">
    <h1 class="title">Educação</h1>
  </header>
  <section class="info">
    <uc-course-list
            [courses]="profile.courses"></uc-course-list>
  </section>
</section>
<!-- Idiomas -->
<section class="info-box" *ngIf="profile.idioms?.length > 0">
  <header class="header">
    <h1 class="title">Idioma</h1>
  </header>
  <section class="info">
    <uc-idiom-list
            [profileIdioms]="profile.idioms"></uc-idiom-list>
  </section>
</section>