<div class="col-md-3 info-ico">
  <i class="ico-edu"></i>
</div>
<div class="col-md-9 info-text">
  <h2 class="title">{{course.name}}</h2>
  <span class="title-desc">{{course.entity}}</span> <br>
  <span class="data">{{course.start | moment: 'MM/YY'}}</span> a
  <span class="data">{{course.end | moment: 'MM/YY'}}</span>
</div>