@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import 'assets/css/font-awesome.min.css';
@import 'assets/css/app.css';

/** fixes for modal */
.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop .fade .in {
    opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}