//DIN REGULAR
@font-face {
    font-family: 'din-regular';
    src: url('../fonts/din-regular.eot');
    src: url('../fonts/din-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-regular.woff2') format('woff2'),
         url('../fonts/din-regular.woff') format('woff'),
         url('../fonts/din-regular.ttf') format('truetype'),
         url('../fonts/din-regular.svg#din_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}