<section class="portfolio">
  <section id="image" class="section bordered">

    <section class="albums" *ngIf="!(currentAlbumId$ | async)">
      <header class="header">
        <h1 class="title">
          Meus Álbuns
        </h1>
        <h2 class="subtitle">
          Crie álbuns e adicione suas melhores fotos.
        </h2>
      </header>
      <div *ngIf="albums[0].medias.length < 6" class="alert alert-danger">
        Preencha o seu Composite com suas 6 melhores fotos para serem exibidas no seu perfil.
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let album of albums">
          <figure class="album">
            <div class="album-image" [ngClass]="{ add: !album.medias[0] }" (click)="currentAlbumId$.next(album.id)"
                 [ngStyle]="{backgroundImage: 'url(' + ((album.medias[0] | entity: 'galleryMedias')?.media | entity: 'medias')?.formats?.medium +')'}">
              <div class="add-box" *ngIf="!album.medias[0]">
                <i class="ico-cam big"></i>
                Editar Álbum
              </div>
            </div>

            <div class="album-panel">
              <div class="album-title">
                {{album.name}}
              </div>
              <div class="edit-box">
                <i class="ico-delete" *ngIf="!album.main" (click)="deleteAlbum(album)"></i>
                <i class="ico-edit" (click)="currentAlbumId$.next(album.id)"></i>
              </div>
            </div>
          </figure>
        </div>
        <div class="col-md-4">
          <div class="album" (click)="addAlbum()">
            <div class="album-image  add image">
              <div class="add-box">
                <i class="ico-cam big"></i>
                Add Álbum
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="albums" *ngIf="currentAlbumId$ | async">
      <header class="header">
        <h1 class="title">
          Editar álbum
          <span class="pull-xs-right btn btn-xs btn-info " (click)="currentAlbumId$.next(null)">Voltar</span>
        </h1>
        <!--<h2 class="subtitle">-->
          <!--Crie álbuns e adicione suas melhores fotos.-->
        <!--</h2>-->
      </header>
      <h3 *ngIf="currentAlbum?.main">{{currentAlbum?.name}}</h3>
      <form [formGroup]="albumGroup" class="form-group" *ngIf="!currentAlbum?.main">
        <uc-extended-input
                [id]="'name'"
                [labelText]="'Nome'"
                [serverErrors]="serverErrors?.children?.name">
          <input id="name" type="text" formControlName="name" class="form-control" placeholder="Nome do album">
        </uc-extended-input>
      </form>
      
      <div class="row">
        <div class="col-md-4">
          <div class="album" (click)="imageInput.click()">
            <div class="album-image add image">
              <input style="display: none;" #imageInput type="file" ng2FileSelect
                     [uploader]="imageUploader" multiple/>
              <div class="add-box">
                <i class="ico-cam big"></i>
                Add Foto
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngFor="let galleryMedia of ((currentAlbumId|entity: 'galleries').medias | entities: 'galleryMedias')">
          <figure class="album">
            <div class="album-image" (click)="viewImage(galleryMedia)"
                 [ngStyle]="{backgroundImage: 'url(' + (galleryMedia.media | entity: 'medias')?.formats?.medium +')'}">
            </div>
            <div class="album-panel">
              <!--<div class="album-title">-->
                <!--{{(galleryMedia.media | entity: 'medias').name}}-->
              <!--</div>-->
              <div class="edit-box">
                <i class="ico-delete" (click)="deleteGalleryMedia(galleryMedia)"></i>
                <!--<i class="ico-edit" (click)="editImage()"></i>-->
              </div>
            </div>
          </figure>
        </div>
        <div class="col-md-4" *ngFor="let item of imageUploader.queue">
          <uc-album-image-progress [item]="item"></uc-album-image-progress>
        </div>

      </div>
      <footer class="submit-box">
        <button class="btn uc-btn btn-warning" (click)="currentAlbumId$.next(null)">
          Voltar
        </button>
      </footer>
    </section>
  </section>



  <!--<section id="video" class="section">-->
    <!--<header class="header">-->
      <!--<h1 class="title">-->
        <!--Vídeos-->
      <!--</h1>-->
      <!--<h2 class="subtitle">-->
        <!--Poste seu vídeo no Youtube ou no Vimeo e adicione o link abaixo.-->
      <!--</h2>-->
    <!--</header>-->
    <!--<section class="albums">-->
      <!--<div class="album">-->
        <!--<img src="" alt="Ensaio #1">-->
        <!--<div class="album-panel">-->
          <!--<div class="album-title">-->

          <!--</div>-->
          <!--<div class="edit-box">-->
            <!--<i class="ico-delete"></i>-->
            <!--<i class="ico-edit"></i>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="album add image">-->
        <!--<div class="add-box">-->
          <!--<i class="ico-video big"></i>-->
          <!--Add Video-->
        <!--</div>-->
      <!--</div>-->
    <!--</section>-->
  <!--</section>-->
</section>