//DIN REGULAR MEDIUM
@font-face {
    font-family: 'din-regular-medium';
    src: url('../fonts/din-medium.eot');
    src: url('../fonts/din-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-medium.woff2') format('woff2'),
         url('../fonts/din-medium.woff') format('woff'),
         url('../fonts/din-medium.ttf') format('truetype'),
         url('../fonts/din-medium.svg#din_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}